Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Store enum index innternally in FileAndFormat.
  src/classes/configuration.cpp
  src/gui/configurationtab_funcs.cpp
  src/gui/keywordwidgets/fileandformat_funcs.cpp
  src/io/export/coordinates.cpp
  src/io/export/data1d.cpp
  src/io/export/data2d.cpp
  src/io/export/data3d.cpp
  src/io/export/forces.cpp
  src/io/export/pairpotential.cpp
  src/io/export/trajectory.cpp
  src/io/export/values.cpp
  src/io/fileandformat.cpp
  src/io/fileandformat.h
  src/io/import/coordinates.cpp
  src/io/import/data1d.cpp
  src/io/import/data2d.cpp
  src/io/import/data3d.cpp
  src/io/import/forces.cpp
  src/io/import/trajectory.cpp
  src/io/import/values.cpp
  src/keywords/nodevalueenumoptions.h
  src/main/keywords_configuration.cpp
  src/modules/export_coordinates/process.cpp
  src/modules/export_pairpotentials/process.cpp
  src/modules/export_trajectory/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't store current enum in EnumOptions.
  src/base/enumoptions.h
  src/base/enumoptionsbase.h
  src/gui/keywordwidgets/nodevalueenumoptions_funcs.cpp
  src/gui/models/enumOptionsModel.cpp
  src/gui/models/enumOptionsModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix Website CI (#1336)
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/web.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

1334 Ignored Enumerations (#1337)
  src/base/enumoptions.h
  src/base/enumoptionsbase.h
  src/classes/configuration.cpp
  src/gui/configurationtab_funcs.cpp
  src/gui/keywordwidgets/fileandformat_funcs.cpp
  src/gui/keywordwidgets/nodevalueenumoptions_funcs.cpp
  src/gui/models/enumOptionsModel.cpp
  src/gui/models/enumOptionsModel.h
  src/io/export/coordinates.cpp
  src/io/export/data1d.cpp
  src/io/export/data2d.cpp
  src/io/export/data3d.cpp
  src/io/export/forces.cpp
  src/io/export/pairpotential.cpp
  src/io/export/trajectory.cpp
  src/io/export/values.cpp
  src/io/fileandformat.cpp
  src/io/fileandformat.h
  src/io/import/coordinates.cpp
  src/io/import/data1d.cpp
  src/io/import/data2d.cpp
  src/io/import/data3d.cpp
  src/io/import/forces.cpp
  src/io/import/trajectory.cpp
  src/io/import/values.cpp
  src/keywords/nodevalueenumoptions.h
  src/main/keywords_configuration.cpp
  src/modules/export_coordinates/process.cpp
  src/modules/export_pairpotentials/process.cpp
  src/modules/export_trajectory/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Pass correct secrets.
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Pass correct secrets. (#1340)
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Rename workflow, fix (ignored) paths.
  .github/workflows/benchmark.yml
Due: .azure-pipelines/pr.yml

Fix conan version.
  .github/workflows/benchmark.yml
Due: .azure-pipelines/pr.yml

Ignore benchmark.yml from other main workflows.
  .github/workflows/benchmark.yml
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Better display name.
  .github/workflows/benchmark.yml
Due: .azure-pipelines/pr.yml

Fix benchmarks workflow (#1341)
  .github/workflows/benchmark.yml
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Fix Module Names (#1330)
  src/gui/icons/modules_angle.svg
  src/gui/icons/modules_avgmol.svg
  src/gui/icons/modules_axisangle.svg
  src/gui/icons/modules_cn.svg
  src/gui/icons/modules_dangle.svg
  src/gui/icons/modules_gr.svg
  src/gui/icons/modules_sdf.svg
  src/gui/icons/modules_siterdf.svg
  src/gui/main.qrc
  src/modules/angle/angle.cpp
  src/modules/avgmol/avgmol.cpp
  src/modules/avgmol/gui/avgmolwidget.ui
  src/modules/axisangle/axisangle.cpp
  src/modules/dangle/dangle.cpp
  src/modules/sdf/sdf.cpp
  src/modules/siterdf/gui/siterdfwidget.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

return Messenger::error instead of false
  src/keywords/optionaldouble.cpp
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't catch module errors and obscure them on read.
  src/main/keywords_layer.cpp
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't try/catch in module constructors.
  src/modules/angle/angle.cpp
  src/modules/axisangle/axisangle.cpp
  src/modules/dangle/dangle.cpp
  src/modules/sdf/sdf.cpp
  src/modules/siterdf/siterdf.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1297 optional keyword exception handling (#1325)
  src/keywords/optionaldouble.cpp
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update changeversion script for changes to web config files.
  changeversion
Due: .azure-pipelines/pr.yml

Set version to 1.0.0.
  README.md
  web/main.toml
Due: none

Remove ssh verbosity.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Add release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Run release workflow on push, not PR.
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Package and publish example archives.
  .github/workflows/publish/action.yml
Due: .azure-pipelines/pr.yml

Update release version info.
  README.md
  web/main.toml
  web/static/include/old_releases.md
Due: none

Remove old Azure pipelines stuff.
  .azure-pipelines/continuous.yml
  .azure-pipelines/pr.yml
  .azure-pipelines/release.yml
  .azure-pipelines/templates/build-linux-releases.yml
  .azure-pipelines/templates/build-linux.yml
  .azure-pipelines/templates/build-osx.yml
  .azure-pipelines/templates/build-web.yml
  .azure-pipelines/templates/build-windows.yml
  .azure-pipelines/templates/code-quality-checks.yml
  .azure-pipelines/templates/create-release.yml
  .azure-pipelines/templates/install-nix.yml
  .azure-pipelines/templates/package-linux.yml
  .azure-pipelines/templates/package-osx.yml
  .azure-pipelines/templates/package-windows.yml
  .azure-pipelines/templates/push-harbor.yml
  .azure-pipelines/templates/set-short-hash.yml
  .azure-pipelines/web.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add action to update web version info and submit PR.
  .github/workflows/release.yml
  .github/workflows/update-release-info/action.yml
Due: .azure-pipelines/pr.yml

Remove now-defunct script.
  ci/scripts/list-releases
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump develop version to 1.1.0.
  CMakeLists.txt
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update status badges.
  README.md
Due: none

Bump develop version to 1.1.0. (#1346)
  CMakeLists.txt
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1295 Complete Release CI (#1345)
  .azure-pipelines/continuous.yml
  .azure-pipelines/pr.yml
  .azure-pipelines/release.yml
  .azure-pipelines/templates/build-linux-releases.yml
  .azure-pipelines/templates/build-linux.yml
  .azure-pipelines/templates/build-osx.yml
  .azure-pipelines/templates/build-web.yml
  .azure-pipelines/templates/build-windows.yml
  .azure-pipelines/templates/code-quality-checks.yml
  .azure-pipelines/templates/create-release.yml
  .azure-pipelines/templates/install-nix.yml
  .azure-pipelines/templates/package-linux.yml
  .azure-pipelines/templates/package-osx.yml
  .azure-pipelines/templates/package-windows.yml
  .azure-pipelines/templates/push-harbor.yml
  .azure-pipelines/templates/set-short-hash.yml
  .azure-pipelines/web.yml
  .github/workflows/publish/action.yml
  .github/workflows/release.yml
  .github/workflows/update-release-info/action.yml
  .github/workflows/website/action.yml
  README.md
  changeversion
  ci/scripts/list-releases
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
