Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build and Package
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: release_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Make a GUI release build
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Don't try and build docker
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

Re-enable mac and windows builds
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Fix resizing of primitive list.
  src/gui/render/primitivelist.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move linux packaging into a template
  .azure-pipelines/pr.yml
  .azure-pipelines/templates/package-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update packaging template to new directory
  .azure-pipelines/templates/package-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move linux release build into template
  .azure-pipelines/pr.yml
  .azure-pipelines/templates/build-linux-releases.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release handling of linux
  .azure-pipelines/release.yml
Due: none

Fix resizing of primitive list. (#874)
  src/gui/render/primitivelist.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't build linux packages on PR
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

enable allow for gui build
  src/gui/charts/procedure.cpp
  src/gui/charts/procedure.h
  src/gui/charts/procedurenode.h
  src/gui/charts/procedurenode_funcs.cpp
  src/gui/keywordwidgets/node.h
  src/gui/keywordwidgets/nodeandinteger.h
  src/gui/keywordwidgets/nodevector.h
  src/gui/keywordwidgets/nodevector_funcs.cpp
  src/gui/menu_configuration.cpp
  src/gui/models/procedureNodeModel.cpp
  src/gui/models/procedureNodeModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Enable continuous build
  .azure-pipelines/continuous.yml
  .azure-pipelines/templates/create-release.yml
  .azure-pipelines/templates/package-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't push to cachix if export isn't enabled.
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix cn pointer reference
  src/modules/calculate_cn/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename KeywordList to KeywordStore.
  src/gui/keywordwidgets/dialog.h
  src/gui/keywordwidgets/dialog_funcs.cpp
  src/gui/keywordwidgets/widget.hui
  src/gui/keywordwidgets/widget_funcs.cpp
  src/io/fileandformat.cpp
  src/io/fileandformat.h
  src/keywords/CMakeLists.txt
  src/keywords/group.cpp
  src/keywords/group.h
  src/keywords/store.cpp
  src/keywords/store.h
  src/module/module.cpp
  src/module/module.h
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  web/content/docs/developers/overviews/keywordoptions.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old file.
  src/keywords/linkto.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Change awful slot names.
  src/gui/keywordwidgets/bool.hui
  src/gui/keywordwidgets/bool_funcs.cpp
  src/gui/keywordwidgets/double.hui
  src/gui/keywordwidgets/double_funcs.cpp
  src/gui/keywordwidgets/enumoptions.hui
  src/gui/keywordwidgets/enumoptions_funcs.cpp
  src/gui/keywordwidgets/integer.hui
  src/gui/keywordwidgets/integer_funcs.cpp
  src/gui/keywordwidgets/species.hui
  src/gui/keywordwidgets/species_funcs.cpp
  src/gui/keywordwidgets/stdstring.hui
  src/gui/keywordwidgets/stdstring_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missing include.
  src/keywords/base.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use joinStrings.
  src/keywords/atomtypevector.cpp
  src/keywords/configurationvector.cpp
  src/keywords/elementvector.cpp
  src/keywords/function1d.cpp
  src/keywords/geometrylist.cpp
  src/keywords/modulegroups.cpp
  src/keywords/nodevector.cpp
  src/keywords/speciesvector.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove keyword old group files.
  src/keywords/group.cpp
  src/keywords/group.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tidy.
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect1d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't forget to register getters alongside setters with bespoke functions.
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move keyword data management to KeywordStore.
  src/gui/keywordwidgets/producers.h
  src/gui/speciestab_isotopologues.cpp
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/store.cpp
  src/keywords/store.h
  src/main/modules.cpp
  src/main/objects.cpp
  src/procedure/nodes/node.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused function.
  src/main/dissolve.h
  src/main/layers.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add ConfigurationModel.
  src/gui/models/CMakeLists.txt
  src/gui/models/configurationModel.cpp
  src/gui/models/configurationModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add group for Target-based keywords.
  src/gui/keywordwidgets/widget.hui
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/modulecontrolwidget.h
  src/gui/modulecontrolwidget.ui
  src/gui/modulecontrolwidget_funcs.cpp
  src/keywords/store.cpp
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reorganise target-style keywords in modules.
  src/modules/accumulate/init.cpp
  src/modules/analyse/init.cpp
  src/modules/atomshake/init.cpp
  src/modules/benchmark/init.cpp
  src/modules/bragg/init.cpp
  src/modules/calculate_angle/init.cpp
  src/modules/calculate_avgmol/init.cpp
  src/modules/calculate_axisangle/init.cpp
  src/modules/calculate_cn/init.cpp
  src/modules/calculate_dangle/init.cpp
  src/modules/calculate_rdf/init.cpp
  src/modules/calculate_sdf/init.cpp
  src/modules/checks/init.cpp
  src/modules/checkspecies/init.cpp
  src/modules/energy/init.cpp
  src/modules/epsr/init.cpp
  src/modules/export_coordinates/init.cpp
  src/modules/export_trajectory/init.cpp
  src/modules/forces/init.cpp
  src/modules/geomopt/init.cpp
  src/modules/import_trajectory/init.cpp
  src/modules/intrashake/init.cpp
  src/modules/md/init.cpp
  src/modules/molshake/init.cpp
  src/modules/neutronsq/init.cpp
  src/modules/rdf/init.cpp
  src/modules/sq/init.cpp
  src/modules/xraysq/init.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Nullify pointers.
  src/procedure/nodes/process2d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Preserve order of keyword groups.
  src/keywords/store.cpp
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add ConfigurationKeyword and update ConfigurationVectorKeyword..
  src/gui/keywordwidgets/configuration.hui
  src/gui/keywordwidgets/configuration_funcs.cpp
  src/gui/keywordwidgets/configurationvector.h
  src/gui/keywordwidgets/configurationvector.ui
  src/gui/keywordwidgets/configurationvector_funcs.cpp
  src/keywords/CMakeLists.txt
  src/keywords/configuration.cpp
  src/keywords/configuration.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
