Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

renamed to caluclateexpressionprocdurenode and changed execute
  src/procedure/nodes/calculateexpression.cpp
  src/procedure/nodes/calculateexpression.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't put FileAndFormat keywords in separate groups.
  src/modules/export_coordinates/exportcoords.cpp
  src/modules/export_pairpotentials/exportpp.cpp
  src/modules/export_trajectory/exporttraj.cpp
  src/modules/import_trajectory/importtraj.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clear angle, torsion, and improper terms before regenerating.
  src/classes/species.h
  src/classes/species_intra.cpp
  src/gui/menu_species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow form editing in models.
  src/gui/models/speciesAngleModel.cpp
  src/gui/models/speciesBondModel.cpp
  src/gui/models/speciesImproperModel.cpp
  src/gui/models/speciesTorsionModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update links, remove forum.
  README.md
Due: none

Update links, remove forum. (#1393)
  README.md
Due: none

Use validNArgs() to check when changing form.
  src/classes/interactionpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Actually update the GUI.
  src/gui/menu_file.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

EPSR sampling and range (#1382)
  examples/water/input.txt
  src/math/gaussfit.cpp
  src/math/gaussfit.h
  src/math/mc.cpp
  src/math/mc.h
  src/math/poissonfit.cpp
  src/math/poissonfit.h
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1359 CoordinateSet Explosions (#1383)
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/md/functions.cpp
  src/modules/md/md.h
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Detach terms, and do things in the right order. (#1384)
  src/gui/importligpargendialog_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix Warnings 04/2023 (#1385)
  src/classes/speciessite.cpp
  src/data/ff/atomtype.cpp
  src/gui/models/masterAngleModel.cpp
  src/gui/models/masterBondModel.cpp
  src/gui/models/masterImproperModel.cpp
  src/gui/render/axes.cpp
  src/modules/energy/process.cpp
  src/modules/forces/process.cpp
  src/neta/ring.cpp
  src/procedure/nodes/sequence.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't put FileAndFormat keywords in separate groups. (#1390)
  src/modules/export_coordinates/exportcoords.cpp
  src/modules/export_pairpotentials/exportpp.cpp
  src/modules/export_trajectory/exporttraj.cpp
  src/modules/import_trajectory/importtraj.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clear angle, torsion, and improper terms before regenerating. (#1391)
  src/classes/species.h
  src/classes/species_intra.cpp
  src/gui/menu_species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow form editing in models. (#1392)
  src/gui/models/speciesAngleModel.cpp
  src/gui/models/speciesBondModel.cpp
  src/gui/models/speciesImproperModel.cpp
  src/gui/models/speciesTorsionModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Actually update the GUI. (#1400)
  src/gui/menu_file.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

format change
  src/procedure/nodes/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

error fix
  src/procedure/nodes/calculateexpression.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove redundant release terms
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Move to packaged qt
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

Use validNArgs() to check when changing form. (#1394)
  src/classes/interactionpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

unit procudure fixed
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move official Qt version to 6.4.2 (#1366)
  .github/workflows/release.yml
  .github/workflows/setup/action.yml
  CMakeLists.txt
  flake.lock
  flake.nix
  nix/qt/patches/qtbase-tzdir.patch
  nix/qt/srcs.nix
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

value_ changed and bracers deleted for expression
  src/procedure/nodes/calculateexpression.cpp
  src/procedure/nodes/calculateexpression.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update ReleaseNotes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Update release version info.
  README.md
  web/main.toml
  web/static/include/old_releases.md
Due: none

Extend unit test.
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

unit test for expression
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

First cmake-presets
  CMakePresets.json
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
