Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Update benchmarks.
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
Due: .azure-pipelines/pr.yml

At home-manager modules to nix file
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

Add instructions for home-manager
  web/docs/userguide/developers/idaaas.md
Due: none

Tweak documentation into Hugo/Dissolve formatting.
  web/docs/userguide/developers/idaaas.md
Due: none

Fix assertion.
  src/modules/forces/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added in clearmoduledata function
  src/gui/gui_funcs.cpp
  src/gui/maintabswidget.hui
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added in comment
  src/gui/maintabswidget.hui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

changed reconcile and setup back
  src/gui/gui_funcs.cpp
  src/gui/maintabswidget.hui
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

setup needed to store pointer
  src/gui/gui_funcs.cpp
  src/gui/maintabswidget.hui
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

calculateexpression node for expressions as quantities (#1381)
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/calculateexpression.cpp
  src/procedure/nodes/calculateexpression.h
  src/procedure/nodes/node.h
  src/procedure/nodes/nodes.h
  unit/CMakeLists.txt
  unit/classes/CMakeLists.txt
  unit/procedure/CMakeLists.txt
  unit/procedure/calculateexpression.cpp
  unit/procedure/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Kernel Tidying (1398 pt 1) (#1401)
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  src/classes/CMakeLists.txt
  src/classes/energykernel.cpp
  src/classes/energykernel.h
  src/classes/forcekernel.cpp
  src/classes/forcekernel.h
  src/classes/scaledenergykernel.cpp
  src/classes/scaledenergykernel.h
  src/modules/atomshake/process.cpp
  src/modules/energy/functions.cpp
  src/modules/energy/process.cpp
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/geomopt/geomopt.h
  src/modules/intrashake/process.cpp
  src/modules/md/functions.cpp
  src/modules/md/process.cpp
  src/modules/molshake/process.cpp
  tests/_data/dlpoly/hexane200_bound/CONFIG
  tests/_data/dlpoly/hexane200_bound/CONTROL
  tests/_data/dlpoly/hexane200_bound/FIELD
  tests/_data/dlpoly/hexane200_bound/OUTPUT
  tests/_data/dlpoly/hexane200_bound/REVCON
  tests/_data/dlpoly/hexane200_bound/REVIVE
  tests/_data/dlpoly/hexane200_bound/STATIS
  tests/_data/dlpoly/hexane200_unbound/CONFIG
  tests/_data/dlpoly/hexane200_unbound/CONTROL
  tests/_data/dlpoly/hexane200_unbound/FIELD
  tests/_data/dlpoly/hexane200_unbound/OUTPUT
  tests/_data/dlpoly/hexane200_unbound/REVCON
  tests/_data/dlpoly/hexane200_unbound/REVIVE
  tests/_data/dlpoly/hexane200_unbound/STATIS
  unit/CMakeLists.txt
  unit/classes/cells.cpp
  unit/ff/CMakeLists.txt
  unit/ff/forcesModule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix argument pass-through on singularity (#1407)
  flake.nix
Due: .azure-pipelines/pr.yml

Take Molecule from Atom.
  src/kernels/geometry.cpp
  src/kernels/geometry.h
  src/modules/atomshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move to producer.
  src/kernels/CMakeLists.txt
  src/kernels/energy.cpp
  src/kernels/energy.h
  src/kernels/force.cpp
  src/kernels/force.h
  src/kernels/producer.cpp
  src/kernels/producer.h
  src/modules/atomshake/process.cpp
  src/modules/energy/functions.cpp
  src/modules/energy/process.cpp
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/molshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move kernels to separate dir.
  CMakeLists.txt
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  src/CMakeLists.txt
  src/classes/CMakeLists.txt
  src/kernels/CMakeLists.txt
  src/kernels/energy.cpp
  src/kernels/energy.h
  src/kernels/force.cpp
  src/kernels/force.h
  src/modules/atomshake/process.cpp
  src/modules/energy/functions.cpp
  src/modules/energy/process.cpp
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/molshake/process.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update benchmarks and tests.
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add base (data) and geometry kernel.
  src/kernels/CMakeLists.txt
  src/kernels/base.cpp
  src/kernels/base.h
  src/kernels/geometry.cpp
  src/kernels/geometry.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added in message before clearing
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Disable unnecessary bits (just leave Linux singularity stuff).
  .azure-pipelines/release.yml
Due: none

1306 clear module data (#1412)
  src/gui/gui_funcs.cpp
  src/gui/maintabswidget.hui
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

EPSR sampling and range (#1382)
  examples/water/input.txt
  src/math/gaussfit.cpp
  src/math/gaussfit.h
  src/math/mc.cpp
  src/math/mc.h
  src/math/poissonfit.cpp
  src/math/poissonfit.h
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

1397 Kernel Producers (1398 pt 2) (#1403)
  CMakeLists.txt
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  src/CMakeLists.txt
  src/classes/CMakeLists.txt
  src/classes/energykernel.h
  src/classes/forcekernel.cpp
  src/classes/forcekernel.h
  src/kernels/CMakeLists.txt
  src/kernels/base.cpp
  src/kernels/base.h
  src/kernels/energy.cpp
  src/kernels/energy.h
  src/kernels/force.cpp
  src/kernels/force.h
  src/kernels/geometry.cpp
  src/kernels/geometry.h
  src/kernels/producer.cpp
  src/kernels/producer.h
  src/modules/atomshake/process.cpp
  src/modules/energy/functions.cpp
  src/modules/energy/process.cpp
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/molshake/process.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fine-grain energy return result and add flexibility.
  src/kernels/energy.cpp
  src/kernels/energy.h
  src/modules/atomshake/process.cpp
  src/modules/energy/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/molshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add default extended energy functions.
  src/kernels/energy.cpp
  src/kernels/energy.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update tests and benchmarks.
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  unit/classes/cells.cpp
  unit/ff/forcesModule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Same for forces.
  src/kernels/force.cpp
  src/kernels/force.h
  src/kernels/geometry.cpp
  src/kernels/geometry.h
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release version info.
  README.md
  web/main.toml
  web/static/include/old_releases.md
Due: none

1398 Kernel Extension (#1398 pt 3) (#1410)
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  src/kernels/energy.cpp
  src/kernels/energy.h
  src/kernels/force.cpp
  src/kernels/force.h
  src/kernels/geometry.cpp
  src/kernels/geometry.h
  src/modules/atomshake/process.cpp
  src/modules/energy/process.cpp
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/molshake/process.cpp
  unit/classes/cells.cpp
  unit/ff/forcesModule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add base external potential class.
  CMakeLists.txt
  src/kernels/CMakeLists.txt
  src/kernels/potentials/CMakeLists.txt
  src/kernels/potentials/base.cpp
  src/kernels/potentials/base.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Store external potentials in Configuration.
  src/classes/CMakeLists.txt
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/classes/configuration_potentials.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add spherical external potential.
  src/kernels/potentials/CMakeLists.txt
  src/kernels/potentials/spherical.cpp
  src/kernels/potentials/spherical.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
