Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macos-latest
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Take context in Configuration generator functions.
  src/classes/configuration.cpp
  src/classes/configuration.h
  src/gui/configurationtab_funcs.cpp
  src/gui/menu_configuration.cpp
  src/main/io.cpp
  src/modules/benchmark/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Apply suggestions from code review
  src/modules/md/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add new ctor to take coordinate sets node over species.
  src/procedure/nodes/add.cpp
  src/procedure/nodes/add.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update examples.
  examples/benzene/input.txt
  examples/water/input.txt
Due: none

Utilise coordinate set nodes in all configuration generator options.
  src/gui/menu_configuration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correctly update node values and validity.
  src/gui/keywordwidgets/nodevalueenumoptions.h
  src/gui/keywordwidgets/nodevalueenumoptions_funcs.cpp
  src/gui/keywordwidgets/vec3nodevalue_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Formatting in benchmark file.
  benchmark/forces/forces_benchmark.cpp
Due: .azure-pipelines/pr.yml

Null species is a valid keyword state.
  src/keywords/species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use if/else(CONAN) in benchmark build, fix link of antlr4-runtime.
  benchmark/CMakeLists.txt
Due: .azure-pipelines/pr.yml

Coordinate Sets for Species (#1004)
  benchmark/CMakeLists.txt
  benchmark/forces/forces_benchmark.cpp
  examples/benzene/input.txt
  examples/water/input.txt
  src/classes/configuration.cpp
  src/classes/configuration.h
  src/classes/forcekernel.cpp
  src/classes/forcekernel.h
  src/classes/species.cpp
  src/classes/species.h
  src/classes/species_io.cpp
  src/gui/configurationtab_funcs.cpp
  src/gui/keywordwidgets/nodevalueenumoptions.h
  src/gui/keywordwidgets/nodevalueenumoptions_funcs.cpp
  src/gui/keywordwidgets/species_funcs.cpp
  src/gui/keywordwidgets/vec3nodevalue_funcs.cpp
  src/gui/menu_configuration.cpp
  src/keywords/species.cpp
  src/keywords/store.cpp
  src/main/io.cpp
  src/modules/benchmark/process.cpp
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/md/functions.cpp
  src/modules/md/md.h
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/add.cpp
  src/procedure/nodes/add.h
  src/procedure/nodes/context.cpp
  src/procedure/nodes/context.h
  src/procedure/nodes/coordinatesets.cpp
  src/procedure/nodes/coordinatesets.h
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/nodes.h
  src/procedure/nodes/sequence.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Make benchmarks use ANTLR4 from Conan.
  .github/workflows/benchmark_linux.yml
Due: .azure-pipelines/pr.yml

Download ANTLR4 Java for benchmarks.
  .github/workflows/benchmark_linux.yml
Due: .azure-pipelines/pr.yml

Get the name right.
  .github/workflows/benchmark_linux.yml
Due: .azure-pipelines/pr.yml

#1022: Added copyright stuff, and changed the pairPotential_ name to serializablePairPotential_
  .gitignore
  src/classes/serializablepairpotential.cpp
  src/classes/serializablepairpotential.h
  src/main/dissolve.cpp
  src/main/dissolve.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

#1022: Removed windbuild.ps1
  windbuild.ps1
Due: .azure-pipelines/pr.yml

#1022: Restored the gitignore file
  .gitignore
Due: .azure-pipelines/pr.yml

Add toml11 nix file
  flake.nix
  nix/toml11.nix
Due: .azure-pipelines/pr.yml

#899: Fixed a build bug
  src/classes/isotopologue.cpp
  src/classes/speciesangle.cpp
  src/classes/speciesimproper.cpp
  src/classes/speciestorsion.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

#899: Replaced all if(size() > 0) with if(!empty())
  src/classes/atomtype.cpp
  src/classes/species.cpp
  src/classes/speciesangle.cpp
  src/classes/speciesbond.cpp
  src/classes/speciesimproper.cpp
  src/classes/speciessite.cpp
  src/classes/speciestorsion.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

#899: Fixed another build error
  src/classes/atomtype.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Accept any version 4 Antlr on the Mac
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Accept any version 4 Antlr on Mac
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix update / table columns in forcefield tab.
  src/gui/forcefieldtab.h
  src/gui/forcefieldtab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't generate coordinates sets for atomic species.
  src/procedure/nodes/coordinatesets.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't add CoordinateSet nodes for atomic species in generators, name Add nodes, and reduce code.
  src/gui/menu_configuration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't force generic names on nodes, and auto-nice names.
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/sequence.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Show node name after node type.
  src/gui/models/procedureModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Grab pointer first.
  src/gui/models/procedureNodeModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Display icon in ProcedureModel.
  src/gui/models/procedureModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Try and pin antlr version on Mac
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

#899: Disabled the toml code since it's not complete
  src/main/dissolve.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Give up on Antlr version pinning
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add text to options label.
  src/gui/keywordwidgets/fileandformat.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Ignore static img directory.
  web/static/.gitignore
Due: none

Include std::any in CIFImportParser
  src/io/import/CIFImportParser.g4
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Accept any version 4 antlr on Mac OS
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Just upgrade to antlr 4.10.1
  .azure-pipelines/templates/build-osx.yml
  conanfile.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Try and get the Mac to use a specfici ANTLR jar file
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Help cmake find antlr
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
