Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

use cmake preset env vars
  .github/workflows/msvc.yml
Due: .azure-pipelines/pr.yml

remove option to set system level env vars
  develop.ps1
Due: .azure-pipelines/pr.yml

pin to conan2
  develop.ps1
Due: .azure-pipelines/pr.yml

update ci for new workflow, ensure normalised paths
  .github/workflows/msvc.yml
  develop.ps1
Due: .azure-pipelines/pr.yml

export conan home
  .github/workflows/msvc.yml
  develop.ps1
Due: .azure-pipelines/pr.yml

include test packages when on msvc dev and debug mode
  conanfile.py
  develop.ps1
Due: .azure-pipelines/pr.yml

debug mode
  .github/workflows/msvc.yml
Due: .azure-pipelines/pr.yml

conan gome
  develop.ps1
Due: .azure-pipelines/pr.yml

literal conan home
  develop.ps1
Due: .azure-pipelines/pr.yml

gtest not available on windows via our current conan setup - use release mode
  .github/workflows/msvc.yml
Due: .azure-pipelines/pr.yml

debug mode 2
  .github/workflows/msvc.yml
Due: .azure-pipelines/pr.yml

remove unused path
  develop.ps1
Due: .azure-pipelines/pr.yml

build: Add action to free up space on Linux, run on QC step. (#2245)
  .github/workflows/build/linux/action.yml
  .github/workflows/linux-free-up-space/action.yml
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

doc: Update compilation instructions. (#2244)
  web/docs/userguide/get/compilation.md
Due: none

refactor: Refer to triangular rather than half-matrices (#2243)
  src/classes/histogramSet.cpp
  src/classes/histogramSet.h
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/math/gj.cpp
  src/templates/algorithms.h
  src/templates/array2D.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Fix path to examples/_index.md in website build (#2240)
  .github/workflows/_website.yml
Due: .azure-pipelines/pr.yml

bragg test doesn't compile in CI due to presence of long string - revert to release
  .github/workflows/msvc.yml
  web/docs/userguide/developers/vs2022.md
Due: .azure-pipelines/pr.yml

fix: Update VS2022 develop branch (#2241)
  .github/workflows/msvc.yml
  .gitignore
  conanfile.py
  develop.ps1
  web/docs/userguide/developers/vs2022.md
Due: .azure-pipelines/pr.yml

data1d import node
  src/io/import/data1D.cpp
  src/io/import/data1D.h
  src/nodes/data1DImport.cpp
  src/nodes/data1DImport.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

some changes 1
  src/nodes/data1DImport.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

some changes 2 - refactor data1dimportfileformat xtor, node vars
  src/io/import/data1D.cpp
  src/io/import/data1D.h
  src/nodes/data1DImport.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

import configuration coordinates node part 1
  src/nodes/importConfigurationCoordinates.cpp
  src/nodes/importConfigurationCoordinates.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Copy data to Interpolator to reinstate copy constructor, privatise interpolate() function.
  src/classes/pairPotential.cpp
  src/math/interpolator.cpp
  src/math/interpolator.h
  tests/intramolecular/angles.cpp
  tests/intramolecular/bonds.cpp
  tests/intramolecular/torsions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

provide enum options for coordinate import format
  src/io/import/coordinates.cpp
  src/io/import/coordinates.h
  src/nodes/importConfigurationCoordinates.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

forward declare pointer type
  src/nodes/importConfigurationCoordinates.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Return full array of interpolated values for efficiency.
  src/classes/scatteringMatrix.cpp
  src/math/error.cpp
  src/math/interpolator.cpp
  src/math/interpolator.h
  src/modules/compare/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

move enum options out of class
  src/io/import/coordinates.cpp
  src/io/import/coordinates.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

static enum option getter
  src/io/import/coordinates.cpp
  src/io/import/coordinates.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

edge divisions
  src/nodes/data1DImport.cpp
  src/nodes/importConfigurationCoordinates.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

pointer data1d edge to neutronsq
  src/nodes/data1DImport.cpp
  src/nodes/neutronSQ/neutronSQ.cpp
  src/nodes/neutronSQ/neutronSQ.h
  src/nodes/neutronSQ/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

clang format
  src/nodes/importConfigurationCoordinates.cpp
  src/nodes/neutronSQ/neutronSQ.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
