Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Basic UI update.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Working sheet for all n/m.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tidy up.
  src/gui/createNanotubeSpeciesDialog.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

More.
  src/gui/createNanotubeSpeciesDialog.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

UI improvements, centre generated tube.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Better UI and behaviour.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

idy up and remove fractional tube multiplier.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Extend tube by multiples along c.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Partial implementation of edge tidying.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Closer.
  src/gui/createNanotubeSpeciesDialog.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Working tidy up of non-periodic species.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Termination.
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename dialog.
  src/gui/CMakeLists.txt
  src/gui/createGrapheneSpeciesDialog.cpp
  src/gui/createGrapheneSpeciesDialog.h
  src/gui/createGrapheneSpeciesDialog.ui
  src/gui/gui.h
  src/gui/gui.ui
  src/gui/menu_species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add AB to contributors.
  web/docs/_index.md
Due: none

Fix typo.
  web/docs/examples/_index.md
Due: none

More explicit text placeholder names.
  .github/workflows/_website.yml
  web/docs/_index.md
Due: .azure-pipelines/pr.yml

Another typo.
  web/docs/examples/_index.md
Due: none

Fix links to example data archives.
  .github/workflows/_website.yml
  web/docs/examples/_index.md
Due: .azure-pipelines/pr.yml

More links to example data.
  web/docs/examples/argon/_index.md
  web/docs/examples/benzene/_index.md
  web/docs/examples/cu-btc/_index.md
  web/docs/examples/emim-oac/_index.md
  web/docs/examples/post-processing/_index.md
  web/docs/examples/silica/_index.md
  web/docs/examples/water/_index.md
  web/layouts/shortcodes/exampledatalink.html
Due: none

Tweak a couple of input example files.
  examples/argon/input.txt
  examples/water/input.txt
Due: none

Wilcards in conanfile options.
  cmake/Modules/conan-dissolve.cmake
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Install conan2.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Move to onetbb.
  cmake/Modules/conan-dissolve.cmake
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Basic changes to Windows build.
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Move to Conan2.
  cmake/Modules/conan-dissolve.cmake
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Check status when downloading Conan CMake integration, and move to conan2.
  cmake/Modules/conan-dissolve.cmake
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old conan commands from Windows build.
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Update minimum version, set LANGUAGES at project spec level.
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

No such option.
  cmake/Modules/conan-dissolve.cmake
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Must add Conan module to top-level includes list.
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update clustering.cpp
  src/modules/clustering/clustering.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update process.cpp
  src/modules/clustering/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Apply suggestions from code review
  src/modules/clustering/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update clustering.h
  src/modules/clustering/clustering.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Formatting
  src/modules/clustering/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Formatting 2
  src/modules/clustering/clustering.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename initial species site vectors
  src/modules/clustering/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Adjusted comments
  src/modules/clustering/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
