Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Don't forget to actually pass nixHash to _qc.yml.
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Missing dollar.
  .github/workflows/build/action.yml
Due: .azure-pipelines/pr.yml

Silly mistake.
  .github/workflows/build/action.yml
Due: .azure-pipelines/pr.yml

Missing shell property.
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

Update .github/workflows/pr.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Disable energy benchmark
  benchmark/modules/CMakeLists.txt
Due: .azure-pipelines/pr.yml

Re-enable benchmarks in PR
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Reset repository to HEAD before attempting to commit benchmark results.
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

Update benchmark action repo.
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

code review
  tests/classes/potentialSet.cpp
  web/docs/userguide/modules/forcefield/epsrmanager/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 0537da102e33212d4082e406a7eba7e011756246
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Make inputs mandatory, actually pass the required information.
  .github/workflows/_publish.yml
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/legacy.yml
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 66af3a3e8013a304cc34d49a58a31c1c9776a20c
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

broadenedTR added
  src/modules/tr/process.cpp
  src/modules/tr/tr.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

copy and ft bound and unbound
  src/modules/tr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added in plots for broadened
  src/modules/tr/gui/trWidget.h
  src/modules/tr/gui/trWidget.ui
  src/modules/tr/gui/trWidgetFuncs.cpp
  src/modules/tr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

wightedTR equation corrected
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/modules/tr/process.cpp
  src/modules/tr/tr.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

gr testing
  src/modules/tr/gui/trWidget.h
  src/modules/tr/gui/trWidgetFuncs.cpp
  src/modules/tr/process.cpp
  src/modules/tr/tr.cpp
  src/modules/tr/tr.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

try FT to get TR
  src/modules/tr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix revert
  src/modules/tr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Revert "wightedTR equation corrected"
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/modules/tr/process.cpp
  src/modules/tr/tr.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

corrected FT of SQ
  src/modules/tr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

update format
  src/modules/tr/gui/trWidgetFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for d55dad5c319aa2bc21bc8834c697b18613458b83
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Simplify down to just looking at generator pointers
  src/gui/models/nodeGraph/CMakeLists.txt
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/generatorGraphModel.cpp
  src/gui/models/nodeGraph/generatorGraphModel.h
  src/gui/models/nodeGraph/instances/all.h
  src/gui/models/nodeGraph/instances/generatorGraphNode.cpp
  src/gui/models/nodeGraph/instances/generatorGraphNode.h
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/models/nodeGraph/instances/generatorNode.h
  src/gui/models/nodeGraph/nodeWrapper.h
  tests/gui/graphModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Start delegating based on generator type
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/qml/nodeGraph/GeneratorDelegate.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 7ddf477d238b58bbc50e983111fa4ba25d9ba890
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

More data from different node types
  src/gui/models/nodeGraph/CMakeLists.txt
  src/gui/models/nodeGraph/generatorGraphModel.h
  src/gui/models/nodeGraph/instances/configuration.cpp
  src/gui/models/nodeGraph/instances/configuration.h
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/qml/nodeGraph/GeneratorDelegate.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow accessing individual lengths
  src/gui/models/nodeGraph/generatorGraphModel.h
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/qml/nodeGraph/GeneratorDelegate.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move keyword into own file
  src/gui/models/nodeGraph/CMakeLists.txt
  src/gui/models/nodeGraph/generatorGraphModel.h
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/models/nodeGraph/keywords.cpp
  src/gui/models/nodeGraph/keywords.h
  src/gui/qml/nodeGraph/GeneratorDelegate.qml
  tests/gui/graphModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Start modifying nodes
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/models/nodeGraph/keywords.cpp
  src/gui/models/nodeGraph/keywords.h
  src/gui/qml/nodeGraph/GeneratorDelegate.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

remove new but now outdated workflow
  .github/workflows/msvc-developer.yml
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

extra comment based help in script
  develop.ps1
Due: .azure-pipelines/pr.yml

update developer docs
  web/docs/userguide/developers/vs2022.md
Due: none

update developer docs 2
  web/docs/userguide/developers/vs2022.md
Due: none

initial commit
  .github/workflows/msvcDev.yml
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

try different path to trigger job
  .github/workflows/msvcDev.yml
Due: .azure-pipelines/pr.yml

on pull request
  .github/workflows/msvcDev.yml
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for a61638e07041b559593c45e8f3a3f8e2d3e643c7
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

try and trigger job
  develop.ps1
Due: .azure-pipelines/pr.yml
