Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Module constructor throwing (#1342)
  src/main/keywords_layer.cpp
  src/modules/angle/angle.cpp
  src/modules/axisangle/axisangle.cpp
  src/modules/dangle/dangle.cpp
  src/modules/registry.cpp
  src/modules/sdf/sdf.cpp
  src/modules/siterdf/siterdf.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Push main website on continuous, not release.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Push main website on continuous, not release. (#1348)
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Build web on push to any release branch.
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Update main docs page, remove duplicate info from user guide index.
  web/docs/_index.md
  web/docs/userguide/_index.md
Due: none

Exclude continuous/ and previous/ doc dirs so we don't delete them.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

More doc updates (#1349)
  .github/workflows/web.yml
  .github/workflows/website/action.yml
  web/docs/_index.md
  web/docs/userguide/_index.md
Due: .azure-pipelines/pr.yml

Group members are doctors too.
  web/docs/_index.md
Due: none

Hide edit links, and don't bother rewriting in CI.
  .github/workflows/website/action.yml
  web/assets/scss/_styles_project.scss
Due: .azure-pipelines/pr.yml

Clarify target deployment version, rename destination dirs.
  .github/workflows/web.yml
  .github/workflows/website/action.yml
  web/docs/_index.md
Due: .azure-pipelines/pr.yml

Full version extraction.
  .github/workflows/get-version/action.yml
Due: .azure-pipelines/pr.yml

Style documentation banner depending on deployment type.
  .github/workflows/website/action.yml
  web/assets/scss/_content.scss
  web/assets/scss/_variables_project.scss
Due: .azure-pipelines/pr.yml

Change text in docs index according to deployment type.
  .github/workflows/web.yml
  .github/workflows/website/action.yml
  web/docs.toml
  web/docs/_index.md
  web/layouts/shortcodes/documentationinfo.html
Due: .azure-pipelines/pr.yml

Update example index text to remove version-specifics.
  web/docs/examples/_index.md
Due: none

Web docs styling (#1350)
  .github/workflows/get-version/action.yml
  .github/workflows/web.yml
  .github/workflows/website/action.yml
  web/assets/scss/_content.scss
  web/assets/scss/_styles_project.scss
  web/assets/scss/_variables_project.scss
  web/docs.toml
  web/docs/_index.md
  web/docs/examples/_index.md
  web/layouts/shortcodes/documentationinfo.html
Due: .azure-pipelines/pr.yml

Move CLI option for restart file to correct group.
  src/main/cli.cpp
  web/docs/userguide/cli/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Should never need to generate a restart filename here.
  src/main/simulation.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't overwrite our restart filename when loading (any old) restart file.
  src/main/io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use member function.
  src/dissolve-gui.cpp
  src/main.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added deprecated keyword for UseHalfCellWidth
  src/modules/gr/gr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix restart file target (#1351)
  src/dissolve-gui.cpp
  src/main.cpp
  src/main/cli.cpp
  src/main/io.cpp
  src/main/simulation.cpp
  web/docs/userguide/cli/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release version info.
  README.md
  web/main.toml
Due: none

Only create PR if not on a preview release.
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Don't create a module that doesn't exist anymore!
  src/gui/menu_layer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Only create PR if not on a preview release. (#1353)
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Change to force CI.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
