Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Species Optimisation (#1296)
  src/gui/specieseditor_funcs.cpp
  src/gui/specieswidget_funcs.cpp
  src/modules/forces/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix copyright date on procedurewidget
  src/gui/procedurewidget.h
  src/gui/procedurewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move to clang-format 13
  flake.nix
  src/classes/data1dstore.cpp
  src/classes/data2dstore.cpp
  src/classes/isotopologues.cpp
  src/classes/masters.cpp
  src/classes/species.cpp
  src/keywords/atomtypevector.cpp
  src/keywords/modulevector.cpp
  src/keywords/nodebranch.cpp
  src/keywords/speciessitevector.cpp
  src/keywords/vector_intdouble.cpp
  src/keywords/vector_intstring.cpp
  src/keywords/vector_stringdouble.cpp
  src/main/io.cpp
  src/module/layer.cpp
  src/procedure/nodes/sequence.cpp
  src/procedure/nodevalue.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

formatting errors fixed and comments added
  src/math/interpolator.cpp
  src/math/interpolator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move to clang-format 13
  flake.nix
  src/classes/data1dstore.cpp
  src/classes/data2dstore.cpp
  src/classes/isotopologues.cpp
  src/classes/masters.cpp
  src/classes/species.cpp
  src/keywords/atomtypevector.cpp
  src/keywords/modulevector.cpp
  src/keywords/speciessitevector.cpp
  src/keywords/vector_intdouble.cpp
  src/keywords/vector_intstring.cpp
  src/keywords/vector_stringdouble.cpp
  src/main/io.cpp
  src/module/layer.cpp
  src/procedure/nodevalue.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix Interpolator declaration
  src/math/interpolator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add Interpolator benchmark
  benchmark/CMakeLists.txt
  benchmark/math/math_benchmark.cpp
Due: .azure-pipelines/pr.yml

Add helper script for adjusting CPU settings while running benchmarks
  scripts/linux-benchmark.sh
Due: none

Move y function
  src/math/interpolator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move robuest benchmark script
  scripts/linux-benchmark.sh
Due: none

reformat Interpolator benchmark
  benchmark/math/math_benchmark.cpp
Due: .azure-pipelines/pr.yml

Add manually-run cache workflow.
  .github/workflows/build/action.yml
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/cache.yml
Due: .azure-pipelines/pr.yml

moved double y(double x) logic to new function
  src/math/interpolator.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

double Interpolator::y(double x, int interval) included in new function
  src/math/interpolator.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused CACHIX_AUTH_TOKEN.
  .github/workflows/cache.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Single cache for all nix builds.
  .github/workflows/get-nix/action.yml
Due: .azure-pipelines/pr.yml

Cache Workflow (#1304)
  .github/workflows/build/action.yml
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/cache.yml
  .github/workflows/get-nix/action.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Try using nix-store import/export.
  .github/workflows/get-nix/action.yml
Due: .azure-pipelines/pr.yml

Fix glaring errors.
  .github/workflows/get-nix/action.yml
Due: .azure-pipelines/pr.yml

Nix Import / Export (#1307)
  .github/workflows/get-nix/action.yml
Due: .azure-pipelines/pr.yml

Conan caching for OSX, and move to separate step.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Debug windows packaging.
  .github/workflows/package/windows/action.yml
Due: .azure-pipelines/pr.yml

Add publishing stage, add Linux packaging.
  .github/workflows/build/action.yml
  .github/workflows/build/linux/action.yml
  .github/workflows/package/action.yml
  .github/workflows/package/linux/action.yml
  .github/workflows/package/osx/action.yml
  .github/workflows/package/windows/action.yml
  .github/workflows/publish/action.yml
  .github/workflows/set-short-hash/action.yml
Due: .azure-pipelines/pr.yml

Use exactly the same path specs.
  .github/workflows/package/windows/action.yml
Due: .azure-pipelines/pr.yml

Fix OSX conan stuff.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Attempt linux packaging.
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Test - always enable building of checks?
  flake.nix
Due: .azure-pipelines/pr.yml

Always Release mode.
  flake.nix
Due: .azure-pipelines/pr.yml

Switch nix logic, making non-gui the default.
  flake.nix
Due: .azure-pipelines/pr.yml

Different approach.
  .github/workflows/build/linux/action.yml
  .github/workflows/package/action.yml
  .github/workflows/package/linux/action.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Use bash properly.
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

Remove extra builds.
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Add kvm to nix system-features.
  .github/workflows/get-nix/action.yml
Due: .azure-pipelines/pr.yml

Fix Linux build/test/packaging.
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

Ignore paths in PR workflow.
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Tidy, remove unnecessary stuff.
  .github/workflows/build/action.yml
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/get-nix/action.yml
  .github/workflows/get-version/action.yml
  .github/workflows/package/action.yml
  .github/workflows/package/osx/action.yml
  .github/workflows/package/windows/action.yml
  .github/workflows/pr.yml
  .github/workflows/publish/action.yml
  .github/workflows/test/action.yml
Due: .azure-pipelines/pr.yml

More windows fixing.
  .github/workflows/package/windows/action.yml
Due: .azure-pipelines/pr.yml

More Linux stuff (tidy nix store before cache).
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

Don't quote when you need a glob!
  .github/workflows/package/windows/action.yml
Due: .azure-pipelines/pr.yml

Don't use fancy bash.
  .github/workflows/package/windows/action.yml
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
