Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Adjust tolerance.
  tests/classes/cells3.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix triclinic test, update tolerance again.
  tests/classes/cells3.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Check whether a species pointer is actually present before using it.
  src/generator/add.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Check species setup in coordinatesets node.
  src/generator/coordinateSets.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Lock cmake to v3 (Windows) (#2122)
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

doc: Fix image links for ModifierOSites and QSpecies (#2131)
  web/docs/userguide/modules/analysis/modifierosites/_index.md
  web/docs/userguide/modules/analysis/qspecies/_index.md
Due: none

build: Introduce recreate_release workflow (#2115)
  .github/workflows/create-release/action.yml
  .github/workflows/prepare_release.yml
  .github/workflows/recreate_release.yml
Due: .azure-pipelines/pr.yml

doc: Glass modules documentation (#2124)
  web/docs/userguide/modules/analysis/histogramcn/_index.md
  web/docs/userguide/modules/analysis/modifierosites/_index.md
  web/docs/userguide/modules/analysis/modifierosites/modifierosites.png
  web/docs/userguide/modules/analysis/qspecies/_index.md
  web/docs/userguide/modules/analysis/qspecies/qspecies.png
Due: none

build: Add missing GSL libs to OSX package (#2123)
  .github/workflows/build/osx/action.yml
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

build: Store ChangeLog.md in release branch (#2118)
  .github/workflows/detect_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/recreate_release.yml
Due: .azure-pipelines/pr.yml

fix: Checking species setup would crash if CoordinateSets were used (#2133)
  src/generator/add.cpp
  src/generator/coordinateSets.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Refactor skipTo
  src/base/cbor.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update developer docs to reflect new release workflow.
  web/docs/userguide/developers/releases.md
Due: none

Enable deserialisation of vectors of pointers
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor: Add framework for serialising and deserialising enum (#2135)
  src/base/enumOptions.h
  src/nodes/md/md.cpp
  src/nodes/md/md.h
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

address PR comments
  src/nodes/atomShake/atomShake.cpp
  src/nodes/atomShake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

clang format
  src/nodes/atomShake/process.cpp
  src/nodes/md/md.cpp
  src/nodes/md/md.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

clang format
  src/base/enumOptions.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

format 2
  src/base/enumOptions.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Argon nodes (Atomshake, MD) (#2128)
  src/base/enumOptions.h
  src/nodes/CMakeLists.txt
  src/nodes/atomShake.cpp
  src/nodes/atomShake/atomShake.cpp
  src/nodes/atomShake/atomShake.h
  src/nodes/atomShake/process.cpp
  src/nodes/md/helpers.cpp
  src/nodes/md/md.cpp
  src/nodes/md/md.h
  src/nodes/md/process.cpp
  src/nodes/parameter.h
  src/nodes/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Constructors to satisfy clang and cl.
  src/classes/cellArray.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

perf: Read arbitrarily small parts of CBOR files (#2130)
  src/base/cbor.cpp
  src/base/cbor.h
  tests/data/dissolve/input/simple_addition_graph.cbor
  tests/io/cbor.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Default ctor for Array3DIterator.
  src/classes/array3DIterator.cpp
  src/classes/array3DIterator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

configuration node
  src/nodes/configuration.cpp
  src/nodes/configuration.h
  src/nodes/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

clang format
  src/nodes/configuration.cpp
  src/nodes/configuration.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

See changelog.
  .github/workflows/_checkout.yml
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
