Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Rename Calculate-prefixed modules.
  web/docs/examples/benzene/step4.md
  web/docs/examples/benzene/step5.md
  web/docs/examples/benzene/step9.md
  web/docs/examples/emim-oac/step9.md
  web/docs/examples/post-processing/step5.md
  web/docs/examples/post-processing/step6.md
  web/docs/examples/silica/step7.md
  web/docs/examples/water/step10.md
  web/docs/examples/water/step9a.md
  web/docs/examples/water/step9b.md
  web/docs/examples/water/step9c.md
  web/docs/userguide/modules/analysis/angle/_index.md
  web/docs/userguide/modules/analysis/avgmol/_index.md
  web/docs/userguide/modules/analysis/axisangle/_index.md
  web/docs/userguide/modules/analysis/dangle/_index.md
  web/docs/userguide/modules/analysis/sdf/_index.md
  web/docs/userguide/modules/analysis/siterdf/_index.md
  web/docs/userguide/procedures/nodes/calculateanglenode.md
  web/docs/userguide/procedures/nodes/calculateaxisanglenode.md
Due: none

Remove (still TODO) restart file page.
  web/docs/userguide/developers/architecture.md
  web/docs/userguide/developers/overviews/datamanagement.md
  web/docs/userguide/inputfile/configurationblock.md
  web/docs/userguide/outputfiles/_index.md
  web/docs/userguide/outputfiles/restart.md
  web/docs/userguide/run/run.md
  web/docs/userguide/run/workflow.md
Due: none

Update neta.
  web/docs/userguide/ff/neta.md
Due: none

Rename forcefield term files to avoid clash.
  web/docs/userguide/ff/forms/ffangle.md
  web/docs/userguide/ff/forms/ffbond.md
  web/docs/userguide/ff/forms/ffimproper.md
  web/docs/userguide/ff/forms/fftorsion.md
  web/docs/userguide/inputfile/masterblock.md
  web/docs/userguide/inputfile/speciesblock.md
Due: none

Combine and simplify package usage guidelines.
  web/docs/userguide/get/packages.md
  web/docs/userguide/get/singularity.md
  web/docs/userguide/get/windows.md
Due: none

GUI description.
  web/docs/userguide/gui/_index.md
  web/docs/userguide/gui/configurationtab.md
  web/docs/userguide/gui/forcefieldtab.md
  web/docs/userguide/gui/layertab.md
  web/docs/userguide/gui/layertab.png
  web/docs/userguide/gui/moduletab.png
  web/docs/userguide/gui/speciestab.md
  web/docs/userguide/gui/tabs.png
Due: none

Update workflow.
  web/docs/userguide/guide/workflow.md
Due: none

More guide.
  examples/water/input.txt
  web/docs/userguide/gui/layertab.md
  web/docs/userguide/guide/commonissues.md
  web/docs/userguide/guide/equilibration_energy.png
  web/docs/userguide/guide/restarting.md
  web/docs/userguide/guide/workflow.md
Due: none

Manually update last release info.
  README.md
  web/main.toml
  web/static/include/old_releases.md
Due: none

Manage expectations.
  web/docs/userguide/guide/commonissues.md
  web/docs/userguide/guide/expectations.md
Due: none

Fix action.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

More fixing
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

START HERE - WIP Common issues guide.
  web/docs/userguide/guide/commonissues.md
Due: none

optioanalInt fixes
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Adjust layout of ProcedureWidget, and add hidable button to execute procedure.
  src/gui/configurationtab.h
  src/gui/configurationtab.ui
  src/gui/configurationtab_funcs.cpp
  src/gui/modulecontrolwidget_funcs.cpp
  src/gui/procedurewidget.h
  src/gui/procedurewidget.ui
  src/gui/procedurewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP Move to ProcedureWidgetEditor (needs TOML).
  src/gui/CMakeLists.txt
  src/gui/configurationtab_funcs.cpp
  src/gui/modulecontrolwidget_funcs.cpp
  src/gui/procedureeditordialog.h
  src/gui/procedureeditordialog.ui
  src/gui/procedureeditordialog_funcs.cpp
  src/gui/procedurewidget.h
  src/gui/procedurewidget.ui
  src/gui/procedurewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added suggested changes
  src/keywords/base.cpp
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

format change
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Force installation of conan 1.58.0.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

REMOVE Just OSX builds.
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Stop creating restartable keywords twice. (#1322)
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1244 Restart File Renaming (#1324)
  src/gui/gui_funcs.cpp
  src/main.cpp
  src/main/dissolve.h
  src/main/io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Force install conan 1.58.0 via pip3.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Request conan 1.58.0 via nix.
  flake.nix
Due: .azure-pipelines/pr.yml

moved name function back
  src/keywords/base.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Resist Conan 2.0 (#1331)
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  flake.nix
Due: .azure-pipelines/pr.yml

added exception handling to optionaldouble
  src/keywords/optionaldouble.cpp
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

adedd in reference to name() function
  src/keywords/optionaldouble.cpp
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Wrong slashes in paths.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Wrong slashes in paths. (#1335)
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Fix module icon names.
  src/gui/icons/modules_angle.svg
  src/gui/icons/modules_avgmol.svg
  src/gui/icons/modules_axisangle.svg
  src/gui/icons/modules_cn.svg
  src/gui/icons/modules_dangle.svg
  src/gui/icons/modules_gr.svg
  src/gui/icons/modules_sdf.svg
  src/gui/icons/modules_siterdf.svg
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix some module names after recent renaming.
  src/modules/angle/angle.cpp
  src/modules/avgmol/avgmol.cpp
  src/modules/axisangle/axisangle.cpp
  src/modules/dangle/dangle.cpp
  src/modules/sdf/sdf.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix GUI widget window titles.
  src/modules/avgmol/gui/avgmolwidget.ui
  src/modules/siterdf/gui/siterdfwidget.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use different delimiter for sed.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Properly ignore main workflows if just web workflow or action has changed.
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

And make sure the web workflow runs when it should.
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Also run bundling step for cache job.
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

Also run bundling step for cache job. (#1338)
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml
