Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *

Update index, fix link.
  web/content/docs/_index.md
  web/content/docs/developers/contributing.md
Due: none

Reorganise ff section.
  web/content/docs/ff/builtin/_index.md
  web/content/docs/ff/builtin/kulmala2010.md
  web/content/docs/ff/builtin/ludwig.md
  web/content/docs/ff/builtin/oplsaa.md
  web/content/docs/ff/builtin/pcl2019.md
  web/content/docs/ff/builtin/spcfw.md
  web/content/docs/ff/builtin/uff.md
  web/content/docs/ff/builtin/uff4mof.md
Due: none

Update NETA with geometry info.
  web/content/docs/ff/neta.md
Due: none

Add NETA reference.
  web/content/docs/ff/neta.md
Due: none

Update introduction.
  web/content/docs/whatisdissolve.md
Due: none

Update contributors.
  web/content/docs/_index.md
Due: none

Reorganise.
  scripts/README.md
  scripts/slurm-compile-threads.script
  web/content/docs/get/_index.md
  web/content/docs/get/compilation.md
  web/content/docs/get/flavours.md
  web/content/docs/get/graphics.svg
  web/content/docs/get/packages.md
  web/content/docs/get/scarf-foss.md
  web/content/docs/get/scarf-intel.md
  web/content/docs/inputfile/_index.md
  web/content/docs/run/_index.md
  web/content/docs/run/workflow.md
  web/content/docs/setup/configurationtab.png
  web/content/docs/setup/forcefieldtab.png
  web/content/docs/setup/gui.md
  web/content/docs/setup/layertab.png
  web/content/docs/setup/messages.png
  web/content/docs/setup/moduletab.png
  web/content/docs/setup/runcontrols.png
  web/content/docs/setup/scratch.md
  web/content/docs/setup/speciestab.png
  web/content/docs/setup/tabs.png
  web/content/docs/setup/templates.md
  web/content/docs/setup/units.md
  web/content/docs/setup/workspacetab.png
  web/content/docs/startingout/_index.md
  web/content/docs/startingout/get.md
Due: none

Clarify versions, add roadmap.
  web/content/docs/roadmap.md
  web/content/docs/startingout/compilation.md
  web/content/docs/startingout/get.md
Due: none

Update contributing.
  web/content/docs/developers/contributing.md
Due: none

Remove reading times.
  web/content/docs/run/workflow.md
  web/content/docs/setup/gui.md
  web/content/docs/setup/units.md
  web/content/docs/whatisdissolve.md
Due: none

Tweak headers.
  web/content/docs/inputfile/masterblock.md
  web/content/docs/run/cli.md
  web/content/docs/run/run.md
  web/content/docs/run/scarf.md
  web/content/docs/setup/atomtypes.md
  web/content/docs/setup/overview.md
  web/content/docs/setup/species/_index.md
  web/content/docs/setup/species/fromscratch.md
  web/content/docs/setup/species/importing.md
Due: none

Update modules.
  web/content/docs/inputfile/_index.md
  web/content/docs/modules/anatomy.png
  web/content/docs/modules/graphics.svg
  web/content/docs/modules/layertab.png
  web/content/docs/modules/tests/_index.md
Due: none

Update run section.
  web/content/docs/run/cli.md
  web/content/docs/run/control-pause.png
  web/content/docs/run/control-run.png
  web/content/docs/run/control-step.png
  web/content/docs/run/run.md
  web/content/docs/run/scarf.md
  web/content/docs/run/workflow.md
Due: none

Update setup section.
  web/content/docs/setup/_index.md
  web/content/docs/setup/applyff/_index.md
  web/content/docs/setup/applyff/creating.md
  web/content/docs/setup/applyff/implementing.md
  web/content/docs/setup/applyff/ligpargen.md
  web/content/docs/setup/applyff/packaged.md
  web/content/docs/setup/atomtypes.md
  web/content/docs/setup/forcefields.md
  web/content/docs/setup/overview.md
  web/content/docs/setup/species.md
  web/content/docs/setup/species/_index.md
  web/content/docs/setup/species/fromscratch.md
  web/content/docs/setup/species/importing.md
  web/content/docs/setup/types.jpg
Due: none

add Benchmark (googlecpp) benchmark result for ba557f88df51723b573241666af6008882b1e8f6
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Restructure and tidy CI.
  .azure-pipelines/continuous.yml
  .azure-pipelines/pr.yml
  .azure-pipelines/release.yml
  .azure-pipelines/templates/build-linux-mpi.yml
  .azure-pipelines/templates/build-linux.yml
  .azure-pipelines/templates/build-osx.yml
  .azure-pipelines/templates/build-windows.yml
  .azure-pipelines/templates/package-linux.yml
  .azure-pipelines/templates/package-osx.yml
  .azure-pipelines/templates/package-windows.yml
  .azure-pipelines/templates/system-tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for a23063795f44e90a01b7384a9f2c4894014b5cbd
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for d1dfbb9676064e020a6fff2cc09a8e4f2d016e7b
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Rename / reorganise tests.
  .azure-pipelines/pr.yml
  .azure-pipelines/release.yml
  .azure-pipelines/templates/tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Check for and remove unused atom types before simulation.
  src/main/simulation.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for b4e7a89b28f75e9796048f5af7d761fb572a0184
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for a1aac24302bfe0146257fbbd0316d03d749a98ad
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Change version to 0.8.0.
  README.md
  web/config.toml
Due: none

Add release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Add compile script for IDAaaS.
  scripts/idaaas-compile-threads.sh
Due: none

Update roadmap.
  web/content/docs/roadmap.md
Due: none

Bump minor version to 0.9.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

add Benchmark (googlecpp) benchmark result for 3c4b0c8bb79af4ff5e82e48d8a8ca2e555493201
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Tweak passing of curl opts.
  ci/scripts/update-release
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use full hash for new release commitish.
  ci/scripts/update-release
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix passing of curl options and use full hash for commitish when creating new release.
  ci/scripts/update-release
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 5d733bd0f90376b50d5f8282e1e4ba68198e2492
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Fix cmake formatting
  CMakeLists.txt
  src/gui/CMakeLists.txt
  src/gui/models/CMakeLists.txt
  src/gui/render/CMakeLists.txt
  src/modules/CMakeLists.txt
  unit/gui/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move includes around
  src/gui/render/textprimitive.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Unsort includes
  src/gui/render/textprimitive.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

More moving imports around
  src/gui/render/textprimitive.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Simlify Box classes.
  src/classes/box.cpp
  src/classes/box.h
  src/classes/box_cubic.cpp
  src/classes/box_monoclinic.cpp
  src/classes/box_nonperiodic.cpp
  src/classes/box_orthorhombic.cpp
  src/classes/box_triclinic.cpp
  src/classes/energykernel.cpp
  src/classes/forcekernel.cpp
  src/classes/molecule.cpp
  src/modules/checks/process.cpp
  src/modules/energy/process.cpp
  src/modules/forces/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/rdf/functions.cpp
  src/procedure/nodes/generalregion.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 1f38ad685351e91d212be4994c78af9a5dfc4ec7
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Update src/gui/render/primitiveassembly.cpp
  src/gui/render/primitiveassembly.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
