Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build and Package
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Move away from deprecated CLI dependency (#798)
  CMakeLists.txt
  conanfile.txt
  src/main/CMakeLists.txt
  unit/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 5a9cfedf0d5c06c09d86a93562b0ceb2e04b386f
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Update unit tests
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update ReleaseNotes
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 134020abb128d41b8fdaf6416b476cbce7552b3d
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Initial flattening of array
  src/classes/changestore.cpp
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/classes/configuration_upkeep.cpp
  src/classes/energykernel.cpp
  src/classes/molecule.cpp
  src/classes/molecule.h
  src/classes/potentialmap.cpp
  src/classes/potentialmap.h
  src/io/export/coordinates.cpp
  src/io/export/trajectory.cpp
  src/io/import/coordinates.cpp
  src/io/import/trajectory.cpp
  src/modules/atomshake/process.cpp
  src/modules/bragg/functions.cpp
  src/modules/checks/process.cpp
  src/modules/energy/process.cpp
  src/modules/forces/process.cpp
  src/modules/geomopt/functions.cpp
  src/modules/import_trajectory/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/md/process.cpp
  src/modules/rdf/functions.cpp
  src/procedure/nodes/generalregion.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reserve space for atoms
  src/classes/configuration.cpp
  src/classes/configuration_io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move atoms into references
  benchmark/energy/energy_benchmark.cpp
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/modules/rdf/functions.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use references in iteration
  src/classes/configuration_contents.cpp
  src/modules/rdf/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix err/log file naming.
  scripts/slurm-compile-threads.script
Due: none

Exclude scripts from build triggers.
  .azure-pipelines/continuous.yml
Due: .azure-pipelines/continuous.yml

add Benchmark (googlecpp) benchmark result for 622b56937dc5ac0147ede97e5f1a83abdabb1203
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 7842da0d0137f865efe7ba864d0ce2bb91676d69
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

range based for loop
  src/classes/changestore.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

More default atoms
  src/classes/configuration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix rdf calculation
  src/modules/rdf/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't take a reference to a pointer
  src/classes/forcekernel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix gui
  src/gui/configurationviewer.hui
  src/gui/configurationviewer_interaction.cpp
  src/gui/render/renderableconfiguration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix formatting
  src/classes/changestore.cpp
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/classes/molecule.cpp
  src/classes/molecule.h
  src/gui/render/renderableconfiguration.cpp
  src/modules/rdf/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

More formatting
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Return a reference on addAtom
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add locking mechanism
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/procedure/nodes/add.cpp
  src/procedure/nodes/transmute.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move AtomLock into its own file
  src/classes/CMakeLists.txt
  src/classes/atomlock.cpp
  src/classes/atomlock.h
  src/classes/configuration.h
  src/classes/configuration_io.cpp
  src/procedure/nodes/add.cpp
  src/procedure/nodes/transmute.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Work with pre-reserving memory
  src/classes/atomlock.cpp
  src/classes/cell.cpp
  src/classes/cell.h
  src/classes/cellarray.cpp
  src/classes/cellarray.h
  src/classes/configuration.cpp
  src/classes/molecule.cpp
  src/classes/molecule.h
  src/procedure/nodes/add.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix formatting
  src/classes/atomlock.cpp
  src/classes/atomlock.h
  src/classes/cell.cpp
  src/classes/cellarray.cpp
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/classes/molecule.cpp
  src/procedure/nodes/add.cpp
  src/procedure/nodes/transmute.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Check for empty array before updating
  src/classes/cell.cpp
  src/classes/molecule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Try and pre-reserve space
  src/procedure/nodes/add.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix formatting
  src/classes/cell.cpp
  src/classes/molecule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix MPI access
  src/classes/changestore.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix formatting in unit tests
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Better comments
  src/classes/cell.h
  src/classes/configuration_io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use algorithm for updating atoms
  src/classes/cell.cpp
  src/classes/molecule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

First PairIter implementation
  src/classes/CMakeLists.txt
  src/classes/pair_iter.cpp
  src/classes/pair_iter.h
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move int for_each_pair over to pair_iterator
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Pair iteration in Parallel!
  src/classes/neutronweights.cpp
  src/classes/pair_iter.cpp
  src/classes/partialset.cpp
  src/classes/scatteringmatrix.cpp
  src/classes/xrayweights.cpp
  src/modules/bragg/functions.cpp
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
  src/modules/rdf/functions.cpp
  src/modules/sq/process.cpp
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update src/classes/atomlock.cpp
  src/classes/atomlock.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update src/classes/atomlock.h
  src/classes/atomlock.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
