Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

added deprecated keyword for UseHalfCellWidth (#1354)
  src/modules/gr/gr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release version info.
  web/static/include/old_releases.md
Due: none

Don't create a module that doesn't exist anymore! (#1356)
  src/gui/menu_layer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add intradistance system test.
  tests/intradistance/CMakeLists.txt
  tests/intradistance/intra.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

And don't forget the widget producer either.
  src/modules/widgetproducer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename files, adjust CMake targets.
  src/modules/intrardf/CMakeLists.txt
  src/modules/intrardf/gui/CMakeLists.txt
  src/modules/intrardf/gui/intrardfwidget.h
  src/modules/intrardf/gui/intrardfwidget.ui
  src/modules/intrardf/gui/intrardfwidget_funcs.cpp
  src/modules/intrardf/intrardf.cpp
  src/modules/intrardf/intrardf.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename classes.
  src/modules/intrardf/functions.cpp
  src/modules/intrardf/gui/intrardfwidget.h
  src/modules/intrardf/gui/intrardfwidget.ui
  src/modules/intrardf/gui/intrardfwidget_funcs.cpp
  src/modules/intrardf/intrardf.cpp
  src/modules/intrardf/intrardf.h
  src/modules/intrardf/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update analysis test data.
  tests/_data/dlpoly/water267-analysis/analyse
  tests/_data/dlpoly/water267-analysis/water-267-298K.01-02-03.ijk
  tests/_data/dlpoly/water267-analysis/water-267-298K.01-02.ij
  tests/_data/dlpoly/water267-analysis/water-267-298K.01-03.ij
  tests/_data/dlpoly/water267-analysis/water-267-298K.02-03.ij
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

It's a distance histogram, not an RDF.
  src/modules/intradistance/CMakeLists.txt
  src/modules/intradistance/functions.cpp
  src/modules/intradistance/gui/CMakeLists.txt
  src/modules/intradistance/gui/intradistancewidget.h
  src/modules/intradistance/gui/intradistancewidget.ui
  src/modules/intradistance/gui/intradistancewidget_funcs.cpp
  src/modules/intradistance/intradistance.cpp
  src/modules/intradistance/intradistance.h
  src/modules/intradistance/process.cpp
  src/modules/intrardf/CMakeLists.txt
  src/modules/intrardf/gui/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't forget to add the producer!
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Morph into distance histogram calculation.
  src/modules/intradistance/functions.cpp
  src/modules/intradistance/gui/intradistancewidget.ui
  src/modules/intradistance/gui/intradistancewidget_funcs.cpp
  src/modules/intradistance/intradistance.cpp
  src/modules/intradistance/intradistance.h
  src/modules/intradistance/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Copy SiteRDF module.
  src/modules/intrardf/CMakeLists.txt
  src/modules/intrardf/functions.cpp
  src/modules/intrardf/gui/CMakeLists.txt
  src/modules/intrardf/gui/siterdfwidget.h
  src/modules/intrardf/gui/siterdfwidget.ui
  src/modules/intrardf/gui/siterdfwidget_funcs.cpp
  src/modules/intrardf/process.cpp
  src/modules/intrardf/siterdf.cpp
  src/modules/intrardf/siterdf.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove some old member variables.
  src/modules/intradistance/intradistance.cpp
  src/modules/intradistance/intradistance.h
  src/modules/intradistance/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add manual page.
  web/docs/userguide/modules/analysis/intradistance/_index.md
Due: none

Add placeholder module icon.
  src/gui/icons/modules_intradistance.svg
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add setup action to checkout code and set environment variables.
  .github/workflows/get-version/action.yml
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Use setup.
  .github/workflows/cache.yml
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

More specific return value.
  src/io/fileandformat.cpp
  src/io/fileandformat.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use new return values.
  src/classes/data1dstore.cpp
  src/classes/data2dstore.cpp
  src/classes/data3dstore.cpp
  src/classes/valuestore.cpp
  src/keywords/fileandformat.cpp
  src/main/keywords_configuration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1295 GitHub Actions Environment (#1361)
  .github/workflows/cache.yml
  .github/workflows/continuous.yml
  .github/workflows/get-version/action.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Remove two more uses of old defunct module names.
  src/gui/menu_layer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix some error messages referencing old module names.
  src/modules/angle/process.cpp
  src/modules/axisangle/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1358 FileAndFormat Reading (#1362)
  src/classes/data1dstore.cpp
  src/classes/data2dstore.cpp
  src/classes/data3dstore.cpp
  src/classes/valuestore.cpp
  src/io/fileandformat.cpp
  src/io/fileandformat.h
  src/keywords/fileandformat.cpp
  src/main/keywords_configuration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Use setup action in web CI.
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Move official Qt version to 6.4.2
  .github/workflows/release.yml
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Use setup action in web CI. (#1364)
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Picky ordering.
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Make release version changes directly on develop.
  .github/workflows/release.yml
  .github/workflows/update-release-info/action.yml
Due: .azure-pipelines/pr.yml

Fix layer menu again (#1365)
  src/gui/menu_layer.cpp
  src/modules/angle/process.cpp
  src/modules/axisangle/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
