Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

const xs reference
  src/math/interpolator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update src/math/interpolator.cpp
  src/math/interpolator.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

changed ifs to switch and added in a clarifying comment
  src/math/interpolator.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update .github/workflows/build/linux/action.yml
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

1295 Finalise GitHub Actions (#1303)
  .github/workflows/build/action.yml
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/get-nix/action.yml
  .github/workflows/get-version/action.yml
  .github/workflows/package/action.yml
  .github/workflows/package/osx/action.yml
  .github/workflows/package/windows/action.yml
  .github/workflows/pr.yml
  .github/workflows/publish/action.yml
  .github/workflows/set-short-hash/action.yml
  .github/workflows/test/action.yml
  flake.nix
Due: .azure-pipelines/pr.yml

Remove extraneous configuration name argument from fmt calls when citing renderables.
  src/modules/calculate_angle/gui/calculateanglewidget_funcs.cpp
  src/modules/calculate_axisangle/gui/calculateaxisanglewidget_funcs.cpp
  src/modules/calculate_rdf/gui/calculaterdfwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix display of coordination numbers.
  src/modules/calculate_rdf/gui/calculaterdfwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update secret passing.
  .github/workflows/web.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Add shell spec, rename var.
  .github/workflows/web.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Add website workflow.
  .github/workflows/web.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Fix secrets!
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Debug ssh.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Booleans are still fun.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Fix secret storing.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

More security.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Fix vars.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Whoops.
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Module Bits (#1298)
  src/modules/calculate_angle/gui/calculateanglewidget_funcs.cpp
  src/modules/calculate_axisangle/gui/calculateaxisanglewidget_funcs.cpp
  src/modules/calculate_rdf/gui/calculaterdfwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused includes and forward defs.
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old data.h.
  src/keywords/data.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't bother mapping keywords by name.
  src/keywords/store.cpp
  src/keywords/store.h
  src/module/module.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

New class for wrapping metadata with keywords, and store all keywords in a single vector.
  src/gui/modulecontrolwidget_funcs.cpp
  src/keywords/CMakeLists.txt
  src/keywords/store.cpp
  src/keywords/store.h
  src/keywords/storedata.cpp
  src/keywords/storedata.h
  src/main/io.cpp
  src/module/module.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add spacer to final group.
  src/gui/keywordwidgets/widget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove display group argument from functions.
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Force hidden keyword definition through the correct channels.
  src/keywords/store.h
  src/modules/analyse/analyse.cpp
  src/modules/bragg/bragg.cpp
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect2d.cpp
  src/procedure/nodes/collect3d.cpp
  src/procedure/nodes/process1d.cpp
  src/procedure/nodes/process2d.cpp
  src/procedure/nodes/process3d.cpp
  src/procedure/nodes/select.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't add keywords with no group (i.e. hidden ones).
  src/keywords/store.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Morph to QTabWidget.
  src/gui/keywordwidgets/widget.hui
  src/gui/keywordwidgets/widget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add capability for section creation.
  src/gui/keywordwidgets/widget_funcs.cpp
  src/keywords/store.cpp
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Dynamically create keyword organisation map, replacing old static groups.
  src/gui/keywordwidgets/widget.hui
  src/gui/keywordwidgets/widget_funcs.cpp
  src/keywords/store.cpp
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reorganize module control widget, creating buttons for each defined keyword group, and make KeywordWidget a simple 'one-group' widget rather than a QToolBox.
  src/gui/icons/general_procedure.svg
  src/gui/keywordwidgets/dialog.ui
  src/gui/keywordwidgets/dialog_funcs.cpp
  src/gui/keywordwidgets/widget.hui
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/main.qrc
  src/gui/modulecontrolwidget.h
  src/gui/modulecontrolwidget.ui
  src/gui/modulecontrolwidget_funcs.cpp
  src/gui/nodecontrolwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add stretch to keyword lines.
  src/gui/keywordwidgets/widget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add section header widget.
  src/gui/keywordwidgets/CMakeLists.txt
  src/gui/keywordwidgets/sectionHeader.h
  src/gui/keywordwidgets/sectionHeader.ui
  src/gui/keywordwidgets/sectionHeader_funcs.cpp
  src/gui/keywordwidgets/widget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bring back proper section ordering.
  src/gui/keywordwidgets/dialog_funcs.cpp
  src/gui/keywordwidgets/widget.hui
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/modulecontrolwidget_funcs.cpp
  src/gui/nodecontrolwidget_funcs.cpp
  src/keywords/store.cpp
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Show module targets as part of new schema.
  src/gui/modulecontrolwidget.h
  src/gui/modulecontrolwidget.ui
  src/gui/modulecontrolwidget_funcs.cpp
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Icon styling of keyword group buttons.
  src/gui/icons/general_advanced.svg
  src/gui/keywordwidgets/widget.hui
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/main.qrc
  src/gui/modulecontrolwidget.ui
  src/gui/modulecontrolwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix Interpolator declaration
  src/math/interpolator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

formatting errors fixed and comments added
  src/math/interpolator.cpp
  src/math/interpolator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add Interpolator benchmark
  benchmark/CMakeLists.txt
  benchmark/math/math_benchmark.cpp
Due: .azure-pipelines/pr.yml

Add helper script for adjusting CPU settings while running benchmarks
  scripts/linux-benchmark.sh
Due: none

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
