Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *

Single cell for improper parameters
  src/gui/models/speciesImproperModel.cpp
  unit/gui/test_speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Single parameters cell for torsion model
  src/gui/models/speciesTorsionModel.cpp
  unit/gui/test_speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Better parameter formatting
  src/gui/models/CMakeLists.txt
  src/gui/models/speciesModelUtils.cpp
  src/gui/models/speciesModelUtils.h
  unit/gui/test_speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move angle table over to combined parameters
  src/gui/models/speciesAngleModel.cpp
  src/gui/models/speciesBondModel.cpp
  src/gui/models/speciesModelUtils.h
  unit/gui/test_speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Single Parameters cell for SpeciesBondModel
  src/gui/models/speciesBondModel.cpp
  unit/gui/test_speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Document utility functions
  src/gui/models/speciesModelUtils.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix formatting
  src/gui/models/speciesModelUtils.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 0bfccc6088fd8d74ae3bdcad66f440f4f98533f1
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Move Species reflist keyword to use (local) std::vector.
  src/gui/keywordwidgets/CMakeLists.txt
  src/gui/keywordwidgets/speciesreflist_funcs.cpp
  src/gui/keywordwidgets/speciesvector.h
  src/gui/keywordwidgets/speciesvector.ui
  src/gui/keywordwidgets/speciesvector_funcs.cpp
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/keywordwidgets/widgets.h
  src/keywords/CMakeLists.txt
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/speciesreflist.cpp
  src/keywords/speciesvector.cpp
  src/keywords/speciesvector.h
  src/keywords/types.h
  src/modules/md/init.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow restriction of species. Closes #32.
  src/modules/molshake/init.cpp
  src/modules/molshake/process.cpp
  web/content/docs/modules/evolution/molshake/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Extend species model with checkstate information.
  src/gui/models/speciesModel.cpp
  src/gui/models/speciesModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move target molecules from Array to std::vector.
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/md/md.h
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update/simplify RegionalDistributor, use enum classes, and extend to specific molecule set.
  src/classes/regionaldistributor.cpp
  src/classes/regionaldistributor.h
  src/modules/atomshake/process.cpp
  src/modules/benchmark/process.cpp
  src/modules/intrashake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename some keyword functions for clarity, and fix empty keyword detection.
  src/gui/keywordwidgets/fileandformat_funcs.cpp
  src/gui/keywordwidgets/function1d_funcs.cpp
  src/gui/keywordwidgets/isotopologueset_funcs.cpp
  src/gui/keywordwidgets/modulegroups_funcs.cpp
  src/gui/keywordwidgets/range_funcs.cpp
  src/gui/keywordwidgets/speciessite_funcs.cpp
  src/gui/keywordwidgets/speciessitereflist_funcs.cpp
  src/gui/keywordwidgets/speciesvector_funcs.cpp
  src/io/import/data1d.cpp
  src/io/import/data2d_cartesian.cpp
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/enumoptions.h
  src/keywords/geometrylist.cpp
  src/keywords/list.cpp
  src/keywords/list.h
  src/keywords/nodevalueenumoptions.h
  src/keywords/vec3nodevalue.cpp
  src/keywords/vector_intdouble.cpp
  src/keywords/vector_intstring.cpp
  src/keywords/vector_stringpair.cpp
  src/module/module.cpp
  src/modules/calculate_cn/process.cpp
  src/modules/checkspecies/process.cpp
  src/modules/energy/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 467a2f90cc23df2649dd3da6193993efafa7bde9
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Add CI for windows thread build
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Update conan to use static tbb
  conanfile.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Default tbb build in cmake
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Create cmake threading option
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update CI with threading option
  .azure-pipelines/templates/build-linux-parallel.yml
  .azure-pipelines/templates/build-linux-serial-gui.yml
  .azure-pipelines/templates/build-osx-serial-gui.yml
  .azure-pipelines/templates/build-windows-serial-gui.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update compilation instructions
  web/content/docs/startingout/compilation.md
Due: none

Update src/keywords/speciesvector.cpp
  src/keywords/speciesvector.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add CI for linux threaded build
  .azure-pipelines/pr.yml
  .azure-pipelines/templates/system-tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Better string splitting
  src/gui/models/speciesAngleModel.cpp
  src/gui/models/speciesBondModel.cpp
  src/gui/models/speciesImproperModel.cpp
  src/gui/models/speciesModelUtils.cpp
  src/gui/models/speciesModelUtils.h
  src/gui/models/speciesTorsionModel.cpp
  unit/gui/test_speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move generic string splitting into algorithms library
  src/gui/models/speciesAngleModel.cpp
  src/gui/models/speciesBondModel.cpp
  src/gui/models/speciesImproperModel.cpp
  src/gui/models/speciesModelUtils.cpp
  src/gui/models/speciesModelUtils.h
  src/gui/models/speciesTorsionModel.cpp
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Switch from O(n²) string joiner to O(n)
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 7dd3f34b965fae12d0d731558cbf45721886fd22
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Update keyword widgets.
  src/gui/keywordwidgets/CMakeLists.txt
  src/gui/keywordwidgets/node.h
  src/gui/keywordwidgets/node_funcs.cpp
  src/gui/keywordwidgets/nodeandinteger.h
  src/gui/keywordwidgets/nodeandinteger_funcs.cpp
  src/gui/keywordwidgets/nodereflist_funcs.cpp
  src/gui/keywordwidgets/nodevector.h
  src/gui/keywordwidgets/nodevector.ui
  src/gui/keywordwidgets/nodevector_funcs.cpp
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/keywordwidgets/widgets.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Pass item back from conbo_box_controller.
  src/gui/helpers/comboboxcontroller.h
  src/modules/energy/gui/modulewidget_funcs.cpp
  src/modules/rdf/gui/modulewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use class enums, simplify / modernise node-related keywords.
  src/keywords/CMakeLists.txt
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/node.cpp
  src/keywords/nodeandinteger.cpp
  src/keywords/nodeandinteger.h
  src/keywords/nodebase.cpp
  src/keywords/nodebase.h
  src/keywords/nodereflist.cpp
  src/keywords/nodereflist.h
  src/keywords/nodevector.cpp
  src/keywords/nodevector.h
  src/keywords/types.h
  src/procedure/nodes/calculatebase.cpp
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/operatebase.cpp
  src/procedure/nodes/process1d.cpp
  src/procedure/nodes/process2d.cpp
  src/procedure/nodes/process3d.cpp
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
  src/procedure/procedure.cpp
  src/procedure/procedure.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use assertions.
  src/keywords/list.cpp
  src/modules/calculate_axisangle/init.cpp
  src/modules/calculate_dangle/init.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add procedure node model.
  src/gui/models/CMakeLists.txt
  src/gui/models/procedureNodeModel.cpp
  src/gui/models/procedureNodeModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Show all parameters in a single cell (#692)
  src/gui/models/CMakeLists.txt
  src/gui/models/speciesAngleModel.cpp
  src/gui/models/speciesBondModel.cpp
  src/gui/models/speciesImproperModel.cpp
  src/gui/models/speciesModelUtils.cpp
  src/gui/models/speciesModelUtils.h
  src/gui/models/speciesTorsionModel.cpp
  src/templates/algorithms.h
  unit/gui/test_speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 154b3294cefc8dc92e408cf0c6b45928a45a6816
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Update docs.
  web/content/docs/procedures/nodes/addspeciesnode.md
  web/content/docs/procedures/nodes/generalregion.md
  web/content/docs/reference/positioningtype.md
Due: none

Add regional addition.
  src/procedure/nodes/addspecies.cpp
  src/procedure/nodes/addspecies.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add region nodes.
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/generalregion.cpp
  src/procedure/nodes/generalregion.h
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/nodes.h
  src/procedure/nodes/regionbase.cpp
  src/procedure/nodes/regionbase.h
  src/procedure/nodes/sequence.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Scale periodic species by atom rather than COG.
  src/classes/configuration.h
  src/classes/configuration_box.cpp
  src/classes/configuration_contents.cpp
  src/procedure/nodes/addspecies.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 14754c048d4fd12c37191ae8767ebfacd754a659
  dev/bench/data.js
Due: .azure-pipelines/pr.yml
