Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *

Add Cu-BTC example.
  examples/cu-btc/7108574.cif
  examples/cu-btc/data/Empty-CuBTC.mint01
  examples/cu-btc/input.txt
  web/content/examples/cu-btc/_index.md
  web/content/examples/cu-btc/baseline-fq.png
  web/content/examples/cu-btc/baseline-gr.png
  web/content/examples/cu-btc/broadening1-fq.png
  web/content/examples/cu-btc/broadening2-fq.png
  web/content/examples/cu-btc/cu-btc-default-zoom.png
  web/content/examples/cu-btc/cu-btc-default.png
  web/content/examples/cu-btc/exercise1.md
  web/content/examples/cu-btc/exercises.md
  web/content/examples/cu-btc/framework-md.png
  web/content/examples/cu-btc/step1.md
  web/content/examples/cu-btc/step2.md
  web/content/examples/cu-btc/step3.md
  web/content/examples/cu-btc/step4.md
  web/content/examples/cu-btc/step5.md
Due: none

Use gui-node shortcode.
  web/content/docs/inputfile/configurationblock.md
  web/content/docs/procedures/expressions.md
  web/content/docs/procedures/nodes/addnode.md
  web/content/docs/procedures/nodes/calculateanglenode.md
  web/content/docs/procedures/nodes/calculateaxisanglenode.md
  web/content/docs/procedures/nodes/calculatedistancenode.md
  web/content/docs/procedures/nodes/calculatevectornode.md
  web/content/docs/procedures/nodes/collect1dnode.md
  web/content/docs/procedures/nodes/collect2dnode.md
  web/content/docs/procedures/nodes/collect3dnode.md
  web/content/docs/procedures/nodes/dynamicsitenode.md
  web/content/docs/procedures/nodes/generalregion.md
  web/content/docs/procedures/nodes/operatenumberdensitynormalisenode.md
  web/content/docs/procedures/nodes/operatesitepopulationnormalisenode.md
  web/content/docs/procedures/nodes/process1dnode.md
  web/content/docs/procedures/nodes/process2dnode.md
  web/content/docs/procedures/nodes/process3dnode.md
  web/content/docs/reference/boxactionstyle.md
  web/content/docs/reference/positioningtype.md
  web/content/examples/argon/step3.md
  web/content/examples/emim-oac/step9.md
  web/content/examples/previous/0.8/argon/step3.md
  web/content/examples/water/step2.md
Due: none

Remove Old Qt DIR code
  flake.nix
Due: .azure-pipelines/pr.yml

Generate single-page versions of examples in CI.
  .azure-pipelines/templates/build-web.yml
  ci/scripts/meld-example
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add placeholder steps for PDF generation.
  .azure-pipelines/templates/build-web.yml
  ci/scripts/meld-example
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add gui-icon shortcode to display inline icon.
  web/assets/scss/_content.scss
  web/content/examples/benzene/step5.md
  web/layouts/shortcodes/gui-icon.html
Due: none

Add basic script to meld example pages into one.
  ci/scripts/meld-example
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update gitignore.
  web/.gitignore
Due: none

Update Docsy theme and use Hugo modules.
  .azure-pipelines/templates/build-web.yml
  .gitmodules
  web/config.toml
  web/go.mod
  web/go.sum
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Show total configuration charges when non-neutral.
  src/main/simulation.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remember last value in Run For dialog.
  src/gui/menu_simulation.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correctly handle keyword signal for renderable recreation.
  src/gui/modulecontrolwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix crash when showing EPSR/Potentials tab when no pairpotentials are defined.
  src/main/dissolve.h
  src/main/pairpotentials.cpp
  src/modules/epsr/gui/epsrwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Try to fix Harbor tagging.
  .azure-pipelines/templates/create-release.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix creation of template species.
  src/modules/calculate_avgmol/functions.cpp
  src/modules/calculate_avgmol/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Show box for periodic species.
  src/gui/speciestab.h
  src/gui/speciestab.ui
  src/gui/speciestab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Simplify label update.
  src/gui/configurationtab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add missing File keyword for CoordinateSets.
  src/procedure/nodes/coordinatesets.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix name of SelectionPopulation enum.
  src/procedure/nodes/select.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove assets for existing release.
  .azure-pipelines/templates/create-release.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix and improve example packaging.
  examples/argon/data/_yarnell.gnumeric
  examples/argon/data/_yarnell.xls
  examples/package-examples
Due: none

Introduce coordinate sets in water example.
  web/content/examples/water/step2.md
Due: none

Add exercise to EMIM-OAc example.
  web/content/examples/emim-oac/exercise1.md
  web/content/examples/emim-oac/exercises.md
  web/content/examples/emim-oac/step9.md
Due: none

Fix OSX dmg package links.
  web/content/packages.md
Due: none

Update examples index with cards.
  web/content/examples/_index.md
  web/content/examples/argon/icon.png
  web/content/examples/argon/icon.svg
  web/content/examples/benzene/icon.png
  web/content/examples/cu-btc/icon.png
  web/content/examples/emim-oac/icon.png
  web/content/examples/silica/icon.png
  web/content/examples/water/icon.png
  web/content/examples/water/icon.svg
  web/layouts/shortcodes/cimage.html
Due: none

Add selection population info.
  web/content/docs/procedures/nodes/operatenumberdensitynormalisenode.md
  web/content/docs/reference/selectionpopulation.md
Due: none

Add CoordinateSet information.
  web/content/docs/procedures/nodes/addnode.md
  web/content/docs/procedures/nodes/coordinatesetsnode.md
  web/content/docs/reference/coordinatesetsource.md
Due: none

Add missing File keyword.
  web/content/docs/procedures/nodes/coordinatesetsnode.md
Due: none

Fix formatting.
  web/content/docs/reference/boxactionstyle.md
  web/content/docs/reference/positioningtype.md
Due: none

Fix total G(r) image.
  web/content/examples/water/epsrmodule-totalgr.png
  web/content/examples/water/step7.md
Due: none

Update examples.
  web/content/examples/cu-btc/step2.md
  web/content/examples/cu-btc/step5.md
  web/content/examples/emim-oac/step2.md
Due: none

Add icons to some buttons.
  web/content/examples/argon/step2.md
  web/content/examples/benzene/step1.md
  web/content/examples/cu-btc/step1.md
  web/content/examples/cu-btc/step2.md
  web/content/examples/emim-oac/step2.md
  web/content/examples/water/step1a.md
Due: none

Non-zero charges aren't necessarily errors.
  src/gui/speciestab_funcs.cpp
  src/gui/speciestab_geometry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Option to use archive source for FreeType.
  .azure-pipelines/templates/build-windows.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Docs Update - June 22 (#1123)
  web/content/docs/procedures/nodes/addnode.md
  web/content/docs/procedures/nodes/coordinatesetsnode.md
  web/content/docs/procedures/nodes/operatenumberdensitynormalisenode.md
  web/content/docs/reference/boxactionstyle.md
  web/content/docs/reference/coordinatesetsource.md
  web/content/docs/reference/positioningtype.md
  web/content/docs/reference/selectionpopulation.md
  web/content/examples/_index.md
  web/content/examples/argon/icon.png
  web/content/examples/argon/icon.svg
  web/content/examples/argon/step2.md
  web/content/examples/benzene/icon.png
  web/content/examples/benzene/step1.md
  web/content/examples/cu-btc/icon.png
  web/content/examples/cu-btc/step1.md
  web/content/examples/cu-btc/step2.md
  web/content/examples/cu-btc/step5.md
  web/content/examples/emim-oac/exercise1.md
  web/content/examples/emim-oac/exercises.md
  web/content/examples/emim-oac/icon.png
  web/content/examples/emim-oac/step2.md
  web/content/examples/emim-oac/step9.md
  web/content/examples/silica/icon.png
  web/content/examples/water/epsrmodule-totalgr.png
  web/content/examples/water/icon.png
  web/content/examples/water/icon.svg
  web/content/examples/water/step1a.md
  web/content/examples/water/step2.md
  web/content/examples/water/step7.md
  web/content/packages.md
  web/layouts/shortcodes/cimage.html
Due: none

Patch - June 2022, Part 3 (#1117)
  .azure-pipelines/templates/build-windows.yml
  examples/argon/data/_yarnell.gnumeric
  examples/argon/data/_yarnell.xls
  examples/package-examples
  src/gui/configurationtab_funcs.cpp
  src/gui/menu_simulation.cpp
  src/gui/modulecontrolwidget_funcs.cpp
  src/gui/speciestab.h
  src/gui/speciestab.ui
  src/gui/speciestab_funcs.cpp
  src/gui/speciestab_geometry.cpp
  src/main/dissolve.h
  src/main/pairpotentials.cpp
  src/main/simulation.cpp
  src/modules/calculate_avgmol/functions.cpp
  src/modules/calculate_avgmol/process.cpp
  src/modules/epsr/gui/epsrwidget_funcs.cpp
  src/procedure/nodes/coordinatesets.cpp
  src/procedure/nodes/select.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't add extra horizontal rule.
  ci/scripts/meld-example
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
