Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Rework EdgeMap into a vector.
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix setData() logic.
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Extend unit test.
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clear vector and re-flag input edges when upstream data changes.
  src/nodes/edge.cpp
  src/nodes/edge.h
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/parameter.cpp
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Flag updates / vector invalidation on edge removal.
  src/nodes/graph.cpp
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tidy comment.
  src/nodes/edge.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Virtual dtor on ParameterBase.
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Default getter function, do the same for setter.
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

do not overwrite LIB and INCLUDE vars
  develop.ps1
Due: .azure-pipelines/pr.yml

check cmake version
  develop.ps1
Due: .azure-pipelines/pr.yml

Remove MPI presets and PARALLEL def.
  CMakeLists.txt
  CMakePresets.json
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old SLURM mpi compilation script.
  scripts/slurm-compile-mpi.script
Due: none

Remove ProcessPool from LineParser.
  src/base/lineParser.cpp
  src/base/lineParser.h
  src/classes/dataSource.h
  src/classes/valueStore.cpp
  src/generator/coordinateSets.cpp
  src/generator/importCoordinates.cpp
  src/io/export/values.cpp
  src/io/export/values.h
  src/io/import/coordinates.cpp
  src/io/import/coordinates.h
  src/io/import/data1D.cpp
  src/io/import/data1D.h
  src/io/import/data2D.cpp
  src/io/import/data2D.h
  src/io/import/data3D.cpp
  src/io/import/data3D.h
  src/io/import/forces.cpp
  src/io/import/forces.h
  src/io/import/species.cpp
  src/io/import/species.h
  src/io/import/trajectory.h
  src/io/import/values.cpp
  src/io/import/values.h
  src/main/io.cpp
  src/modules/bragg/process.cpp
  src/modules/compare/process.cpp
  src/modules/epsr/epsr.h
  src/modules/epsr/io.cpp
  src/modules/epsr/process.cpp
  src/modules/forces/process.cpp
  src/modules/importTrajectory/process.cpp
  src/modules/neutronSQ/process.cpp
  src/modules/xRaySQ/process.cpp
  src/nodes/neutronSQ/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fixes, improved control, IO
  src/gui/render/view.cpp
  src/modules/clustering/clustering.cpp
  src/modules/clustering/clustering.h
  src/modules/clustering/gui/clusteringWidget.h
  src/modules/clustering/gui/clusteringWidget.ui
  src/modules/clustering/gui/clusteringWidgetFuncs.cpp
  src/modules/clustering/process.cpp
  tests/data/Averaging.restart.txt
  tests/data/Averaging2.restart.txt
  web/docs/userguide/modules/analysis/clustering/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Delete tests/data/Averaging.restart.txt
  tests/data/Averaging.restart.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Delete tests/data/Averaging2.restart.txt
  tests/data/Averaging2.restart.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update _index.md
  web/docs/userguide/modules/analysis/clustering/_index.md
Due: none

Remove ProcessPool from Kernels.
  benchmark/modules/forces.cpp
  src/classes/configuration_box.cpp
  src/gui/speciesEditor.cpp
  src/gui/speciesWidget.cpp
  src/kernels/base.cpp
  src/kernels/base.h
  src/kernels/energy.cpp
  src/kernels/energy.h
  src/kernels/externalPotentials.cpp
  src/kernels/externalPotentials.h
  src/kernels/force.cpp
  src/kernels/force.h
  src/kernels/geometry.cpp
  src/kernels/geometry.h
  src/kernels/producer.cpp
  src/kernels/producer.h
  src/modules/atomShake/process.cpp
  src/modules/benchmark/process.cpp
  src/modules/energy/energy.h
  src/modules/energy/functions.cpp
  src/modules/energy/process.cpp
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/geomOpt/functions.cpp
  src/modules/geomOpt/geomOpt.h
  src/modules/geomOpt/process.cpp
  src/modules/intraShake/process.cpp
  src/modules/md/functions.cpp
  src/modules/md/process.cpp
  src/modules/molShake/process.cpp
  src/nodes/atomicMC/process.cpp
  src/nodes/energy/energy.h
  src/nodes/energy/helpers.cpp
  src/nodes/energy/process.cpp
  src/nodes/md/helpers.cpp
  src/nodes/md/process.cpp
  tests/classes/cells.cpp
  tests/classes/cells3.cpp
  tests/math/geometryMin.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't add close buttons to main tabs.
  src/gui/mainTabsWidget.cpp
  src/gui/mainTabsWidget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove process pool from distributors.
  benchmark/modules/forces.cpp
  src/classes/cellDistributor.cpp
  src/classes/cellDistributor.h
  src/classes/distributor.cpp
  src/classes/distributor.h
  src/classes/moleculeDistributor.cpp
  src/classes/moleculeDistributor.h
  src/classes/regionalDistributor.cpp
  src/classes/regionalDistributor.h
  src/modules/atomShake/process.cpp
  src/modules/benchmark/process.cpp
  src/modules/intraShake/process.cpp
  src/modules/molShake/process.cpp
  src/nodes/atomicMC/process.cpp
  tests/data/dissolve/input/modifierOSites.dat
  tests/data/dissolve/input/modifierTotalOSites.dat
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rehash unit test and remove some test data (in previous commit).
  tests/modules/modifierOSites.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

msvc version and generator
  develop.ps1
Due: .azure-pipelines/pr.yml

refine msvc version / generator flow, defaults to msvc latest, but older one should be used
  develop.ps1
Due: .azure-pipelines/pr.yml

generator toolset as cache variable CMAKE_GENERATOR_TOOLSET
  develop.ps1
Due: .azure-pipelines/pr.yml

use ninja in ci; fix powershell object assignment
  .github/workflows/msvc.yml
  develop.ps1
Due: .azure-pipelines/pr.yml
