Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *

Remove duplicate benchmark.
  benchmark/box/box_benchmark.cpp
Due: .azure-pipelines/pr.yml

Remember sudo
  .azure-pipelines/templates/tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use joinStrings.
  src/gui/keywordwidgets/atomtypeselection_funcs.cpp
  src/gui/keywordwidgets/configurationreflist_funcs.cpp
  src/gui/keywordwidgets/modulegroups_funcs.cpp
  src/gui/keywordwidgets/modulevector_funcs.cpp
  src/gui/keywordwidgets/nodevector_funcs.cpp
  src/gui/keywordwidgets/speciessitevector_funcs.cpp
  src/gui/keywordwidgets/speciesvector_funcs.cpp
  src/keywords/modulevector.cpp
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Install more openGL
  .azure-pipelines/templates/tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename ConfigurationRefList keyword to reflect vector base.
  src/gui/charts/moduleblock_funcs.cpp
  src/gui/keywordwidgets/CMakeLists.txt
  src/gui/keywordwidgets/configurationvector.h
  src/gui/keywordwidgets/configurationvector.ui
  src/gui/keywordwidgets/configurationvector_funcs.cpp
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/keywordwidgets/widgets.h
  src/gui/modulecontrolwidget.h
  src/gui/modulecontrolwidget_funcs.cpp
  src/keywords/CMakeLists.txt
  src/keywords/base.h
  src/keywords/configurationvector.cpp
  src/keywords/configurationvector.h
  src/module/module.cpp
  src/module/module.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Store vector on keyword rather than reference.
  src/keywords/configurationvector.h
  src/module/module.cpp
  src/module/module.h
  src/modules/accumulate/core.cpp
  src/modules/analyse/process.cpp
  src/modules/atomshake/process.cpp
  src/modules/benchmark/process.cpp
  src/modules/bragg/process.cpp
  src/modules/calculate_angle/process.cpp
  src/modules/calculate_avgmol/process.cpp
  src/modules/calculate_axisangle/process.cpp
  src/modules/calculate_dangle/process.cpp
  src/modules/calculate_rdf/process.cpp
  src/modules/calculate_sdf/process.cpp
  src/modules/checks/process.cpp
  src/modules/energy/process.cpp
  src/modules/export_coordinates/process.cpp
  src/modules/export_trajectory/process.cpp
  src/modules/forces/process.cpp
  src/modules/geomopt/process.cpp
  src/modules/import_trajectory/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/md/process.cpp
  src/modules/molshake/process.cpp
  src/modules/neutronsq/init.cpp
  src/modules/rdf/process.cpp
  src/modules/skeleton/process.cpp
  src/modules/test/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 065068d002d610e36b0366dcfb2d2da9df8ddb5f
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Add EGL to test harness
  .azure-pipelines/templates/tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix typo
  .azure-pipelines/templates/tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 12ebd31b7555f989cfaff453814ce68af420e42c
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Include OpenGLWidgets dependency on Windows
  ci/windows/dissolve-gui.iss
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove dead cmake code
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove last hardcoded qt path in cmakelists.txt
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Explicitly give base directory to QT to mac build
  .azure-pipelines/templates/build-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix some issues with input file writing.
  src/classes/species_intra.cpp
  src/classes/speciessite.cpp
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Parallel Fourier Transform (#746)
  benchmark/array/array_benchmark.cpp
  src/math/ft.cpp
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump version to 0.8.2.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

(Release Automation) Update version info.
  web/static/include/old_releases.md
Due: none

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 8cba16b5b30a52f7603f9a2d767820043347aab0
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Update changeversion script.
  changeversion
  ci/scripts/list-releases
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
Due: none

add Benchmark (googlecpp) benchmark result for 9567ba9ba7d2d0262c3d5217e4272c11692c4968
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 759457f6df6a9c9a0e5c1a52d7079507c761a1b6
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Calculate scale factors required for volume change.
  src/classes/box.cpp
  src/classes/box.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add overloaded multiply().
  src/templates/vector3.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Scale box and cells by individual axes.
  src/classes/box.cpp
  src/classes/box.h
  src/classes/cellarray.cpp
  src/classes/cellarray.h
  src/classes/configuration.h
  src/classes/configuration_box.cpp
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/procedure/nodes/add.cpp
  web/content/docs/procedures/nodes/addnode.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update unit test with box scaling.
  unit/test_box.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove local scripts.
  ci/scripts/prep-appimage
  ci/scripts/prep-dmg
  ci/scripts/prune-continuous
  ci/scripts/update-release
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use centralised scripts.
  .azure-pipelines/templates/create-release.yml
  .azure-pipelines/templates/package-linux.yml
  .azure-pipelines/templates/package-osx.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old files.
  .travis.yml
  dissolve.kdev4
Due: .azure-pipelines/pr.yml

Update mac rpath
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 92a771a698915502c01fadc20a1692ebe243b174
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Remove main stack, simplify layout.
  src/gui/CMakeLists.txt
  src/gui/gui.h
  src/gui/gui.ui
  src/gui/gui_funcs.cpp
  src/gui/gui_simulation.cpp
  src/gui/gui_start.cpp
  src/gui/menu_file.cpp
  src/gui/menu_simulation.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't always show ForcefieldTab, and set status of File menu items.
  src/gui/gui_funcs.cpp
  src/gui/maintabswidget_funcs.cpp
  src/gui/menu_file.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use default dtors.
  src/gui/forcefieldtab.h
  src/gui/forcefieldtab_funcs.cpp
  src/gui/layertab_funcs.cpp
  src/gui/maintab.cpp
  src/gui/maintab.h
  src/gui/workspacetab.h
  src/gui/workspacetab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use enum class.
  src/gui/configurationtab_funcs.cpp
  src/gui/forcefieldtab_funcs.cpp
  src/gui/gui_funcs.cpp
  src/gui/layertab_funcs.cpp
  src/gui/maintab.cpp
  src/gui/maintab.h
  src/gui/maintabswidget_funcs.cpp
  src/gui/menu_configuration.cpp
  src/gui/menu_layer.cpp
  src/gui/menu_species.cpp
  src/gui/speciestab_funcs.cpp
  src/gui/workspacetab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add startup screen eye candy.
  icon/simple.svg
  src/gui/gui.ui
  src/gui/gui_funcs.cpp
  src/gui/icons/simple.png
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move messaging to its own tab.
  src/dissolve-gui.cpp
  src/gui/CMakeLists.txt
  src/gui/gui.h
  src/gui/gui.ui
  src/gui/gui_funcs.cpp
  src/gui/gui_simulation.cpp
  src/gui/icons/tabs_messages.svg
  src/gui/main.qrc
  src/gui/maintab.cpp
  src/gui/maintab.h
  src/gui/maintabswidget.hui
  src/gui/maintabswidget_funcs.cpp
  src/gui/menu_file.cpp
  src/gui/menu_help.cpp
  src/gui/messagestab.h
  src/gui/messagestab.ui
  src/gui/messagestab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Be less verbose about module information and print copyright info to GUI.
  src/dissolve-gui.cpp
  src/main.cpp
  src/main/dissolve.h
  src/main/modules.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
