Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Don't keep generating regions.
  src/procedure/nodes/add.cpp
  src/procedure/nodes/addpair.cpp
  src/procedure/nodes/pickregion.cpp
  src/procedure/nodes/regionbase.cpp
  src/procedure/nodes/regionbase.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Check for valid region_ in prepare() rather than execute().
  src/procedure/nodes/pickregion.cpp
  src/procedure/nodes/pickregion.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Throw an exception when it really should be an exception.
  src/procedure/nodes/add.cpp
  src/procedure/nodes/addpair.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clear CellArray when empty()-ing.
  src/classes/configuration_contents.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add region benchmarking.
  benchmark/CMakeLists.txt
  benchmark/region/region_benchmark.cpp
Due: .azure-pipelines/pr.yml

Tidy benchmarks.
  benchmark/array/array_benchmark.cpp
  benchmark/benchmarks.cpp
  benchmark/box/box_benchmark.cpp
  benchmark/calculate_gr/calculate_gr_benchmark.cpp
  benchmark/common/problems.h
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  benchmark/histogram/histogram_benchmark.cpp
  benchmark/math/math_benchmark.cpp
Due: .azure-pipelines/pr.yml

Update object relationships after removing / copying molecules in procedures.
  src/classes/configuration_contents.cpp
  src/procedure/nodes/copy.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't try to update cell locations if the CellArray hasn't been initialised.
  src/classes/configuration_upkeep.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

De-parent Atoms before removing them from the array en masse.
  src/classes/configuration_contents.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename CoordinateImport... to ConfigurationImport...
  src/classes/configuration.cpp
  src/classes/configuration.h
  src/classes/species.h
  src/io/import/CMakeLists.txt
  src/io/import/configuration.cpp
  src/io/import/configuration.h
  src/io/import/configuration_dlpoly.cpp
  src/io/import/configuration_epsr.cpp
  src/io/import/configuration_moscito.cpp
  src/io/import/configuration_xyz.cpp
  src/io/import/trajectory.cpp
  src/procedure/nodes/coordinatesets.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename CoordinateExport... to ConfigurationExport...
  src/gui/menu_configuration.cpp
  src/io/export/CMakeLists.txt
  src/io/export/configuration.cpp
  src/io/export/configuration.h
  src/modules/export_coordinates/exportcoords.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move ExportCoordinates module to ExportConfiguration.
  src/main/keywords_layer.cpp
  src/module/module.cpp
  src/module/module.h
  src/modules/export_configuration/CMakeLists.txt
  src/modules/export_configuration/exportconfiguration.cpp
  src/modules/export_configuration/exportconfiguration.h
  src/modules/export_configuration/process.cpp
  src/modules/export_coordinates/CMakeLists.txt
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update docs.
  web/docs/userguide/inputfile/configurationblock.md
  web/docs/userguide/inputfile/speciesblock.md
  web/docs/userguide/modules/export/exportcoordinates/_index.md
  web/docs/userguide/reference/fileandformat/configurationformat.md
Due: none

Remove defunct function.
  src/classes/species.h
  src/classes/species_io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move XYZ import to new SpeciesImportFileAndFormat.
  src/classes/species.h
  src/classes/species_io.cpp
  src/gui/menu_species.cpp
  src/io/import/CMakeLists.txt
  src/io/import/species.cpp
  src/io/import/species.h
  src/io/import/species_xyz.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix typo.
  src/io/import/coordinates.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add SpeciesExportFileFormat.
  src/io/export/CMakeLists.txt
  src/io/export/species.cpp
  src/io/export/species.h
  web/docs/userguide/reference/fileandformat/speciesformat.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add option to export average molecule coordinates.
  src/modules/avgmol/avgmol.cpp
  src/modules/avgmol/avgmol.h
  src/modules/avgmol/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update docs.
  web/docs/userguide/modules/analysis/avgmol/_index.md
Due: none

AvgMol Export (#1435)
  src/classes/species.h
  src/classes/species_io.cpp
  src/gui/menu_species.cpp
  src/io/export/CMakeLists.txt
  src/io/export/species.cpp
  src/io/export/species.h
  src/io/import/CMakeLists.txt
  src/io/import/coordinates.cpp
  src/io/import/species.cpp
  src/io/import/species.h
  src/io/import/species_xyz.cpp
  src/modules/avgmol/avgmol.cpp
  src/modules/avgmol/avgmol.h
  src/modules/avgmol/process.cpp
  web/docs/userguide/modules/analysis/avgmol/_index.md
  web/docs/userguide/reference/fileandformat/speciesformat.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Account for potentially big integers in Select node.
  src/procedure/nodes/select.cpp
  src/procedure/nodes/select.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release version info.
  README.md
  web/main.toml
  web/static/include/old_releases.md
Due: none

Update CMakePresets.json
  CMakePresets.json
Due: .azure-pipelines/pr.yml

Update CMakePresets.json (#1438)
  CMakePresets.json
Due: .azure-pipelines/pr.yml

Picking nodes.
  src/gui/icons/nodes_pick.svg
  src/gui/icons/nodes_pickproximity.svg
  src/gui/icons/nodes_pickregion.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add missing copy node icon.
  src/gui/icons/nodes_copy.svg
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Alter AddPair icon.
  src/gui/icons/nodes_addpair.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

The rest.
  src/gui/icons/nodes_calculateangle.svg
  src/gui/icons/nodes_calculatedistance.svg
  src/gui/icons/nodes_calculatevector.svg
  src/gui/icons/nodes_coordinatesets.svg
  src/gui/icons/nodes_cylindricalregion.svg
  src/gui/icons/nodes_generalregion.svg
  src/gui/icons/nodes_parameters.svg
  src/gui/icons/nodes_select.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Access Node Data (#1413)
  src/expression/ExpressionErrorListeners.cpp
  src/expression/ExpressionErrorListeners.h
  src/expression/ExpressionLexer.g4
  src/expression/expression.cpp
  src/procedure/nodes/calculateexpression.cpp
  src/procedure/nodes/calculateexpression.h
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/registry.cpp
  src/procedure/nodes/select.cpp
  src/procedure/nodes/select.h
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix links to packages page.
  web/docs/userguide/get/compilation.md
  web/docs/userguide/get/packages.md
Due: none

Fix links to packages page. (#1441)
  web/docs/userguide/get/compilation.md
  web/docs/userguide/get/packages.md
Due: none

Regions and Removals (#1423)
  benchmark/CMakeLists.txt
  benchmark/array/array_benchmark.cpp
  benchmark/benchmarks.cpp
  benchmark/box/box_benchmark.cpp
  benchmark/calculate_gr/calculate_gr_benchmark.cpp
  benchmark/common/problems.h
  benchmark/energy/energy_benchmark.cpp
  benchmark/forces/forces_benchmark.cpp
  benchmark/histogram/histogram_benchmark.cpp
  benchmark/math/math_benchmark.cpp
  benchmark/region/region_benchmark.cpp
  src/classes/configuration_contents.cpp
  src/classes/configuration_upkeep.cpp
  src/procedure/nodes/add.cpp
  src/procedure/nodes/addpair.cpp
  src/procedure/nodes/copy.cpp
  src/procedure/nodes/pickregion.cpp
  src/procedure/nodes/pickregion.h
  src/procedure/nodes/regionbase.cpp
  src/procedure/nodes/regionbase.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clarify some node keywords and groupings.
  src/procedure/nodes/copy.cpp
  src/procedure/nodes/pick.cpp
  src/procedure/nodes/pickbase.cpp
  src/procedure/nodes/pickregion.cpp
  src/procedure/nodes/remove.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add simple global potential node.
  src/gui/icons/nodes_simpleglobalpotential.svg
  src/gui/main.qrc
  src/kernels/potentials/simple.cpp
  src/kernels/potentials/simple.h
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/simpleglobalpotential.cpp
  src/procedure/nodes/simpleglobalpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
