Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Missed EXPECT_TRUE.
  tests/ff/benzene.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missing EXPECT_TRUE on some force tests.
  tests/ff/hexane.cpp
  tests/ff/water-1000.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove forward declarations and old deserialisation declarations (in Configuration).
  src/base/version.h
  src/classes/configuration.h
  src/classes/isotopologue.h
  src/classes/kVector.h
  src/classes/speciesAtom.h
  src/gui/getConfigurationNameDialog.h
  src/gui/getModuleLayerNameDialog.h
  src/gui/getSpeciesNameDialog.h
  src/gui/getTabNameDialog.h
  src/math/sampledDouble.h
  src/math/sampledVector.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove serialisablePointer() and MD::restrictToSpecies_ option in line with other node conversions.
  src/nodes/md.cpp
  src/nodes/md.h
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove references to CoreData in comments.
  tests/nodes/graph.cpp
  tests/nodes/loop.cpp
  tests/nodes/subGraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove empty test.
  tests/nodes/subGraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old keyword tests.
  tests/gui/optionalDoubleKeyword.cpp
  tests/gui/optionalIntegerKeyword.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missing override.
  src/classes/speciesSite.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Request 26.
  .github/workflows/_checkout.yml
Due: .azure-pipelines/pr.yml

Bump Qt version to 6.8.7.
  .github/workflows/_checkout.yml
Due: .azure-pipelines/pr.yml

REMOVE Just OSX for now.
  .github/workflows/_build_and_package.yml
Due: .azure-pipelines/pr.yml

Use OSX runner var in cacheConan workflow.
  .github/workflows/cacheConan.yml
Due: .azure-pipelines/pr.yml

List available Qt versions.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Try 6.8.3 then.
  .github/workflows/_checkout.yml
Due: .azure-pipelines/pr.yml

Add limits for AtomicMC options.
  src/nodes/atomicMC.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move output.
  src/nodes/insert.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Start adding MCNode.
  src/nodes/mc.cpp
  src/nodes/mc.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fixed it somehow.
  tests/nodes/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Oh yes, I changed the type of stepSize_.
  src/nodes/atomicMC.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Make Matrix3 rotation matrix creation functions static.
  src/math/matrix3.cpp
  src/math/matrix3.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tweak some comments.
  src/nodes/atomicMC.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add getter/setter for Molecule atom coordinates.
  src/classes/molecule.cpp
  src/classes/molecule.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Full MCNode (MolShake).
  src/nodes/mc.cpp
  src/nodes/mc.h
  src/nodes/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missed overrides.
  tests/nodes/sdf.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Start tinkering with a fixture for node testing with round-trip TOML plus data deserialisation.
  tests/testGraphFixture.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Exception handling in Node::deserialise().
  src/nodes/node.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Direct type comparison in Parameter::deserialise().
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix comment.
  src/nodes/graph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Test fixture with SDF node.
  tests/CMakeLists.txt
  tests/nodes/sdf.cpp
  tests/testGraph.cpp
  tests/testGraphFixture.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove polyfill js from mathjax include - no longer required.
  web/layouts/partials/mathjax.html
Due: none

Careful not to break the test.
  src/nodes/atomicMC.h
  tests/nodes/atomicMC.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Temperature does not need to be a required parameter.
  src/nodes/atomicMC.cpp
  src/nodes/mc.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

More useful upkeep function.
  src/classes/configuration.h
  src/classes/configuration_upkeep.cpp
  src/nodes/intraMC.cpp
  src/nodes/intraMC.h
  src/nodes/mcCommon.cpp
  src/nodes/mcCommon.h
  src/nodes/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
