Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

removing arch flag
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Fixed brew formula
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Fixed mkdir command
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

sudo
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

remove brew link
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Add icon for regional global potential.
  src/gui/icons/nodes/regionalGlobalPotential.svg
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Newline.
  src/gui/gui.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update / add missing analysis module icons.
  src/gui/icons/modules/analyse.svg
  src/gui/icons/modules/angle.svg
  src/gui/icons/modules/axisAngle.svg
  src/gui/icons/modules/dAngle.svg
  src/gui/icons/modules/histogramCN.svg
  src/gui/icons/modules/intraAngle.svg
  src/gui/icons/modules/intraDistance.svg
  src/gui/icons/modules/orientedSDF.svg
  src/gui/icons/modules/qSpecies.svg
  src/gui/icons/modules/siteRDF.svg
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add icon for ifValueInRange node.
  src/gui/icons/nodes/ifValueInRange.svg
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix EPSR Toml parsing (#1694)
  src/classes/atomType.cpp
  src/classes/serializablePairPotential.cpp
  tests/modules/epsr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fully updated docker workflow and docs
  Dockerfile
  scripts/setup.sh
  web/docs/userguide/developers/docker.md
Due: .azure-pipelines/pr.yml

Better TOML for dynamic sites
  src/classes/speciesSite.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

changed path
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

debug
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

fixed paths
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

updates to Docker resources (#1696)
  .gitattributes
  .gitignore
  Dockerfile
  scripts/setup.sh
  web/docs/userguide/developers/docker.md
Due: .azure-pipelines/pr.yml

fix java path
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Fix Toml handlings for fragment sites
  src/classes/speciesSite.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix cp command
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

No TomlFailure flag for SiteRDF WaterFragments
  tests/modules/siteRDF.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

module added to GUI
  CMakeLists.txt
  flake.nix
  src/module/module.cpp
  src/module/module.h
  src/modules/dlPoly/CMakeLists.txt
  src/modules/dlPoly/dlPoly.cpp
  src/modules/dlPoly/dlPoly.h
  src/modules/dlPoly/functions.cpp
  src/modules/dlPoly/process.cpp
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix path
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

added debugging to docs
  web/docs/userguide/developers/docker.md
Due: none

added debugging to docs 2
  web/docs/userguide/developers/docker.md
Due: none

added docs for debugging with gdb
  web/docs/userguide/developers/docker.md
Due: none

Add more tools to the basic dev environment
  flake.nix
  web/docs/userguide/developers/docker.md
Due: .azure-pipelines/pr.yml

final tweak to docs
  web/docs/userguide/developers/docker.md
Due: none

small tweak to docs (typo fix)
  web/docs/userguide/developers/docker.md
Due: none

another typo
  web/docs/userguide/developers/docker.md
Due: none

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
