Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Add cmake presets file
  CMakePresets.json
Due: .azure-pipelines/pr.yml

quotes added to expression
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

format change
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Proper CMakePresets setup
  CMakePresets.json
  flake.nix
Due: .azure-pipelines/pr.yml

Remove blank line.
  src/classes/atomtype.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use new system functions for simple cases.
  src/base/sysfunc.cpp
  src/base/sysfunc.h
  src/classes/atomtype.cpp
  src/classes/speciesangle.cpp
  src/classes/speciesbond.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

c++ is radians not degrees
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

format
  unit/procedure/calculateexpression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missing include.
  src/base/sysfunc.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix argument pass-through on singularity
  flake.nix
Due: .azure-pipelines/pr.yml

Fix gnome FileChooser issue in devShell
  flake.nix
Due: .azure-pipelines/pr.yml

Add GL support for dev shell on IDAaaS
  flake.nix
Due: .azure-pipelines/pr.yml

Update CMakePresets.json
  CMakePresets.json
Due: .azure-pipelines/pr.yml

Rename parallel to MPI in presets
  CMakePresets.json
Due: .azure-pipelines/pr.yml

Capitalise CLI in presets
  CMakePresets.json
Due: .azure-pipelines/pr.yml

Functions Code Duplication (#1406)
  src/base/sysfunc.cpp
  src/base/sysfunc.h
  src/classes/atomtype.cpp
  src/classes/atomtype.h
  src/classes/speciesangle.cpp
  src/classes/speciesbond.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix argument pass-through on singularity (#1407)
  flake.nix
Due: .azure-pipelines/pr.yml

Fix qt icons on idaaas in nix development shell
  flake.nix
Due: .azure-pipelines/pr.yml

Add InteractionPotential keyword.
  src/keywords/CMakeLists.txt
  src/keywords/interactionpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add widget for InteractionPotentialKeyword.
  src/gui/keywordwidgets/CMakeLists.txt
  src/gui/keywordwidgets/interactionpotential.h
  src/gui/keywordwidgets/interactionpotential.ui
  src/gui/keywordwidgets/interactionpotential_funcs.cpp
  src/gui/keywordwidgets/producers.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Cmake preset (#1405)
  CMakePresets.json
  flake.nix
Due: .azure-pipelines/pr.yml

Hide error messages from argument checking.
  src/base/enumoptions.h
  src/classes/interactionpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add environment instructions to manual
  web/docs/userguide/developers/idaaas.md
Due: none

InteractionPotential keyword (#1409)
  src/base/enumoptions.h
  src/classes/interactionpotential.h
  src/gui/keywordwidgets/CMakeLists.txt
  src/gui/keywordwidgets/interactionpotential.h
  src/gui/keywordwidgets/interactionpotential.ui
  src/gui/keywordwidgets/interactionpotential_funcs.cpp
  src/gui/keywordwidgets/producers.cpp
  src/keywords/CMakeLists.txt
  src/keywords/interactionpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old and unused ScaledEnergyKernel.
  src/classes/CMakeLists.txt
  src/classes/scaledenergykernel.cpp
  src/classes/scaledenergykernel.h
  src/modules/molshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove pointless declarations.
  src/classes/energykernel.h
  src/classes/scaledenergykernel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Make functions const, fix function description.
  src/classes/energykernel.cpp
  src/classes/energykernel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused functions.
  src/classes/energykernel.cpp
  src/classes/energykernel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clarify unbound/bound vs inter/intra.
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Control force calculation via enum to reduce code dup.
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/geomopt/geomopt.h
  src/modules/md/functions.cpp
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unnecessary function argument.
  src/classes/energykernel.cpp
  src/classes/energykernel.h
  src/modules/energy/functions.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename some functions for clarity.
  benchmark/energy/energy_benchmark.cpp
  src/classes/energykernel.cpp
  src/classes/energykernel.h
  src/modules/atomshake/process.cpp
  src/modules/energy/functions.cpp
  src/modules/energy/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/molshake/process.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reorganise and simplify ForceKernel, moving functions from ForcesModule.
  src/classes/forcekernel.cpp
  src/classes/forcekernel.h
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/forces/process.cpp
  src/modules/geomopt/geomopt.h
  src/modules/md/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add new unit test and test data.
  tests/_data/dlpoly/hexane200_bound/CONFIG
  tests/_data/dlpoly/hexane200_bound/CONTROL
  tests/_data/dlpoly/hexane200_bound/FIELD
  tests/_data/dlpoly/hexane200_bound/OUTPUT
  tests/_data/dlpoly/hexane200_bound/REVCON
  tests/_data/dlpoly/hexane200_bound/REVIVE
  tests/_data/dlpoly/hexane200_bound/STATIS
  tests/_data/dlpoly/hexane200_unbound/CONFIG
  tests/_data/dlpoly/hexane200_unbound/CONTROL
  tests/_data/dlpoly/hexane200_unbound/FIELD
  tests/_data/dlpoly/hexane200_unbound/OUTPUT
  tests/_data/dlpoly/hexane200_unbound/REVCON
  tests/_data/dlpoly/hexane200_unbound/REVIVE
  tests/_data/dlpoly/hexane200_unbound/STATIS
  unit/CMakeLists.txt
  unit/ff/CMakeLists.txt
  unit/ff/forcesModule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Harmonise EnergyKernel ctor with ForceKernel ctor.
  src/classes/energykernel.cpp
  src/classes/energykernel.h
  src/modules/atomshake/process.cpp
  src/modules/energy/functions.cpp
  src/modules/energy/process.cpp
  src/modules/intrashake/process.cpp
  src/modules/molshake/process.cpp
  unit/classes/cells.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove more unused functions.
  src/classes/forcekernel.cpp
  src/classes/forcekernel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
