Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Fix page link.
  web/content/examples/emim-oac/step8.md
Due: none

Correctly close top and warn shortcodes.
  web/content/docs/ff/builtin/ludwig.md
  web/content/docs/get/compilation.md
  web/content/docs/get/scarf-foss.md
  web/content/docs/setup/species/_index.md
  web/content/examples/argon/step1.md
  web/content/examples/argon/step2.md
  web/content/examples/argon/step4b.md
  web/content/examples/argon/step5.md
  web/content/examples/previous/0.8/_index.md
  web/content/examples/previous/0.8/argon/step1.md
  web/content/examples/previous/0.8/argon/step2.md
  web/content/examples/previous/0.8/argon/step4b.md
  web/content/examples/previous/0.8/benzene/step2.md
  web/content/examples/previous/0.8/benzene/step9a.md
  web/content/examples/previous/0.8/silica_bulk/step1.md
  web/content/examples/previous/0.8/water/step10.md
  web/content/examples/previous/0.8/water/step1b.md
  web/content/examples/previous/0.8/water/step3.md
  web/content/examples/previous/0.8/water/step6.md
  web/content/examples/water/step1b.md
  web/content/examples/water/step3.md
  web/content/examples/water/step6.md
Due: none

Docs - June 2022, part 2 (#1126)
  ci/scripts/meld-example
  web/content/docs/ff/builtin/ludwig.md
  web/content/docs/get/compilation.md
  web/content/docs/get/scarf-foss.md
  web/content/docs/setup/species/_index.md
  web/content/examples/argon/step1.md
  web/content/examples/argon/step2.md
  web/content/examples/argon/step4b.md
  web/content/examples/argon/step5.md
  web/content/examples/emim-oac/step8.md
  web/content/examples/previous/0.8/_index.md
  web/content/examples/previous/0.8/argon/step1.md
  web/content/examples/previous/0.8/argon/step2.md
  web/content/examples/previous/0.8/argon/step4b.md
  web/content/examples/previous/0.8/benzene/step2.md
  web/content/examples/previous/0.8/benzene/step9a.md
  web/content/examples/previous/0.8/silica_bulk/step1.md
  web/content/examples/previous/0.8/water/step10.md
  web/content/examples/previous/0.8/water/step1b.md
  web/content/examples/previous/0.8/water/step3.md
  web/content/examples/previous/0.8/water/step6.md
  web/content/examples/water/step1b.md
  web/content/examples/water/step3.md
  web/content/examples/water/step6.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add initial steps.
  examples/ipa-water/data/9:1_D2O:IPA-d6.mint01
  examples/ipa-water/data/9:1_D2O:IPA-d8.mint01
  examples/ipa-water/data/9:1_D2O:IPA-h8.mint01
  examples/ipa-water/data/9:1_H2O:IPA-d8.mint01
  examples/ipa-water/data/9:1_H2O:IPA-h8.mint01
  web/content/examples/ipa-water/_index.md
  web/content/examples/ipa-water/step1.md
  web/content/examples/ipa-water/step2.md
  web/content/examples/ipa-water/step3.md
  web/content/examples/ipa-water/step4.md
  web/content/examples/ipa-water/step4a.md
  web/content/examples/ipa-water/step4b.md
  web/content/examples/ipa-water/step5.md
  web/content/examples/ipa-water/step5a.md
  web/content/examples/ipa-water/step5b.md
  web/content/examples/ipa-water/step5c.md
  web/content/examples/ipa-water/step6.md
  web/content/examples/ipa-water/step7.md
  web/content/examples/ipa-water/step8.md
Due: none

Patch qt6
  flake.nix
Due: .azure-pipelines/pr.yml

Remove dead nix code
  nix/icu.nix
  nix/qt6.nix
Due: .azure-pipelines/pr.yml

Better overlay usage
  flake.nix
Due: .azure-pipelines/pr.yml

Only hook in desktop on GUI build
  flake.nix
Due: .azure-pipelines/pr.yml

Add LigParGen example.
  examples/ligpargen/data/Caffeine_D892BE.xml
  examples/ligpargen/data/Caffeine_D892BE.xyz
  web/content/examples/ligpargen/_index.md
  web/content/examples/ligpargen/exercise1.md
  web/content/examples/ligpargen/exercises.md
  web/content/examples/ligpargen/icon.png
  web/content/examples/ligpargen/icon.svg
  web/content/examples/ligpargen/step1.md
  web/content/examples/ligpargen/step2.md
  web/content/examples/ligpargen/step3.md
  web/content/examples/ligpargen/step4.md
Due: none

Fixup old example.
  web/content/examples/argon/step3.md
Due: none

Remove trailing pipes.
  web/content/examples/emim-oac/_index.md
Due: none

Update examples index.
  web/content/examples/_index.md
  web/content/examples/benzene/_index.md
  web/content/examples/cu-btc/_index.md
  web/content/examples/emim-oac/_index.md
  web/content/examples/ligpargen/_index.md
  web/content/examples/post-processing/_index.md
  web/content/examples/silica/_index.md
  web/content/examples/water/_index.md
Due: none

Patch - June 2022, Part 3 (#1117)
  .azure-pipelines/templates/build-windows.yml
  examples/argon/data/_yarnell.gnumeric
  examples/argon/data/_yarnell.xls
  examples/package-examples
  src/gui/configurationtab_funcs.cpp
  src/gui/menu_simulation.cpp
  src/gui/modulecontrolwidget_funcs.cpp
  src/gui/speciestab.h
  src/gui/speciestab.ui
  src/gui/speciestab_funcs.cpp
  src/gui/speciestab_geometry.cpp
  src/main/dissolve.h
  src/main/pairpotentials.cpp
  src/main/simulation.cpp
  src/modules/calculate_avgmol/functions.cpp
  src/modules/calculate_avgmol/process.cpp
  src/modules/epsr/gui/epsrwidget_funcs.cpp
  src/procedure/nodes/coordinatesets.cpp
  src/procedure/nodes/select.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Docs Update - June 22 (#1123)
  web/content/docs/procedures/nodes/addnode.md
  web/content/docs/procedures/nodes/coordinatesetsnode.md
  web/content/docs/procedures/nodes/operatenumberdensitynormalisenode.md
  web/content/docs/reference/boxactionstyle.md
  web/content/docs/reference/coordinatesetsource.md
  web/content/docs/reference/positioningtype.md
  web/content/docs/reference/selectionpopulation.md
  web/content/examples/_index.md
  web/content/examples/argon/icon.png
  web/content/examples/argon/icon.svg
  web/content/examples/argon/step2.md
  web/content/examples/benzene/icon.png
  web/content/examples/benzene/step1.md
  web/content/examples/cu-btc/icon.png
  web/content/examples/cu-btc/step1.md
  web/content/examples/cu-btc/step2.md
  web/content/examples/cu-btc/step5.md
  web/content/examples/emim-oac/exercise1.md
  web/content/examples/emim-oac/exercises.md
  web/content/examples/emim-oac/icon.png
  web/content/examples/emim-oac/step2.md
  web/content/examples/emim-oac/step9.md
  web/content/examples/silica/icon.png
  web/content/examples/water/epsrmodule-totalgr.png
  web/content/examples/water/icon.png
  web/content/examples/water/icon.svg
  web/content/examples/water/step1a.md
  web/content/examples/water/step2.md
  web/content/examples/water/step7.md
  web/content/packages.md
  web/layouts/shortcodes/cimage.html
Due: none

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Try to fix Harbor tagging.
  .azure-pipelines/templates/create-release.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove assets for existing release.
  .azure-pipelines/templates/create-release.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Properly close more tips.
  web/content/examples/argon/step3.md
  web/content/examples/argon/step4.md
  web/content/examples/previous/0.8/argon/step3.md
  web/content/examples/previous/0.8/argon/step4.md
  web/content/examples/previous/0.8/benzene/step1.md
  web/content/examples/previous/0.8/benzene/step4.md
Due: none

Properly close more tips. (#1132)
  web/content/examples/argon/step3.md
  web/content/examples/argon/step4.md
  web/content/examples/previous/0.8/argon/step3.md
  web/content/examples/previous/0.8/argon/step4.md
  web/content/examples/previous/0.8/benzene/step1.md
  web/content/examples/previous/0.8/benzene/step4.md
Due: none

Remove spurious characters.
  web/content/examples/ligpargen/_index.md
Due: none

Fix ligpargen example data links.
  web/content/examples/ligpargen/_index.md
Due: none

Docs Hotfix - June 2022, Part 2 (#1134)
  web/content/examples/ligpargen/_index.md
Due: none

Add function to transform whole molecule about specific origin.
  src/classes/molecule.cpp
  src/classes/molecule.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add AddPair node.
  src/gui/icons/nodes_addpair.svg
  src/gui/main.qrc
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/addpair.cpp
  src/procedure/nodes/addpair.h
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/nodes.h
  src/procedure/nodes/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update docs.
  web/content/docs/procedures/nodes/addnode.md
  web/content/docs/procedures/nodes/addpairnode.md
Due: none

Take shared instead of raw pointer in constructor.
  src/gui/menu_configuration.cpp
  src/procedure/nodes/add.cpp
  src/procedure/nodes/add.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correct step.
  web/content/examples/benzene/step4.md
Due: none

Expand on LigParGen charge information.
  web/content/examples/ligpargen/step4.md
Due: none

Update graphics.
  web/content/examples/water/epsrmodule-phir.png
  web/content/examples/water/epsrmodule-rfactor.png
Due: none

Add exercises to single page versions if present.
  ci/scripts/meld-example
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

CI Fixes (#1128)
  .azure-pipelines/templates/create-release.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Take shared instead of raw pointer in constructor. (#1144)
  src/gui/menu_configuration.cpp
  src/procedure/nodes/add.cpp
  src/procedure/nodes/add.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add exercises to single page versions if present. (#1145)
  ci/scripts/meld-example
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
