Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Use parameter names for angle terms.
  src/data/ff/angleterm.cpp
  src/data/ff/angleterm.h
  src/data/ff/ff.cpp
  src/data/ff/ff.h
  src/data/ff/kulmala2010/kulmala2010.cpp
  src/data/ff/ludwig/ntf2.cpp
  src/data/ff/ludwig/py4oh.cpp
  src/data/ff/ludwig/py5.cpp
  src/data/ff/oplsaa2005/intramolecular.cpp
  src/data/ff/pcl2019/intramolecular.cpp
  src/data/ff/spcfw/spcfw.cpp
  src/data/ff/strader2002/dmso.cpp
  src/data/ff/zhang2013/zhang2013.cpp
  src/data/ff/zhao2010/zhao2010.cpp
  src/gui/models/xmlAngleModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reformat short range parameters.
  src/data/ff/kulmala2010/kulmala2010.cpp
  src/data/ff/ludwig/ntf2.cpp
  src/data/ff/ludwig/py4oh.cpp
  src/data/ff/ludwig/py5.cpp
  src/data/ff/oplsaa2005/atomtypes.cpp
  src/data/ff/pcl2019/base.cpp
  src/data/ff/spcfw/spcfw.cpp
  src/data/ff/strader2002/dmso.cpp
  src/data/ff/zhang2013/zhang2013.cpp
  src/data/ff/zhao2010/zhao2010.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow specification of short-range parameters by name=value set.
  src/data/ff/atomtype.cpp
  src/data/ff/atomtype.h
  src/data/ff/ff.cpp
  src/data/ff/ff.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use string_view, fix message.
  src/classes/interactionpotential.h
  src/data/ff/atomtype.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use parameter names for torsion and improper terms.
  src/data/ff/ff.cpp
  src/data/ff/ff.h
  src/data/ff/improperterm.cpp
  src/data/ff/improperterm.h
  src/data/ff/kulmala2010/kulmala2010.cpp
  src/data/ff/ludwig/ntf2.cpp
  src/data/ff/ludwig/py4oh.cpp
  src/data/ff/ludwig/py5.cpp
  src/data/ff/oplsaa2005/intramolecular.cpp
  src/data/ff/pcl2019/intramolecular.cpp
  src/data/ff/strader2002/dmso.cpp
  src/data/ff/torsionterm.cpp
  src/data/ff/torsionterm.h
  src/data/ff/uff/uff.cpp
  src/data/ff/zhang2013/zhang2013.cpp
  src/data/ff/zhao2010/zhao2010.cpp
  src/gui/models/xmlImproperModel.cpp
  src/gui/models/xmlTorsionModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add unit test for InteractionPotential.
  unit/classes/CMakeLists.txt
  unit/classes/interactionPotential.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1246 Use optional numeric controls where appropriate (#1319)
  src/modules/epsr/epsr.cpp
  src/modules/epsr/epsr.h
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
  src/modules/gr/gr.cpp
  src/modules/gr/gr.h
  src/modules/gr/process.cpp
  src/modules/md/md.cpp
  src/modules/md/md.h
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1097 Parameter Formatting (#1323)
  src/classes/interactionpotential.h
  src/data/ff/angleterm.cpp
  src/data/ff/angleterm.h
  src/data/ff/atomtype.cpp
  src/data/ff/atomtype.h
  src/data/ff/bondterm.cpp
  src/data/ff/bondterm.h
  src/data/ff/ff.cpp
  src/data/ff/ff.h
  src/data/ff/improperterm.cpp
  src/data/ff/improperterm.h
  src/data/ff/kulmala2010/kulmala2010.cpp
  src/data/ff/ludwig/ntf2.cpp
  src/data/ff/ludwig/py4oh.cpp
  src/data/ff/ludwig/py5.cpp
  src/data/ff/oplsaa2005/atomtypes.cpp
  src/data/ff/oplsaa2005/intramolecular.cpp
  src/data/ff/pcl2019/base.cpp
  src/data/ff/pcl2019/intramolecular.cpp
  src/data/ff/spcfw/spcfw.cpp
  src/data/ff/strader2002/dmso.cpp
  src/data/ff/torsionterm.cpp
  src/data/ff/torsionterm.h
  src/data/ff/uff/uff.cpp
  src/data/ff/zhang2013/zhang2013.cpp
  src/data/ff/zhao2010/zhao2010.cpp
  src/gui/models/xmlAngleModel.cpp
  src/gui/models/xmlBondModel.cpp
  src/gui/models/xmlImproperModel.cpp
  src/gui/models/xmlTorsionModel.cpp
  unit/classes/CMakeLists.txt
  unit/classes/interactionPotential.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use auto.
  src/main.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove fairly pointless setRestartFilename() function.
  src/gui/gui_funcs.cpp
  src/main/dissolve.h
  src/main/io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Set restart file name at same time as input file name is stored.
  src/main/io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't forget the CLI version!
  src/main.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix angle detection on some terminal bonds.
  src/classes/species_intra.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Extend unit test.
  unit/classes/species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

skeleton code solution
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

OptionalInt error catch added
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Angle Detection (#1326)
  src/classes/species_intra.cpp
  unit/classes/species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't try to push release info changes to GitHub.
  ci/scripts/list-releases
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Removed stob from try()
  src/keywords/optionalint.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP Common Issues guide.
  web/content/docs/run/commonissues.md
Due: none

Update RDF docs, merging in CN information (now deleted).
  web/content/docs/modules/analysis/calculatecn/_index.md
  web/content/docs/modules/analysis/calculaterdf/_index.md
Due: none

Fix copyright message.
  web/config.toml
Due: none

Update / add / remove nodes following keyword changes.
  web/content/docs/procedures/nodes/addnode.md
  web/content/docs/procedures/nodes/addpairnode.md
  web/content/docs/procedures/nodes/boxnode.md
  web/content/docs/procedures/nodes/calculateanglenode.md
  web/content/docs/procedures/nodes/calculateaxisanglenode.md
  web/content/docs/procedures/nodes/calculatedistancenode.md
  web/content/docs/procedures/nodes/calculatevectornode.md
  web/content/docs/procedures/nodes/collect1dnode.md
  web/content/docs/procedures/nodes/collect2dnode.md
  web/content/docs/procedures/nodes/collect3dnode.md
  web/content/docs/procedures/nodes/coordinatesetsnode.md
  web/content/docs/procedures/nodes/copy.md
  web/content/docs/procedures/nodes/cylindricalregion.md
  web/content/docs/procedures/nodes/dynamicsitenode.md
  web/content/docs/procedures/nodes/integrate1d.md
  web/content/docs/procedures/nodes/operatedividenode.md
  web/content/docs/procedures/nodes/operateexpressionnode.md
  web/content/docs/procedures/nodes/operatemultiplynode.md
  web/content/docs/procedures/nodes/operatenormalisenode.md
  web/content/docs/procedures/nodes/operatenumberdensitynormalisenode.md
  web/content/docs/procedures/nodes/operatesitepopulationnormalisenode.md
  web/content/docs/procedures/nodes/operatesphericalshellnormalisenode.md
  web/content/docs/procedures/nodes/parametersnode.md
  web/content/docs/procedures/nodes/pickcylinder.md
  web/content/docs/procedures/nodes/pickproximity.md
  web/content/docs/procedures/nodes/pickregion.md
  web/content/docs/procedures/nodes/process1dnode.md
  web/content/docs/procedures/nodes/process2dnode.md
  web/content/docs/procedures/nodes/process3dnode.md
  web/content/docs/procedures/nodes/removenode.md
  web/content/docs/procedures/nodes/selectnode.md
  web/content/docs/procedures/nodes/sum1dnode.md
  web/content/docs/procedures/nodes/transmutenode.md
Due: none

Update module docs following keyword changes.
  web/content/docs/modules/analysis/analyse/_index.md
  web/content/docs/modules/analysis/calculateangle/_index.md
  web/content/docs/modules/analysis/calculateavgmol/_index.md
  web/content/docs/modules/analysis/calculateaxisangle/_index.md
  web/content/docs/modules/analysis/calculatedangle/_index.md
  web/content/docs/modules/analysis/calculaterdf/_index.md
  web/content/docs/modules/analysis/calculatesdf/_index.md
  web/content/docs/modules/correlation/accumulate/_index.md
  web/content/docs/modules/correlation/bragg/_index.md
  web/content/docs/modules/correlation/neutronsq/_index.md
  web/content/docs/modules/correlation/rdf/_index.md
  web/content/docs/modules/correlation/sq/_index.md
  web/content/docs/modules/correlation/xraysq/_index.md
  web/content/docs/modules/evolution/atomshake/_index.md
  web/content/docs/modules/evolution/intrashake/_index.md
  web/content/docs/modules/evolution/md/_index.md
  web/content/docs/modules/evolution/molshake/_index.md
  web/content/docs/modules/export/exportcoordinates/_index.md
  web/content/docs/modules/export/exportpairpotentials/_index.md
  web/content/docs/modules/export/exporttrajectory/_index.md
  web/content/docs/modules/forcefield/energy/_index.md
  web/content/docs/modules/forcefield/epsr/_index.md
  web/content/docs/modules/forcefield/forces/_index.md
  web/content/docs/modules/import/importtrajectory/_index.md
  web/content/docs/modules/optimisation/calibrate/_index.md
  web/content/docs/modules/optimisation/geometryoptimisation/_index.md
  web/content/docs/modules/tests/checks/_index.md
  web/content/docs/modules/tests/datatest/_index.md
  web/content/docs/reference/expansionfunction.md
Due: none

WIP Basic Simulation guide.
  web/content/docs/run/basic.md
Due: none

Update GHA for new structuring.
  .github/workflows/get-version/action.yml
  .github/workflows/web.yml
  .github/workflows/website/action.yml
  web/config-docs.toml
  web/config.toml
Due: .azure-pipelines/pr.yml

Don't confuse link-checker.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Fix links in main site.
  web/content/packages.md
Due: none

Fix doc links, remove forum link.
  web/content/_index.html
Due: none

Add DB to contributors.
  web/docs/_index.md
Due: none

Rename module: RDF to GR.
  web/docs/examples/argon/step4b.md
  web/docs/examples/cu-btc/step3.md
  web/docs/examples/cu-btc/step5.md
  web/docs/examples/water/step6.md
  web/docs/userguide/modules/correlation/accumulate/_index.md
  web/docs/userguide/modules/correlation/gr/_index.md
  web/docs/userguide/modules/correlation/neutronsq/_index.md
  web/docs/userguide/modules/correlation/sq/_index.md
  web/docs/userguide/modules/correlation/xraysq/_index.md
  web/docs/userguide/setup/atomtypes.md
Due: none

Mention 1-4 interactions in torsion page.
  web/docs/userguide/ff/forms/fftorsion.md
Due: none

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
