Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

last bits
  src/nodes/node.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Start adding TestNode.
  src/nodes/test.cpp
  src/nodes/test.h
  tests/nodes/CMakeLists.txt
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

A const dead-end.
  src/nodes/node.h
  src/nodes/parameter.h
  src/nodes/test.cpp
  src/nodes/test.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

No more const-getter.
  src/nodes/parameter.h
  src/nodes/test.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clarify template parameter intent for pointer types.
  src/nodes/node.h
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

More unit test.
  src/nodes/parameter.h
  src/nodes/test.cpp
  src/nodes/test.h
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

part 1
  src/math/windowFunction.cpp
  src/math/windowFunction.h
  src/nodes/sq/helpers.cpp
  src/nodes/sq/process.cpp
  src/nodes/sq/sq.cpp
  src/nodes/sq/sq.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

part 4
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/gr/process.cpp
  src/nodes/md/process.cpp
  src/nodes/sq/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

part 3 - builds
  src/nodes/gr/gr.cpp
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/gr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

part 2
  src/nodes/gr/gr.cpp
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/gr/process.cpp
  src/nodes/sq/helpers.cpp
  src/nodes/sq/process.cpp
  src/nodes/sq/sq.cpp
  src/nodes/sq/sq.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

use private member name
  src/nodes/sq/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

pr comments 1
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/nodes/gr/gr.cpp
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/gr/process.cpp
  src/nodes/sq/sq.cpp
  src/nodes/sq/sq.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

most things fixed, except parameter find
  src/nodes/gr/gr.cpp
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/gr/process.cpp
  src/nodes/sq/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

define getEnumOptions outside class for compiling
  src/math/windowFunction.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

clang format
  src/nodes/gr/helpers.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

var names
  src/nodes/gr/gr.cpp
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/sq/process.cpp
  src/nodes/sq/sq.cpp
  src/nodes/sq/sq.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

optional velocities member
  src/nodes/md/md.h
  src/nodes/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't forget the archives.
  .github/workflows/_publish.yml
Due: .azure-pipelines/pr.yml

its optional
  src/nodes/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

rho
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/sq/process.cpp
  src/nodes/sq/sq.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Target 13.3 for Freetype and FTGL builds.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Let's try macos-15.
  .github/workflows/_build_and_package.yml
Due: .azure-pipelines/pr.yml

Conditional check for nullptr when assigning pointer types in Parameter.
  src/nodes/parameter.h
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

A demotion of sorts.
  web/docs/_index.md
Due: none

Don't update version index of Edge if assign() fails.
  src/nodes/edge.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update TestNode and unit test.
  src/nodes/test.cpp
  src/nodes/test.h
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Add missing example data archives to published assets (#2178)
  .github/workflows/_publish.yml
Due: .azure-pipelines/pr.yml

Target OSX deployment version as an input parameter.
  .github/workflows/_build_and_package.yml
  .github/workflows/_checkout.yml
  .github/workflows/build/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/pr.yml
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Option for OSX runner.
  .github/workflows/_build_and_package.yml
  .github/workflows/_checkout.yml
  .github/workflows/build/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Quotes to the rescue?
  .github/workflows/_build_and_package.yml
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
