Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *

Fully remove Array_1d benchmark.
  benchmark/array/array_benchmark.cpp
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for cf697b667dd9921340f11e09cd77873a3a1a3ebc
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Add note on energy stability.
  web/content/docs/modules/forcefield/energy/_index.md
Due: none

add Benchmark (googlecpp) benchmark result for 470ce36d73e66c0abb40bf535c744dd1b95f2000
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

Fix bulk silica example.
  examples/silica_bulk/input.txt
  web/content/examples/silica_bulk/step1.md
  web/content/examples/silica_bulk/step2.md
  web/content/examples/silica_bulk/step3.md
Due: none

Initialise charge.
  src/classes/atomtype.cpp
  src/classes/atomtype.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix display of energy and gradient.
  src/modules/energy/gui/modulewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Bump version to 0.8.1.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correct forces on molecule subset, remove incorrect functions.
  src/modules/forces/forces.h
  src/modules/forces/functions.cpp
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use stored velocities as basis for test.
  tests/md/10.forces
  tests/md/9.restart
  tests/md/CMakeLists.txt
  tests/md/benzene.txt
  tests/md/reference.forces
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Store coordinates in restart file with better accuracy.
  src/classes/configuration_io.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use local force routine.
  src/modules/forces/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for a5694854cbb4faa3ac75b85f1945e07080a42397
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Use standard colouring for tab titles.
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update class, use standard colours.
  src/gui/outputhandler.hui
  src/gui/outputhandler_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use standard colours for charts.
  src/gui/charts/moduleblock_funcs.cpp
  src/gui/charts/modulelist.cpp
  src/gui/charts/modulelist.h
  src/gui/charts/procedure.cpp
  src/gui/charts/procedure.h
  src/gui/charts/procedurenode.h
  src/gui/charts/procedurenode_funcs.cpp
  src/gui/modulelisteditor_funcs.cpp
  src/gui/modulewidget.cpp
  src/gui/modulewidget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove system templates.
  src/gui/CMakeLists.txt
  src/gui/gui.h
  src/gui/gui.ui
  src/gui/gui_funcs.cpp
  src/gui/main.qrc
  src/gui/menu_file.cpp
  src/gui/selectsystemtemplatedialog.h
  src/gui/selectsystemtemplatedialog.ui
  src/gui/selectsystemtemplatedialog_funcs.cpp
  src/gui/systemtemplate.cpp
  src/gui/systemtemplate.h
  src/gui/systemtemplates/simple_one/icon.svg
  src/gui/systemtemplates/simple_one/info.xml
  src/gui/systemtemplates/simple_one/input.txt
  src/gui/systemtemplates/simple_two/icon.svg
  src/gui/systemtemplates/simple_two/info.xml
  src/gui/systemtemplates/simple_two/input.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add basic picking nodes.
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/nodes.h
  src/procedure/nodes/pick.cpp
  src/procedure/nodes/pick.h
  src/procedure/nodes/pickbase.cpp
  src/procedure/nodes/pickbase.h
  src/procedure/nodes/pickcylinder.cpp
  src/procedure/nodes/pickcylinder.h
  src/procedure/nodes/sequence.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Formatting.
  src/procedure/nodes/select.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use std::vector for Molecules.
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/sitestack.cpp
  src/modules/forces/functions.cpp
  src/procedure/nodes/dynamicsite.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Throw instead of error message.
  src/procedure/nodes/sequence.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add remove species node.
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/nodes.h
  src/procedure/nodes/removespecies.cpp
  src/procedure/nodes/removespecies.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update docs.
  web/content/docs/procedures/nodes/pickcylinder.md
  web/content/docs/procedures/nodes/picknode.md
  web/content/docs/procedures/nodes/removespeciesnode.md
Due: none

Remove old includes.
  src/procedure/nodes/pick.h
  src/procedure/nodes/pickcylinder.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 7e5b6d662370ba216f9f580885dbc7371b518a63
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Get unit tests running again
  unit/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Get MPI building again.
  .azure-pipelines/templates/build-linux-parallel.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for a1b0ce574f508561c9755d33dc2769676ebc925b
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for d59a7771080450c18151cc26ac7d5ab48241e8a3
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for d20976f22a7612d69e341afaa93468879f368a66
  dev/bench/data.js
Due: .azure-pipelines/pr.yml
