Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Update package-examples to exclude cmakelists
  examples/package-examples
Due: none

fix: 1844 - QML ScaleLayout scale charges dialog to accept floats (#1848)
  src/gui/qml/modifyCharges/ScaleLayout.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Improve cu-btc example
  web/docs/examples/cu-btc/step1.md
  web/docs/examples/cu-btc/step2.md
Due: none

Improve Post Processing example docs
  web/docs/examples/post-processing/step1.md
Due: none

Fix LigParGen example
  web/docs/examples/ligpargen/step3.md
Due: none

Create no-text gui-button shortcut
  web/assets/scss/_content.scss
  web/layouts/shortcodes/gui-button.html
Due: none

fix: Typo in NeutronSQ NormaliseTo Keyword (#1844)
  src/modules/neutronSQ/neutronSQ.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Improve Post Processing example docs
  web/docs/examples/post-processing/step1.md
  web/docs/examples/post-processing/step2.md
  web/docs/examples/post-processing/step3.md
  web/docs/examples/post-processing/step4.md
Due: none

Docs: add search bar (#1842)
  web/docs.toml
Due: none

Apply review changes
  examples/package-examples
Due: none

fix: Remove CMakeLists from packaged examples (#1851)
  examples/package-examples
Due: none

SelectionProcessor setup.
  src/analyser/CMakeLists.txt
  src/analyser/selectionProcessor.cpp
  src/analyser/selectionProcessor.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: binary expressions (and corresponding operators).
  src/expression/ExpressionLexer.g4
  src/expression/ExpressionParser.g4
  src/expression/ExpressionVisitor.cpp
  src/expression/ExpressionVisitor.h
  src/expression/binary.cpp
  src/expression/binary.h
  src/expression/value.cpp
  src/expression/value.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix(MAYBE REVERT): make int and double initialisation explicit.
  src/expression/value.cpp
  src/expression/value.h
  src/expression/variable.h
  src/gui/models/expressionVariableVectorModel.cpp
  src/kernels/potentials/regional.cpp
  src/keywords/expressionVariableVector.cpp
  src/math/transformer.cpp
  src/procedure/nodes/calculateAxisAngle.cpp
  src/procedure/nodes/customRegion.cpp
  src/procedure/nodes/iterateData1D.cpp
  src/procedure/nodes/iterateSelection.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/operateExpression.cpp
  src/procedure/nodes/select.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix(MAYBE REVERT): make int and double initialisation explicit (2).
  src/expression/value.h
  src/expression/variable.h
  src/gui/addConfigurationDialog.cpp
  src/gui/menu_configuration.cpp
  tests/gui/expressionVariableVectorModel.cpp
  tests/procedure/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: not-equal operator.
  src/expression/ExpressionLexer.g4
  src/expression/ExpressionParser.g4
  src/expression/binary.cpp
  src/expression/binary.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

test: new boolean expressions.
  tests/math/expression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Apply suggestions from code review
  web/docs/examples/argon/step1.md
  web/docs/examples/argon/step2.md
  web/docs/examples/argon/step4a.md
  web/docs/examples/benzene/step5.md
  web/docs/examples/silica/step1.md
  web/docs/userguide/get/compilation.md
Due: none

Consistency between UI control and code.
  src/io/import/cif.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Copy box for supercell species.
  src/io/import/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tweak UI.
  src/gui/importCIFDialog.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update docs.
  web/docs/examples/cu-btc/step1.md
Due: none

fix: Creating configuration for CuBTC example (#1854) (#1856)
  src/gui/importCIFDialog.ui
  src/io/import/cif.cpp
  src/io/import/cif.h
  web/docs/examples/cu-btc/step1.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: OSites Bond Lengths (#1817)
  src/gui/gui.ui
  src/gui/icons/modules/modifierOSites.svg
  src/gui/main.qrc
  src/modules/modifierOSites/gui/modifierOSitesWidget.h
  src/modules/modifierOSites/gui/modifierOSitesWidget.ui
  src/modules/modifierOSites/gui/modifierOSitesWidgetFuncs.cpp
  src/modules/modifierOSites/modifierOSites.cpp
  src/modules/modifierOSites/modifierOSites.h
  src/modules/modifierOSites/process.cpp
  tests/data/dissolve/input/BOBondLengthTest.dat
  tests/data/dissolve/input/FOBondLengthTest.dat
  tests/data/dissolve/input/NBOBondLengthTest.dat
  tests/data/dissolve/input/modifierOSites-BObond-lengths-test.dat
  tests/data/dissolve/input/modifierOSites-FObond-lengths-test.dat
  tests/data/dissolve/input/modifierOSites-NBObond-lengths-test.dat
  tests/data/dissolve/input/modifierOSites-test2.txt
  tests/data/dissolve/input/modifierOSites-test2.xyz
  tests/modules/modifierOSites.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: EPSR Manager Module (#1756) (#1755)
  src/base/sysFunc.cpp
  src/base/sysFunc.h
  src/module/module.cpp
  src/module/types.h
  src/modules/epsr/epsr.cpp
  src/modules/epsr/epsr.h
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
  src/modules/epsrManager/CMakeLists.txt
  src/modules/epsrManager/epsrManager.cpp
  src/modules/epsrManager/epsrManager.h
  src/modules/epsrManager/functions.cpp
  src/modules/epsrManager/gui/CMakeLists.txt
  src/modules/epsrManager/gui/epsrManagerFuncs.cpp
  src/modules/epsrManager/gui/epsrManagerWidget.h
  src/modules/epsrManager/gui/epsrManagerWidget.ui
  src/modules/epsrManager/process.cpp
  src/modules/registry.cpp
  src/modules/widgetProducer.cpp
  tests/algorithms/sysFunc.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

ci: Quote PR title in test
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Single Quotes
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Name module icons exactly after module name.
  src/gui/icons/modules/Accumulate.svg
  src/gui/icons/modules/Analyse.svg
  src/gui/icons/modules/Angle.svg
  src/gui/icons/modules/AtomShake.svg
  src/gui/icons/modules/AvgMol.svg
  src/gui/icons/modules/AxisAngle.svg
  src/gui/icons/modules/Benchmark.svg
  src/gui/icons/modules/Bragg.svg
  src/gui/icons/modules/Calibrate.svg
  src/gui/icons/modules/Compare.svg
  src/gui/icons/modules/DAngle.svg
  src/gui/icons/modules/Energy.svg
  src/gui/icons/modules/ExportCoordinates.svg
  src/gui/icons/modules/ExportPairPotentials.svg
  src/gui/icons/modules/ExportTrajectory.svg
  src/gui/icons/modules/Forces.svg
  src/gui/icons/modules/GeometryOptimisation.svg
  src/gui/icons/modules/HistogramCN.svg
  src/gui/icons/modules/ImportTrajectory.svg
  src/gui/icons/modules/IntraAngle.svg
  src/gui/icons/modules/IntraDistance.svg
  src/gui/icons/modules/IntraShake.svg
  src/gui/icons/modules/ModifierOSites.svg
  src/gui/icons/modules/MolShake.svg
  src/gui/icons/modules/NeutronSQ.svg
  src/gui/icons/modules/OrientedSDF.svg
  src/gui/icons/modules/QSpecies.svg
  src/gui/icons/modules/SiteRDF.svg
  src/gui/icons/modules/XRaySQ.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update EPSR icon.
  src/gui/icons/modules/EPSR.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add EPSRManager icon.
  src/gui/icons/modules/EPSRManager.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update resource.
  src/gui/main.qrc
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove now-redundant ModuleTypes::lccModuleType().
  src/gui/models/moduleLayerModel.cpp
  src/gui/models/modulePaletteModel.cpp
  src/gui/moduleControlWidget.cpp
  src/module/module.cpp
  src/module/types.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tweak icon.
  src/gui/icons/modules/EPSRManager.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tweak module description.
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
