Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build and Package
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Fix epsilon / sigma ordering in PCL2019.
  src/data/ff/pcl2019/base.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add const access functions.
  src/classes/pairpotential.cpp
  src/classes/pairpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update UI.
  src/gui/forcefieldtab.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Access to data pointer from model.
  src/gui/models/pairPotentialModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update plot when switching pair potential.
  src/gui/forcefieldtab.h
  src/gui/forcefieldtab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix comments.
  src/gui/forcefieldtab_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reformat.
  src/procedure/nodes/sum1d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

Fix GUI testing
  flake.nix
  nix/patches/ctest.patch
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for ee1c46c212f2f2c84180ec620f5c19549db9879a
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Bugfix 15/10/21 Coordination Numbers (#814)
  src/modules/calculate_cn/cn.h
  src/modules/calculate_cn/functions.cpp
  src/modules/calculate_cn/gui/modulewidget_funcs.cpp
  src/modules/calculate_cn/process.cpp
  src/procedure/nodes/sum1d.cpp
  src/procedure/nodes/sum1d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix epsilon / sigma ordering in PCL2019. (#817)
  src/data/ff/pcl2019/base.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 0c6a7a823fa777fb4905d4316e0814316d752fc0
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Bugfix 18/10/21 Species Boxes (#816)
  src/classes/CMakeLists.txt
  src/classes/box.h
  src/classes/box_singleimage.cpp
  src/classes/pairpotential.cpp
  src/classes/species.cpp
  src/classes/speciesintra.cpp
  src/classes/speciesintra.h
  src/gui/specieseditor_funcs.cpp
  src/gui/specieswidget_funcs.cpp
  src/modules/forces/functions.cpp
  src/modules/geomopt/functions.cpp
  src/modules/geomopt/geomopt.h
  src/modules/geomopt/process.cpp
  unit/classes/species.cpp
  unit/math/CMakeLists.txt
  unit/math/geometryMin.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bugfix 18/10/21 PairPotential display (#818)
  src/classes/pairpotential.cpp
  src/classes/pairpotential.h
  src/gui/forcefieldtab.h
  src/gui/forcefieldtab.ui
  src/gui/forcefieldtab_funcs.cpp
  src/gui/models/pairPotentialModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for fe93c828a4546a893951e9d9b9dfce177c783b5e
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Neater NETA (#809)
  src/base/sysfunc.cpp
  src/base/sysfunc.h
  src/data/ff/oplsaa2005/alcohols.cpp
  src/data/ff/oplsaa2005/diols.cpp
  src/data/ff/uff/uff.cpp
  src/neta/CMakeLists.txt
  src/neta/NETAErrorListeners.cpp
  src/neta/NETALexer.g4
  src/neta/NETAParser.g4
  src/neta/NETAVisitor.cpp
  src/neta/NETAVisitor.h
  src/neta/bondcount.cpp
  src/neta/bondcount.h
  src/neta/character.cpp
  src/neta/character.h
  src/neta/connection.cpp
  src/neta/connection.h
  src/neta/geometry.cpp
  src/neta/geometry.h
  src/neta/hydrogencount.cpp
  src/neta/hydrogencount.h
  src/neta/neta.cpp
  src/neta/neta.h
  src/neta/node.cpp
  src/neta/node.h
  src/neta/or.cpp
  src/neta/presence.cpp
  src/neta/presence.h
  src/neta/ring.cpp
  src/neta/root.cpp
  src/neta/root.h
  tests/ff/uff-nmethylformamide.txt
  unit/classes/neta-geometry.xyz
  unit/classes/neta-rings.xyz
  unit/classes/neta.cpp
  web/content/docs/ff/neta.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow Process1D to act on current Collect1D data rather than accumulation.
  src/math/histogram1d.cpp
  src/math/histogram1d.h
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect1d.h
  src/procedure/nodes/process1d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Calculate CN from current data rather than accumulated.
  src/modules/calculate_cn/init.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 80c4442ad2b252a007928dccdcbd4e1108c585bd
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 7f3a9c4ae3ccff2bde805fff2c97132116490f78
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 6833e4e1f54c65af545f3e07bd488f692fa2ea96
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Add keyword for vector of string/double pairs.
  src/keywords/CMakeLists.txt
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/types.h
  src/keywords/vector_stringdouble.cpp
  src/keywords/vector_stringdouble.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add testing of single SampledDouble values.
  src/genericitems/searchers.cpp
  src/modules/datatest/init.cpp
  src/modules/datatest/process.cpp
  web/content/docs/modules/tests/datatest/_index.md
  web/content/docs/reference/fileandformat/valueformat.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update system test.
  tests/calculate_cn/cn.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix double formatting in unit tests
  unit/gui/forcefieldTab.cpp
  unit/gui/masterTerms.cpp
  unit/gui/speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update src/math/histogram1d.cpp
  src/math/histogram1d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Run mpi checks
  flake.nix
  nix/patches/ctest.patch
Due: .azure-pipelines/pr.yml

Fix variable arguments in cmake patch
  nix/patches/ctest.patch
Due: .azure-pipelines/pr.yml

Don't run unit tests under mpi
  flake.nix
Due: .azure-pipelines/pr.yml

Perform all checks
  flake.nix
Due: .azure-pipelines/pr.yml

Fixup.
  src/math/histogram1d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix formatting of unit tests
  unit/gui/forcefieldTab.cpp
  unit/gui/masterTerms.cpp
  unit/gui/speciestab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Only the gui needs pugixml
  flake.nix
Due: .azure-pipelines/pr.yml

The command line DOES need pugixml
  flake.nix
Due: .azure-pipelines/pr.yml

Add testing to main azure run
  .azure-pipelines/pr.yml
  .azure-pipelines/templates/build-linux-mpi.yml
  .azure-pipelines/templates/build-linux.yml
  .azure-pipelines/templates/tests.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

No separate testing state
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Remove unused parameters
  .azure-pipelines/pr.yml
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix parameter substitution in yaml
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Point azure checks to CPU architecture
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
