Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

member state can invalidate run
  src/classes/configuration.cpp
  src/classes/configuration.h
  src/nodes/configuration.cpp
  src/nodes/insert.cpp
  src/nodes/insert.h
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/registry.cpp
  src/nodes/temperature.cpp
  src/nodes/temperature.h
  tests/nodes/CMakeLists.txt
  tests/nodes/atomShake.cpp
  tests/nodes/graph_argon.cpp
  tests/nodes/regeneration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

temperature node
  src/nodes/temperature.cpp
  src/nodes/temperature.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

start dissolve2 atomShake test
  src/nodes/configuration.cpp
  src/nodes/configuration.h
  src/nodes/loopGraph.cpp
  src/nodes/node.h
  tests/nodes/CMakeLists.txt
  tests/nodes/atomShake.cpp
  tests/nodes/loop.cpp
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Only update cell array when necessary.
  src/classes/cellArray.cpp
  src/classes/cellArray.h
  src/classes/configuration_box.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

No need to pass in energy cutoff, remove duplicate cell generation call.
  src/nodes/dissolve.cpp
  src/nodes/dissolve.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

LJ+q arameters for SPC/Fw water.
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: LJ+q parameters for SPC/Fw water. (#2287)
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Stop regenerating cells all the time (#2288)
  src/classes/cellArray.cpp
  src/classes/cellArray.h
  src/classes/configuration_box.cpp
  src/nodes/dissolve.cpp
  src/nodes/dissolve.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Better random unit vector code, update reference (current) energy correctly in AtomicMC for multiple trials on same atom.
  src/classes/species_atomic.cpp
  src/math/vector3.cpp
  src/math/vector3.h
  src/nodes/atomicMC/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Factor of two, store new energy as current energy.
  src/math/vector3.cpp
  src/nodes/atomicMC/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor loop graph
  src/nodes/loopGraph.cpp
  src/nodes/loopGraph.h
  tests/nodes/loop.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old Atom::masterTypeIndex_.
  src/classes/atom.cpp
  src/classes/atom.h
  src/classes/configuration_contents.cpp
  src/classes/potentialMap.cpp
  tests/pairPotentials/scaleFactors.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor: Remove old Atom::masterTypeIndex_ (#2292)
  src/classes/atom.cpp
  src/classes/atom.h
  src/classes/configuration_contents.cpp
  src/classes/potentialMap.cpp
  tests/pairPotentials/scaleFactors.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

rename in spirit of iterations over loops, part 1
  src/nodes/loopGraph.cpp
  src/nodes/loopGraph.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix the bundler version
  .github/workflows/build/linux/action.yml
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

Ignore clangd cache
  .gitignore
Due: .azure-pipelines/pr.yml

run process with for loop
  src/nodes/loopGraph.cpp
  src/nodes/loopGraph.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

rename in spirit of iterations over loops, part 2
  src/nodes/loopBack.cpp
  src/nodes/loopGraph.cpp
  src/nodes/loopGraph.h
  src/nodes/registry.cpp
  tests/nodes/loop.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

rename files
  src/nodes/iterableGraph.cpp
  src/nodes/iterableGraph.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

rename files
  src/nodes/inputs.cpp
  src/nodes/iterableGraph.cpp
  src/nodes/loopBack.cpp
  src/nodes/registry.cpp
  tests/nodes/loop.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

use enums for version checking
  tests/nodes/loop.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor: Loop graph should count from 0 (no runs performed) (#2290)
  src/nodes/inputs.cpp
  src/nodes/iterableGraph.cpp
  src/nodes/iterableGraph.h
  src/nodes/loopBack.cpp
  src/nodes/registry.cpp
  tests/nodes/loop.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

start dissolve2 atomShake test
  src/nodes/configuration.cpp
  src/nodes/configuration.h
  src/nodes/iterableGraph.cpp
  src/nodes/node.h
  tests/nodes/CMakeLists.txt
  tests/nodes/atomShake.cpp
  tests/nodes/loop.cpp
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix: AtomicMC energy updates (#2289)
  src/classes/atom.cpp
  src/classes/atom.h
  src/classes/configuration_contents.cpp
  src/classes/potentialMap.cpp
  src/classes/species_atomic.cpp
  src/math/vector3.cpp
  src/math/vector3.h
  src/nodes/atomicMC/process.cpp
  tests/pairPotentials/scaleFactors.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

update loop -> iterator
  src/nodes/iterableGraph.cpp
  tests/nodes/atomShake.cpp
  tests/nodes/loop.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

remove file on clean option
  develop.ps1
Due: .azure-pipelines/pr.yml

Clarify build step a little w.r.t. conan deps, copy all dylibs to Frameworks in package.
  .github/workflows/build/osx/action.yml
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

Actually use the osxTargetDeploymentVersion input var.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Fix some references to settings groups in the examples.
  web/docs/examples/argon/step2.md
  web/docs/examples/benzene/step2.md
  web/docs/examples/benzene/step6.md
  web/docs/examples/benzene/step7.md
  web/docs/examples/water/step9a.md
  web/docs/examples/water/step9c.md
Due: none

Just one OSX download.
  web/main/packages.md
Due: none

Update water example input.
  examples/water/input.txt
Due: none

build: OSX packaging fixes (#2291)
  .github/workflows/build/osx/action.yml
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml
