Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

1495 Update Docs 1.3 (#1517)
  web/docs.toml
  web/docs/_index.md
  web/docs/examples/argon/step4b.md
  web/docs/userguide/ff/forms/directionalpotential.md
  web/docs/userguide/ff/forms/restraintpotential.md
  web/docs/userguide/ff/forms/simplepotential.md
  web/docs/userguide/modules/correlation/neutronsq/_index.md
  web/docs/userguide/modules/correlation/xraysq/_index.md
  web/docs/userguide/procedures/expressions.md
  web/docs/userguide/procedures/nodes/calculateexpression.md
  web/docs/userguide/procedures/nodes/customregion.md
  web/docs/userguide/procedures/nodes/cylindricalregion.md
  web/docs/userguide/procedures/nodes/directionalglobalpotential.md
  web/docs/userguide/procedures/nodes/generalregion.md
  web/docs/userguide/procedures/nodes/integercollect1d.md
  web/docs/userguide/procedures/nodes/operatesphericalshellnormalisenode.md
  web/docs/userguide/procedures/nodes/restraintpotential.md
  web/docs/userguide/procedures/nodes/rotatefragment.md
  web/docs/userguide/procedures/nodes/selectnode.md
  web/docs/userguide/procedures/nodes/simpleglobalpotential.md
Due: none

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update changeversion script to modify docs.toml on release.
  changeversion
Due: .azure-pipelines/pr.yml

Manually update docs.toml release date.
  web/docs.toml
Due: none

Update changeversion script (#1518)
  changeversion
Due: .azure-pipelines/pr.yml

Fix density icon.
  src/gui/icons/general_density.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add periodic table icon, update speciesTab.ui.
  src/gui/icons/general_periodictable.svg
  src/gui/main.qrc
  src/gui/speciesTab.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tidy update function, fix initial display.
  src/modules/angle/gui/angleWidget.h
  src/modules/angle/gui/angleWidgetFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update IntraAngle module for the same.
  src/modules/intraAngle/gui/intraAngleWidget.h
  src/modules/intraAngle/gui/intraAngleWidgetFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old definitions.
  src/modules/neutronSQ/gui/neutronSQWidget.h
  src/modules/xRaySQ/gui/xRaySQWidget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tooltip
  src/gui/speciesTab.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reorganise GUI (#1500)
  src/gui/CMakeLists.txt
  src/gui/configurationTab.h
  src/gui/configurationTab.ui
  src/gui/configurationTabFuncs.cpp
  src/gui/icons/general_charge.svg
  src/gui/icons/general_density.svg
  src/gui/icons/general_generator.svg
  src/gui/icons/general_isotopologues.svg
  src/gui/icons/general_periodictable.svg
  src/gui/icons/general_site.svg
  src/gui/icons/general_temperature.svg
  src/gui/intramolecularTermsDialog.h
  src/gui/intramolecularTermsDialog.ui
  src/gui/intramolecularTermsDialogFuncs.cpp
  src/gui/main.qrc
  src/gui/models/speciesAtomModel.cpp
  src/gui/siteViewer.hui
  src/gui/siteViewerFuncs.cpp
  src/gui/siteViewer_input.cpp
  src/gui/siteViewer_interaction.cpp
  src/gui/siteViewer_render.cpp
  src/gui/siteWidget.h
  src/gui/siteWidget.ui
  src/gui/siteWidgetFuncs.cpp
  src/gui/speciesTab.h
  src/gui/speciesTab.ui
  src/gui/speciesTabFuncs.cpp
  src/gui/speciesTab_geometry.cpp
  src/gui/speciesTab_sites.cpp
  src/gui/speciesViewer.hui
  src/gui/speciesViewerFuncs.cpp
  src/gui/speciesViewer_input.cpp
  src/gui/speciesWidget.h
  src/gui/speciesWidget.ui
  src/gui/speciesWidgetFuncs.cpp
  unit/gui/speciesTab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Some renaming
  src/gui/gui.h
  src/gui/guiFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Format
  src/gui/gui.h
  src/gui/guiFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correct example inputs.
  examples/argon/input.txt
  examples/benzene/input.txt
  examples/cu-btc/input.txt
  examples/emim-oac/input.txt
  examples/post-processing/input.txt
  examples/silica_bulk/input.txt
Due: none

Fix token reference.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Fix IssueBot (#1522)
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Add moving of visualisation-related scope.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Don't run other workflows on edit of issues.yml.
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Update IssueBot (#1523)
  .github/workflows/continuous.yml
  .github/workflows/issues.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Add new procedures.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Rename.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Update IssueBot - Part 2 (#1524)
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Trying to extract single species
  src/classes/species.cpp
  src/gui/importCIFDialogFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP create distinct species'
  src/gui/importCIFDialog.h
  src/gui/importCIFDialog.ui
  src/gui/importCIFDialogFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP add missing bonds
  src/gui/importCIFDialogFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Another rename.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

More.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

One more.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Update epic template.
  .github/ISSUE_TEMPLATE/epic.md
Due: .azure-pipelines/pr.yml

Add issue templates dir to ignored files in main workflows.
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Update IssueBot - Part 3 (#1529)
  .github/ISSUE_TEMPLATE/epic.md
  .github/workflows/continuous.yml
  .github/workflows/issues.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

One more for epics.
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

1499 Angle Module Updates (#1520)
  src/modules/angle/gui/angleWidget.h
  src/modules/angle/gui/angleWidgetFuncs.cpp
  src/modules/intraAngle/gui/intraAngleWidget.h
  src/modules/intraAngle/gui/intraAngleWidgetFuncs.cpp
  src/modules/neutronSQ/gui/neutronSQWidget.h
  src/modules/xRaySQ/gui/xRaySQWidget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update IssueBot - Part 4 (#1530)
  .github/workflows/issues.yml
Due: .azure-pipelines/pr.yml

Ensure that parameters are always displayed
  src/classes/interactionPotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
