Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build and Package
    jobs:
    - job: linux_serialgui_appimage
      displayName: Build Linux (Serial/GUI, ubuntu-18.04)
      pool:
        vmImage: ubuntu-18.04
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux_serialgui
      displayName: Build Linux (Serial/GUI, ubuntu-18.04)
      pool:
        vmImage: ubuntu-18.04
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Updated neta defs w/ atom type IDs + added new unique atom types
  src/data/ff/uff/uff4mof.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added reference file for implementation of uff4mof
  web/content/docs/ff/uff4mof.md
Due: none

Tweak test params.
  tests/ff/uff4mof-mof5.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix label.
  src/io/import/forces.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

updated oct/sqbp atom types
  src/data/ff/uff/uff4mof.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add test for uff4mof ff on MOF-5
  tests/ff/CMakeLists.txt
  tests/ff/uff-nmethylformamide.txt
  tests/ff/uff4mof-mof5.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

updates webpage for uff4mof
  web/content/docs/ff/uff4mof.md
Due: none

Don't set initial shift in graph.
  src/modules/neutronsq/gui/modulewidget_funcs.cpp
  src/modules/sq/gui/modulewidget_funcs.cpp
  src/modules/xraysq/gui/modulewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Ensure arrays are zeroed.
  src/math/data1d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add model for Bragg reflections.
  src/gui/models/CMakeLists.txt
  src/gui/models/braggReflectionFilterProxy.cpp
  src/gui/models/braggReflectionFilterProxy.h
  src/gui/models/braggReflectionModel.cpp
  src/gui/models/braggReflectionModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update indexing functions.
  src/classes/atomtypelist.cpp
  src/classes/atomtypelist.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use class enums.
  src/procedure/nodes/addspecies.cpp
  src/procedure/nodes/addspecies.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Store HKL in BraggReflection.
  src/classes/braggreflection.cpp
  src/classes/braggreflection.h
  src/gui/models/braggReflectionFilterProxy.cpp
  src/gui/models/braggReflectionModel.cpp
  src/modules/bragg/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add test function to module.
  src/modules/bragg/init.cpp
  src/modules/bragg/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix integration with SQModule.
  src/modules/bragg/init.cpp
  src/modules/bragg/process.cpp
  src/modules/sq/init.cpp
  src/modules/sq/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update module.
  src/modules/bragg/definition.cpp
  src/modules/bragg/functions.cpp
  src/modules/bragg/gui/modulewidget.h
  src/modules/bragg/gui/modulewidget.ui
  src/modules/bragg/gui/modulewidget_funcs.cpp
  src/modules/bragg/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update docs.
  web/content/docs/modules/correlation/bragg/_index.md
  web/content/docs/modules/correlation/sq/_index.md
Due: none

Default implementations.
  src/classes/kvector.cpp
  src/classes/kvector.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use algorithms, remove temporary array.
  src/modules/bragg/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for aa3296826611a015753f6006391c8417ca0c5862
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 13dd87083b71b41fa2b17bcab35290aec4a35b10
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 491023b5ffd7340144837aa50fee4ff8fa4bb378
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for f69ad551851aff1a0d8d20f89582839569e1bc28
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Fix return of stack address
  src/templates/venum.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add std:: namespace to isnan
  src/modules/datatest/process.cpp
  src/modules/forces/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Changes from review.
  src/classes/braggreflection.cpp
  src/classes/braggreflection.h
  src/gui/models/braggReflectionFilterProxy.cpp
  src/modules/bragg/gui/modulewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove insertion of blank line in atom.cpp
  src/classes/atom.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for d78a4f378d656e98a89fd4a26d36188941b617f4
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 16b629f39bea02b3942f37ff23f5541a8ff783a8
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Bug fix: Distributing combinations across MPI processes
  src/modules/energy/functions.cpp
  src/modules/rdf/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Utilise matrix symmetry
  src/modules/rdf/functions.cpp
  src/templates/array2d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clean up rdf cell parallel implementation
  src/modules/energy/functions.cpp
  src/modules/rdf/functions.cpp
  src/modules/rdf/parallel_helpers.h
  src/modules/rdf/rdf.h
  src/templates/array2d.h
  src/templates/combinable.h
  src/templates/parallel_tbb.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for dc0ce5d046b7bfeb6492fdde1236894a899cb434
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 90aa0cc5b794f28f437a7153f95ea7a4ad91dfb4
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Remove unused simplex header-only class.
  src/templates/simplex.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move Array<double> to std::vector<double>.
  src/math/svd.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
