Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Bunch of testing, changes, and stuff to get Aniket's trajectory calculated.
  src/classes/configuration_contents.cpp
  src/nodes/gr.cpp
  src/nodes/neutronSQ.cpp
  src/nodes/neutronSQ.h
  src/nodes/setCoordinates.cpp
  src/nodes/species.cpp
  tests/data/dlpoly/water267-analysis/water-267-298K.xyz
  tests/nodes/detectMolecules.cpp
  tests/testGraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correctly append GR/SQ nodes in tests to current head.
  tests/testGraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix path to icons.
  .github/workflows/_website.yml
Due: .azure-pipelines/pr.yml

Add a note about the cutoff.
  web/docs/userguide/modules/analysis/qspecies/_index.md
Due: none

Fix graphic.
  web/docs/userguide/modules/analysis/qspecies/qspecies.png
Due: none

Update QSpecies options and descriptions.
  src/nodes/qSpecies.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move to a vector of nodes rather than a map, remove reverse mapping, hold name on Node.
  src/gui2/models/graphModel.cpp
  src/gui2/models/graphNodeModel.cpp
  src/nodes/epsrHelpers.cpp
  src/nodes/graph.cpp
  src/nodes/graph.h
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/parameter.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fixup unit test.
  tests/nodes/graph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Simplify NodeWrapper usage.
  src/gui2/models/graphEdgeModel.cpp
  src/gui2/models/graphModel.cpp
  src/gui2/models/graphNodeModel.cpp
  src/gui2/models/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix: Correctly append GR/SQ nodes in tests to current head (#2624)
  tests/testGraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Fix path to icons in website build (#2625)
  .github/workflows/_website.yml
Due: .azure-pipelines/pr.yml

Let Graph handle unique naming of nodes.
  src/gui2/models/graphModel.cpp
  src/gui2/models/graphModel.h
  src/gui2/models/legacy/simpleForcefieldModel.cpp
  src/gui2/models/nodeRegistryModel.cpp
  src/gui2/models/nodeRegistryModel.h
  src/gui2/qml/nodeGraph/GraphView.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove tally system.
  src/gui2/models/graphModel.cpp
  src/gui2/models/graphModel.h
  src/gui2/models/nodeRegistryModel.cpp
  src/gui2/models/nodeRegistryModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

doc: Update QSpecies description with cutoff information (#2626)
  web/docs/userguide/modules/analysis/qspecies/_index.md
  web/docs/userguide/modules/analysis/qspecies/qspecies.png
Due: none

fix: Update QSpecies options (#2627)
  src/nodes/qSpecies.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
