Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Apply code suggestion from review of #1755.
  src/base/sysFunc.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update to reflect auto-creation of the configuration.
  web/docs/examples/cu-btc/step1.md
  web/docs/examples/cu-btc/step3.md
Due: none

chore: Quote PR title in test (#1857)
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Update CuBTC Example (#1859)
  web/docs/examples/cu-btc/step1.md
  web/docs/examples/cu-btc/step3.md
Due: none

chore: Rename icons, add EPSRManager icon (#1858)
  src/base/sysFunc.cpp
  src/gui/icons/modules/Accumulate.svg
  src/gui/icons/modules/Analyse.svg
  src/gui/icons/modules/Angle.svg
  src/gui/icons/modules/AtomShake.svg
  src/gui/icons/modules/AvgMol.svg
  src/gui/icons/modules/AxisAngle.svg
  src/gui/icons/modules/Benchmark.svg
  src/gui/icons/modules/Bragg.svg
  src/gui/icons/modules/Calibrate.svg
  src/gui/icons/modules/Compare.svg
  src/gui/icons/modules/DAngle.svg
  src/gui/icons/modules/EPSR.svg
  src/gui/icons/modules/EPSRManager.svg
  src/gui/icons/modules/Energy.svg
  src/gui/icons/modules/ExportCoordinates.svg
  src/gui/icons/modules/ExportPairPotentials.svg
  src/gui/icons/modules/ExportTrajectory.svg
  src/gui/icons/modules/Forces.svg
  src/gui/icons/modules/GeometryOptimisation.svg
  src/gui/icons/modules/HistogramCN.svg
  src/gui/icons/modules/ImportTrajectory.svg
  src/gui/icons/modules/IntraAngle.svg
  src/gui/icons/modules/IntraDistance.svg
  src/gui/icons/modules/IntraShake.svg
  src/gui/icons/modules/ModifierOSites.svg
  src/gui/icons/modules/MolShake.svg
  src/gui/icons/modules/NeutronSQ.svg
  src/gui/icons/modules/OrientedSDF.svg
  src/gui/icons/modules/QSpecies.svg
  src/gui/icons/modules/SiteRDF.svg
  src/gui/icons/modules/XRaySQ.svg
  src/gui/main.qrc
  src/gui/models/moduleLayerModel.cpp
  src/gui/models/modulePaletteModel.cpp
  src/gui/moduleControlWidget.cpp
  src/module/module.cpp
  src/module/types.h
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Set temperature through button
  src/gui/configurationTab.cpp
  src/gui/configurationTab.h
  src/gui/configurationTab.ui
  src/procedure/nodes/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Still include temperature node for backwards compatibility
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/registry.cpp
  src/procedure/nodes/temperature.cpp
  src/procedure/nodes/temperature.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove code for temparatureProcedureNode
  src/gui/addConfigurationDialog.cpp
  src/procedure/nodes/CMakeLists.txt
  src/procedure/nodes/registry.cpp
  src/procedure/nodes/temperature.cpp
  src/procedure/nodes/temperature.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Temperature button to call dissolve window slot
  src/gui/configurationTab.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update examples to click 'generate'
  web/docs/examples/argon/step3.md
  web/docs/examples/benzene/step2.md
  web/docs/examples/cu-btc/step3.md
  web/docs/examples/emim-oac/step4.md
  web/docs/examples/silica/step5.md
  web/docs/examples/water/step2.md
Due: none

Add temp node default
  src/gui/addConfigurationDialog.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Point users to toolbar item
  web/docs/examples/argon/step3.md
  web/docs/examples/benzene/step2.md
  web/docs/examples/emim-oac/step4.md
  web/docs/examples/silica/step5.md
  web/docs/examples/water/step2.md
Due: none

Use signals and slots to connect temp button
  src/gui/configurationTab.cpp
  src/gui/configurationTab.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reduce inline icon size.
  src/gui/qml/IconListView.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

General pointsize for text is 10.
  src/gui/qml/widgets/Text.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Playing with spacing in main dialog Page.
  src/gui/qml/AddForcefieldTermsDialog.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix comment.
  src/gui/models/addForcefieldDialogModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Attempt to assign intramolecular terms.
  src/gui/models/addForcefieldDialogModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't capture unnecessary return values.
  src/gui/models/addForcefieldDialogModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unnecessary return.
  src/gui/models/addForcefieldDialogModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use std::move.
  src/gui/models/masterTermTreeModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't copy existing master terms.
  src/gui/models/addForcefieldDialogModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reduce icon size in radios.
  src/gui/qml/ImageRadio.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Smaller spacing.
  src/gui/qml/AddForcefieldTermsDialog.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix icon path.
  src/gui/models/masterTermModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Allow setting of temperature through button & update docs (#1855)
  src/gui/configurationTab.cpp
  src/gui/configurationTab.h
  src/gui/configurationTab.ui
  src/procedure/nodes/temperature.cpp
  src/procedure/nodes/temperature.h
  web/docs/examples/argon/step3.md
  web/docs/examples/benzene/step2.md
  web/docs/examples/cu-btc/step3.md
  web/docs/examples/emim-oac/step4.md
  web/docs/examples/silica/step5.md
  web/docs/examples/water/step2.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

QML formatting.
  src/gui/qml/AddForcefieldTermsDialog.qml
  src/gui/qml/IconListView.qml
  src/gui/qml/ImageRadio.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove second, unnecessary assignment.
  src/gui/models/addForcefieldDialogModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update text on the main page.
  web/main/_index.html
Due: none

Update web/main/_index.html
  web/main/_index.html
Due: none

Format.
  src/modules/siteRDF/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Running CNs added to SiteRDF (#1819)
  src/items/deserialisers.cpp
  src/items/producers.cpp
  src/items/serialisers.cpp
  src/math/sampledData1D.cpp
  src/modules/siteRDF/gui/siteRDFWidget.h
  src/modules/siteRDF/gui/siteRDFWidget.ui
  src/modules/siteRDF/gui/siteRDFWidgetFuncs.cpp
  src/modules/siteRDF/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

docs: Update website main page (#1861)
  web/main/_index.html
Due: none

Change version.
  README.md
  web/docs.toml
  web/main.toml
Due: none

Add release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Update release version info.
  README.md
  web/main.toml
  web/static/include/old_releases.md
Due: none
