Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Chown homebrew
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

wait
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Use intel brew and stop modifying ftgl rpath
  .github/workflows/build/osx-silicon/action.yml
  .github/workflows/package/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Reintroduce shared libs
  .github/workflows/build/osx-silicon/action.yml
  .github/workflows/package/osx-silicon/action.yml
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix lint cmakelist
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

AtomRef type compiles, but does not pass tests
  src/classes/CMakeLists.txt
  src/classes/atom.cpp
  src/classes/atomVector.h
  src/classes/cell.cpp
  src/classes/cell.h
  src/classes/changeData.cpp
  src/classes/changeData.h
  src/classes/changeStore.cpp
  src/classes/changeStore.h
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_upkeep.cpp
  src/classes/molecule.cpp
  src/classes/molecule.h
  src/io/import/cif.cpp
  src/kernels/energy.cpp
  src/kernels/force.cpp
  src/kernels/geometry.cpp
  src/modules/atomShake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP.
  src/modules/siteRDF/functions.cpp
  src/modules/siteRDF/process.cpp
  src/modules/siteRDF/siteRDF.cpp
  src/modules/siteRDF/siteRDF.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix prep dmg call
  .github/workflows/package/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Still WIP.
  src/analyser/siteSelector.h
  src/math/histogram1D.cpp
  src/math/histogram1D.h
  src/modules/siteRDF/gui/siteRDFWidgetFuncs.cpp
  src/modules/siteRDF/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Is normalisation going wrong?
  src/modules/siteRDF/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Exclude sites located on the same molecule.
  src/analyser/siteFilter.h
  src/modules/siteRDF/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Try to include libs in bundle
  .github/workflows/package/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Remove need for QC before build
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Fix errorranges -> errorrange
  src/modules/compare/compare.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove cast to Atom*
  src/classes/atom.cpp
  src/classes/atom.h
  src/classes/atomVector.h
  src/classes/potentialMap.cpp
  src/classes/potentialMap.h
  src/gui/render/renderableConfiguration.cpp
  src/kernels/energy.cpp
  src/kernels/force.cpp
  src/modules/energy/process.cpp
  src/modules/forces/process.cpp
  src/modules/intraShake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unneeded asserts
  src/classes/cell.cpp
  src/classes/changeData.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix stupid offset bug
  src/classes/atom.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix formatting
  src/classes/atom.cpp
  src/classes/atomVector.h
  src/classes/cell.cpp
  src/classes/configuration_upkeep.cpp
  src/classes/molecule.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Create modules at point of requirement.
  src/gui/models/moduleLayerModel.cpp
  src/gui/models/moduleLayerModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Avoid returning address of temporary.
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add compare module to espr-benzene-3n.txt test input file
  tests/data/dissolve/input/epsr-benzene-3n.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Import the data when needed rather than during deserialisation - stops the program from failing when file does not exist/path is wrong
  src/classes/dataSource.cpp
  src/classes/dataSource.h
  src/keywords/dataSource.h
  src/modules/compare/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1674 Compare, Data Source, Errors Bundled Fixes (#1675)
  src/math/data2DBase.h
  src/math/error.cpp
  src/modules/compare/compare.cpp
  src/modules/compare/compare.h
  src/modules/compare/gui/compareWidget.h
  src/modules/compare/gui/compareWidgetFuncs.cpp
  src/modules/compare/process.cpp
  tests/data/dissolve/compare/extvsext.mint01
  tests/data/dissolve/compare/intvsext.mint01
  tests/data/dissolve/compare/intvsint.mint01
  tests/data/dissolve/input/epsr-benzene-3n.txt
  tests/modules/CMakeLists.txt
  tests/modules/compare.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update documentation -> ErrorRanges to ErrorRange keyword rename
  web/docs/userguide/modules/checks&tests/compare/_index.md
Due: none

Remove button array from compare module
  src/modules/compare/gui/compareWidget.h
  src/modules/compare/gui/compareWidgetFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix tooltip call -> remove reference to deleted buttons_ array
  src/modules/compare/gui/compareWidgetFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix epser-benzene-3n.txt input file
  tests/data/dissolve/input/epsr-benzene-3n.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix epser-benzene-3n.txt input file- remove personal computer path
  tests/data/dissolve/input/epsr-benzene-3n.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix line 65 compareWidgetFuncs.cpp -> was checking if isChecked == 0
  src/modules/compare/gui/compareWidgetFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Revert osx build workflow file
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Revert windows build workflow file
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Fix apple silicon packaging
  .github/workflows/package/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Update date to 2024
  tests/modules/compare.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix dissolve app path in packaging and change osx to osx-intel
  .github/workflows/package/osx-intel/action.yml
Due: .azure-pipelines/pr.yml

Remove need for QC before build workflow (#1771)
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

DOn't try and set up scattering matrix unless we have a configuration.
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Stop returning addresses of temporary string objects throughout.
  src/classes/coreData.cpp
  src/classes/species_isotopologues.cpp
  src/gui/menu_layer.cpp
  src/gui/menu_species.cpp
  src/gui/models/atomTypeModel.cpp
  src/gui/models/moduleLayerModel.cpp
  src/gui/models/speciesIsoModel.cpp
  src/gui/speciesTab_isotopologues.cpp
  tests/algorithms/sysFunc.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump develop version to 1.5.
  CMakeLists.txt
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix release version in web/docs.toml.
  web/docs.toml
Due: none
