Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build and Package
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Publish build artifacts to cachix
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Install jq
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Load the auth token into the environment
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add unit test for pair iterator
  unit/algorithms/CMakeLists.txt
  unit/algorithms/pair_iter.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Take linux packaging out of the build stage
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Deactivate windows and mac builds for now
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Limit to x86_64-linux for now
  flake.nix
Due: .azure-pipelines/pr.yml

Keep module system interface for the future
  flake.nix
Due: .azure-pipelines/pr.yml

Rearange variables
  flake.nix
Due: .azure-pipelines/pr.yml

Include weggli
  nix/weggli.nix
Due: .azure-pipelines/pr.yml

Create dev shell
  flake.lock
  flake.nix
  nix/weggli.nix
Due: .azure-pipelines/pr.yml

Check selection vector for presence of atom.
  src/classes/species_atomic.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add Species unit test.
  unit/classes/CMakeLists.txt
  unit/classes/species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reformat unit test
  unit/algorithms/pair_iter.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bugfix 12/10/21 Remove Atoms (#808)
  src/classes/species_atomic.cpp
  unit/classes/CMakeLists.txt
  unit/classes/species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Cmake helper function
  flake.nix
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 2d1618f490357f455b7be1c48e161e410f731f61
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Add default parameters to dissolve build functions
  flake.nix
Due: .azure-pipelines/pr.yml

Add multithreading support to flake
  flake.nix
  nix/patches/no-conan.patch
Due: .azure-pipelines/pr.yml

Allow Iteration over pairs to run in parallel (#803)
  src/classes/CMakeLists.txt
  src/classes/atomtypelist.cpp
  src/classes/atomtypelist.h
  src/classes/kvector.cpp
  src/classes/neutronweights.cpp
  src/classes/pair_iter.cpp
  src/classes/pair_iter.h
  src/classes/partialset.cpp
  src/classes/partialsetaccumulator.cpp
  src/classes/scatteringmatrix.cpp
  src/classes/xrayweights.cpp
  src/modules/bragg/functions.cpp
  src/modules/bragg/gui/modulewidget_funcs.cpp
  src/modules/epsr/functions.cpp
  src/modules/epsr/gui/modulewidget_funcs.cpp
  src/modules/epsr/process.cpp
  src/modules/neutronsq/gui/modulewidget_funcs.cpp
  src/modules/rdf/functions.cpp
  src/modules/rdf/gui/modulewidget_funcs.cpp
  src/modules/sq/functions.cpp
  src/modules/sq/gui/modulewidget_funcs.cpp
  src/modules/sq/process.cpp
  src/modules/xraysq/gui/modulewidget_funcs.cpp
  src/templates/algorithms.h
  unit/algorithms/CMakeLists.txt
  unit/algorithms/pair_iter.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Get unit tests working in nix
  flake.nix
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 49e6fe9ba3598e6f6cd21ab3923b45026a6b0439
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Include all the executables
  flake.nix
Due: .azure-pipelines/pr.yml

Add apps support for nix run.
  flake.nix
Due: .azure-pipelines/pr.yml

Trust nix to do the system tests
  flake.nix
Due: .azure-pipelines/pr.yml

Start trying to patch the ctest infrastructure
  flake.nix
  nix/patches/ctest.patch
Due: .azure-pipelines/pr.yml

Get the correct test directory for ctest in nix
  nix/patches/ctest.patch
Due: .azure-pipelines/pr.yml

Re-enable all checks
  flake.nix
Due: .azure-pipelines/pr.yml

Store definition validity.
  src/neta/neta.cpp
  src/neta/neta.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Escape braces for fmt.
  src/neta/NETAErrorListeners.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add matches() function.
  src/neta/neta.cpp
  src/neta/neta.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add doubleChars() function.
  src/base/sysfunc.cpp
  src/base/sysfunc.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add character node.
  src/neta/CMakeLists.txt
  src/neta/NETALexer.g4
  src/neta/NETAParser.g4
  src/neta/NETAVisitor.cpp
  src/neta/NETAVisitor.h
  src/neta/character.cpp
  src/neta/character.h
  src/neta/node.cpp
  src/neta/node.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update unit test.
  unit/classes/neta-geometry.xyz
  unit/classes/neta-rings.xyz
  unit/classes/neta.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rewrite grammar and add greedy or.
  src/neta/NETAParser.g4
  src/neta/NETAVisitor.cpp
  src/neta/NETAVisitor.h
  src/neta/connection.cpp
  src/neta/neta.cpp
  src/neta/neta.h
  src/neta/node.cpp
  src/neta/node.h
  src/neta/or.cpp
  src/neta/or.h
  src/neta/presence.cpp
  src/neta/presence.h
  src/neta/ring.cpp
  src/neta/root.cpp
  unit/classes/neta.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move geometry tests to own node.
  src/neta/CMakeLists.txt
  src/neta/NETALexer.g4
  src/neta/NETAParser.g4
  src/neta/NETAVisitor.cpp
  src/neta/NETAVisitor.h
  src/neta/connection.cpp
  src/neta/connection.h
  src/neta/geometry.cpp
  src/neta/geometry.h
  src/neta/node.cpp
  src/neta/node.h
  src/neta/root.cpp
  src/neta/root.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Break out bond/hydrogen counting to separate nodes.
  src/neta/CMakeLists.txt
  src/neta/NETALexer.g4
  src/neta/NETAParser.g4
  src/neta/NETAVisitor.cpp
  src/neta/NETAVisitor.h
  src/neta/bondcount.cpp
  src/neta/bondcount.h
  src/neta/connection.cpp
  src/neta/connection.h
  src/neta/hydrogencount.cpp
  src/neta/hydrogencount.h
  src/neta/node.cpp
  src/neta/node.h
  src/neta/presence.cpp
  src/neta/presence.h
  src/neta/root.cpp
  src/neta/root.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update docs.
  web/content/docs/ff/neta.md
Due: none

Remove unused member variable.
  src/neta/neta.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Space group is two words.
  src/data/spacegroups.cpp
  src/data/spacegroups.h
  src/io/import/cif.cpp
  src/io/import/cif.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
