Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Simplify.
  examples/CMakeLists.txt
Due: none

Don't keep enabling testing, update comments.
  examples/CMakeLists.txt
  tests/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Trim extraneous LJ parameters.
  examples/species/1,3-propanediol.txt
  examples/species/ammonia.txt
  examples/species/ammonium.txt
  examples/species/cycloheptane.txt
  examples/species/dimethylammonium.txt
  examples/species/h2so4.txt
  examples/species/heptane.txt
  examples/species/hso4-.txt
  examples/species/hydronium.txt
  examples/species/methanol.txt
  examples/species/naphthalene.txt
  examples/species/water.txt
Due: none

Revert to per-directory CMakeLists.txt.
  examples/CMakeLists.txt
  examples/argon/CMakeLists.txt
  examples/benzene/CMakeLists.txt
  examples/cu-btc/CMakeLists.txt
  examples/emim-oac/CMakeLists.txt
  examples/post-processing/CMakeLists.txt
  examples/silica_bulk/CMakeLists.txt
  examples/species/CMakeLists.txt
  examples/water/CMakeLists.txt
Due: none

Fix example test finding?
  examples/CMakeLists.txt
Due: none

Add I/O testing of example files.
  CMakeLists.txt
  examples/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

LowerCamelCase for Unit Tests (#1509)
  unit/algorithms/CMakeLists.txt
  unit/algorithms/array3DIterator.cpp
  unit/algorithms/pairIterator.cpp
  unit/classes/CMakeLists.txt
  unit/classes/enumOptions.cpp
  unit/classes/genericList.cpp
  unit/classes/neutronWeights.cpp
  unit/classes/spaceGroups.cpp
  unit/gui/CMakeLists.txt
  unit/gui/dataManager.cpp
  unit/gui/isotopologueSetModel.cpp
  unit/gui/speciesTab.cpp
  unit/gui/xmlForcefield.cpp
  unit/math/CMakeLists.txt
  unit/math/function1D.cpp
  unit/math/integerHistogram1D.cpp
  unit/math/sampledValues.cpp
  unit/procedure/CMakeLists.txt
  unit/procedure/calculateExpression.cpp
  unit/procedure/rotateFragment.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

UI Fixes 07/23 (#1508)
  src/gui/addConfigurationDialogFuncs.cpp
  src/gui/guiFuncs.cpp
  src/gui/menu_file.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix system test.
  tests/epsr/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add some icons.
  src/gui/icons/general_charge.svg
  src/gui/icons/general_density.svg
  src/gui/icons/general_generator.svg
  src/gui/icons/general_isotopologues.svg
  src/gui/icons/general_site.svg
  src/gui/icons/general_temperature.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1515 Missing Restart File Error (#1515)
  src/main.cpp
  tests/epsr/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use icons and reorganise charges.
  src/gui/configurationTab.ui
  src/gui/main.qrc
  src/gui/speciesTab.ui
  src/gui/speciesTab_geometry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Header buttons contain counts.
  src/gui/speciesTab.ui
  src/gui/speciesTabFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update nodes, potential forms.
  web/docs/userguide/ff/forms/directionalpotential.md
  web/docs/userguide/ff/forms/restraintpotential.md
  web/docs/userguide/ff/forms/simplepotential.md
  web/docs/userguide/procedures/nodes/customregion.md
  web/docs/userguide/procedures/nodes/cylindricalregion.md
  web/docs/userguide/procedures/nodes/directionalglobalpotential.md
  web/docs/userguide/procedures/nodes/generalregion.md
  web/docs/userguide/procedures/nodes/restraintpotential.md
  web/docs/userguide/procedures/nodes/simpleglobalpotential.md
Due: none

Add RotateFragment.
  web/docs/userguide/procedures/nodes/operatesphericalshellnormalisenode.md
  web/docs/userguide/procedures/nodes/rotatefragment.md
Due: none

Fix link to What is Dissolve.
  web/docs/_index.md
Due: none

Reinstate release version in docs.toml.
  web/docs.toml
Due: none

Update contributors.
  web/docs/_index.md
Due: none

Example Tests (#1506)
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/argon/CMakeLists.txt
  examples/argon/input.txt
  examples/benzene/CMakeLists.txt
  examples/benzene/input.txt
  examples/cu-btc/CMakeLists.txt
  examples/cu-btc/input.txt
  examples/emim-oac/CMakeLists.txt
  examples/emim-oac/input.txt
  examples/post-processing/CMakeLists.txt
  examples/post-processing/input.txt
  examples/silica_bulk/CMakeLists.txt
  examples/silica_bulk/input.txt
  examples/species/1,3-propanediol.txt
  examples/species/CMakeLists.txt
  examples/species/ammonia.txt
  examples/species/ammonium.txt
  examples/species/cycloheptane.txt
  examples/species/dimethylammonium.txt
  examples/species/h2so4.txt
  examples/species/heptane.txt
  examples/species/hso4-.txt
  examples/species/hydronium.txt
  examples/species/methanol.txt
  examples/species/naphthalene.txt
  examples/species/water.txt
  examples/water/CMakeLists.txt
  examples/water/input.txt
  src/keywords/store.cpp
  tests/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Adapt to changed model ordering in test
  unit/gui/addForcefieldTerms.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Mute messages when filtering forcefields
  src/gui/models/ffSortFilterModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Site Crashes (#1507)
  src/classes/speciesSite.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix Accumulate Module (#1493)
  src/keywords/store.cpp
  src/keywords/store.h
  src/modules/accumulate/accumulate.cpp
  src/modules/accumulate/accumulate.h
  src/modules/accumulate/gui/accumulateWidget.h
  src/modules/accumulate/gui/accumulateWidget.ui
  src/modules/accumulate/gui/accumulateWidgetFuncs.cpp
  src/modules/accumulate/process.cpp
  tests/accumulate/accumulate.txt
  web/docs/userguide/modules/correlation/accumulate/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Empty Expressions (#1501)
  src/base/sysFunc.cpp
  src/procedure/nodes/sequence.cpp
  unit/algorithms/sysFunc.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename and always show charge indicators
  src/gui/CMakeLists.txt
  src/gui/intramolecularTermsDialog.h
  src/gui/intramolecularTermsDialog.ui
  src/gui/intramolecularTermsDialogFuncs.cpp
  src/gui/speciesTab.h
  src/gui/speciesTab.ui
  src/gui/speciesTab_geometry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Updated docs (#1512)
  web/docs/examples/water/step1a.md
  web/docs/examples/water/step3.md
Due: none

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Fix whitespace
  src/gui/models/ffSortFilterModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Y axis!
  src/gui/speciesViewer_input.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Format
  src/gui/intramolecularTermsDialogFuncs.cpp
  src/gui/speciesTab_geometry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Hyperlink to messages.
  src/gui/gui.h
  src/gui/guiFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Removed advertisement from custom 404 page
  web/layouts/404.html
Due: none

1495 Update Docs 1.3 (#1517)
  web/docs.toml
  web/docs/_index.md
  web/docs/examples/argon/step4b.md
  web/docs/userguide/ff/forms/directionalpotential.md
  web/docs/userguide/ff/forms/restraintpotential.md
  web/docs/userguide/ff/forms/simplepotential.md
  web/docs/userguide/modules/correlation/neutronsq/_index.md
  web/docs/userguide/modules/correlation/xraysq/_index.md
  web/docs/userguide/procedures/expressions.md
  web/docs/userguide/procedures/nodes/calculateexpression.md
  web/docs/userguide/procedures/nodes/customregion.md
  web/docs/userguide/procedures/nodes/cylindricalregion.md
  web/docs/userguide/procedures/nodes/directionalglobalpotential.md
  web/docs/userguide/procedures/nodes/generalregion.md
  web/docs/userguide/procedures/nodes/integercollect1d.md
  web/docs/userguide/procedures/nodes/operatesphericalshellnormalisenode.md
  web/docs/userguide/procedures/nodes/restraintpotential.md
  web/docs/userguide/procedures/nodes/rotatefragment.md
  web/docs/userguide/procedures/nodes/selectnode.md
  web/docs/userguide/procedures/nodes/simpleglobalpotential.md
Due: none

Removing advertisement from custom 404 page (#1513)
  web/layouts/404.html
Due: none

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
