Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Update web/main.toml
  web/main.toml
Due: none

Split links to OSX DMG into Intel and Silicon.
  web/main/packages.md
Due: none

docs: Fix DMG download links (#1863)
  web/main/packages.md
Due: none

Update package-related links.
  web/main/packages.md
Due: none

Change name of output dmg for consistency.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

Try and add all Qt6 Windows dlls.
  ci/windows/dissolve-gui.iss
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

REMOVE: Disable all but windows.
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Try qt_generate_deploy_app_script for Windows
  .github/workflows/build/windows/action.yml
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Only build for Windows
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Fix formatting of CMakeList.txt
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move the dmg file.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

Pass qml dir to prep-dmg.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

build: Probe qml (#1869)
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

Remove unneeded directory change
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

addition of dataType selection
  src/modules/compare/compare.cpp
  src/modules/compare/compare.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Install into temp directory
  .github/workflows/build/windows/action.yml
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Set install path during config phase
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

add in initial keywords
  src/modules/compare/compare.cpp
  src/modules/compare/compare.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move things into bin directory for reasons?
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Apparently our version of cp is NOT smart enough to ignore loops
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Give up and only copy the executables
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

docs: Update package-related links (#1865)
  web/main/packages.md
Due: none

No copying needed
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Fix cmake formatting again
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Where does install put the files with not install prefix?
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Manually copy exe into bin folder again. 🤷
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Recursively copy
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Link up build and package phases
  .github/workflows/build/windows/action.yml
  .github/workflows/package/windows/action.yml
  ci/windows/dissolve-gui.iss
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Pull full bin directory from deployed target
  ci/windows/dissolve-gui.iss
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

setup of dataSourceWidget
  src/classes/dataSource.h
  src/gui/keywordWidgets/CMakeLists.txt
  src/gui/keywordWidgets/dataSource.cpp
  src/gui/keywordWidgets/dataSource.h
  src/gui/keywordWidgets/dataSource.ui
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Why does no one want to recurse subdirectories‽
  ci/windows/dissolve-gui.iss
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove extra quote
  ci/windows/dissolve-gui.iss
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Extra quotes come in pairs
  ci/windows/dissolve-gui.iss
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

chore: setup.
  src/analyser/CMakeLists.txt
  src/analyser/selectionProcessor.cpp
  src/analyser/selectionProcessor.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: basic logic.
  src/analyser/selectionProcessor.cpp
  src/analyser/selectionProcessor.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix: pointer to ref.
  src/analyser/selectionProcessor.cpp
  src/analyser/selectionProcessor.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix: conditional statements.
  src/analyser/selectionProcessor.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: make siteRDF use the SelectionProcessor.
  src/modules/siteRDF/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP.
  src/analyser/selectionProcessor.cpp
  src/analyser/selectionProcessor.h
  src/modules/siteRDF/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
