Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Don't pass MSVC linker flags it doesn't understand.
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump gtest to 1.11.
  cmake/Modules/conan-dissolve.cmake
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add EdgeDefinition default ctor, copy ctor, mandatory 4-arg ctor.
  src/nodes/edge.cpp
  src/nodes/edge.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add missing virtual override for Function1DWrapper specialisation (which throws).
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Chunk up Bragg module test to avoid line-length issues (MSVC).
  tests/modules/bragg.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fornatting.
  src/nodes/edge.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix: Windows build and test issues (#2171)
  CMakeLists.txt
  cmake/Modules/conan-dissolve.cmake
  src/nodes/edge.cpp
  src/nodes/edge.h
  src/nodes/parameter.h
  tests/modules/bragg.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove duplicate shared libs flag.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Need gsl installed in the packaging stage.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

Get rid of Homebrew freetype.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Point to local freetype.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

One step.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

build: Fix MacOS installer for the nth time (#2172)
  .github/workflows/build/osx/action.yml
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

added further suggestions
  src/data/ff/camelloneBKS/camelloneBKS.cpp
  src/data/ff/camelloneBKS/camelloneBKS.h
  src/data/ff/ff.cpp
  src/data/ff/ff.h
  src/gui/models/addForcefieldDialogModel.cpp
  src/main/pairPotentials.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't use a bool then.
  .github/workflows/_checkout.yml
  .github/workflows/continuous.yml
Due: .azure-pipelines/pr.yml

build: Fix version bumping of continuous build (#2173)
  .github/workflows/_checkout.yml
  .github/workflows/continuous.yml
Due: .azure-pipelines/pr.yml

Update src/data/ff/ff.cpp
  src/data/ff/ff.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update src/data/ff/ff.h
  src/data/ff/ff.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Added forcefield and Function1D for MCM-41 bulk (#2169)
  src/data/ff/camelloneBKS/CMakeLists.txt
  src/data/ff/camelloneBKS/camelloneBKS.cpp
  src/data/ff/camelloneBKS/camelloneBKS.h
  src/data/ff/ff.cpp
  src/data/ff/ff.h
  src/data/ff/library.cpp
  src/gui/forcefieldTab.cpp
  src/gui/models/addForcefieldDialogModel.cpp
  src/math/function1D.cpp
  src/math/function1D.h
  tests/pairPotentials/analytic.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix row organisation in main and packages.
  web/main/_index.html
  web/main/packages.md
Due: none

Adjust comment on FTGL for Mac.
  web/docs/userguide/get/packages.md
Due: none

optional pointer parameter
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

optional pointer parameter 2
  src/nodes/node.h
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

comment
  src/nodes/node.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Apptainer and singularity.
  web/docs/userguide/get/packages.md
Due: none

PR comments part 1
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor
  src/nodes/node.h
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

clang format
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
