Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Remove unnecessary file.
  src/modules/intradistance/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1309 Intramolecular Distance Module (#1320)
  src/gui/icons/modules_intradistance.svg
  src/gui/main.qrc
  src/modules/intradistance/CMakeLists.txt
  src/modules/intradistance/gui/CMakeLists.txt
  src/modules/intradistance/gui/intradistancewidget.h
  src/modules/intradistance/gui/intradistancewidget.ui
  src/modules/intradistance/gui/intradistancewidget_funcs.cpp
  src/modules/intradistance/intradistance.cpp
  src/modules/intradistance/intradistance.h
  src/modules/intradistance/process.cpp
  src/modules/registry.cpp
  src/modules/widgetproducer.cpp
  tests/_data/dlpoly/water267-analysis/analyse
  tests/_data/dlpoly/water267-analysis/water-267-298K.01-02-03.ijk
  tests/_data/dlpoly/water267-analysis/water-267-298K.01-02.ij
  tests/_data/dlpoly/water267-analysis/water-267-298K.01-03.ij
  tests/_data/dlpoly/water267-analysis/water-267-298K.02-03.ij
  tests/intradistance/CMakeLists.txt
  tests/intradistance/intra.txt
  web/docs/userguide/modules/analysis/intradistance/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Set default energy and output frequencies in MD.
  src/modules/md/md.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename system tests related to calculation modules.
  tests/avgmol/CMakeLists.txt
  tests/avgmol/README
  tests/avgmol/bendy.124.restart
  tests/avgmol/bendy.txt
  tests/avgmol/bendy.xyz
  tests/avgmol/water.txt
  tests/dangle/CMakeLists.txt
  tests/dangle/README
  tests/dangle/dangle.txt
  tests/sdf/CMakeLists.txt
  tests/sdf/README
  tests/sdf/sdf.txt
  tests/siterdf/CMakeLists.txt
  tests/siterdf/README
  tests/siterdf/cn.txt
  tests/siterdf/dynamic.txt
  tests/siterdf/npt.txt
  tests/siterdf/rdf.73.restart.test
  tests/siterdf/rdf.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missing fmt placeholder.
  src/modules/intrashake/process.cpp
  src/modules/md/process.cpp
  src/modules/molshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add GHA web workflow.
  .github/workflows/setup/action.yml
  .github/workflows/web.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Mark as legacy version.
  .github/workflows/web.yml
Due: .azure-pipelines/pr.yml

Web docs styling (#1350)
  web/assets/scss/_content.scss
  web/assets/scss/_styles_project.scss
  web/assets/scss/_variables_project.scss
  web/docs/_index.md
  web/docs/examples/_index.md
  web/layouts/shortcodes/documentationinfo.html
Due: none

setup for intraangle module
  src/modules/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added files for intraangle
  src/modules/intraangle/CMakeLists.txt
  src/modules/intraangle/gui/CMakeLists.txt
  src/modules/intraangle/gui/intraanglewidget.h
  src/modules/intraangle/gui/intraanglewidget.ui
  src/modules/intraangle/gui/intraanglewidget_funcs.cpp
  src/modules/intraangle/intraangle.cpp
  src/modules/intraangle/intraangle.h
  src/modules/intraangle/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fixed angle procedure node in the header file
  src/modules/intraangle/intraangle.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fixed another change made to wrong CMakeLists
  src/modules/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fixed change made to wrong CMakeLists
  src/modules/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fixed another change again made to wrong CMakeLists
  src/modules/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

newline at end of file
  src/modules/intraangle/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

corrected CMake file
  src/modules/intraangle/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fixed error caused by rebase
  src/modules/registry.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added producers
  src/modules/registry.cpp
  src/modules/widgetproducer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

deleted more rdf histograms in the module
  src/modules/intraangle/intraangle.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

alter into just angle calculations
  src/modules/intraangle/gui/intraanglewidget.h
  src/modules/intraangle/gui/intraanglewidget.ui
  src/modules/intraangle/gui/intraanglewidget_funcs.cpp
  src/modules/intraangle/intraangle.cpp
  src/modules/intraangle/intraangle.h
  src/modules/intraangle/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

deleted more rdf histograms in the module
  src/modules/intraangle/intraangle.cpp
  src/modules/intraangle/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

deleted references to redundant keywords
  src/modules/intraangle/intraangle.cpp
  src/modules/intraangle/intraangle.h
  src/modules/intraangle/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fixed errors with deletion
  src/modules/intraangle/intraangle.cpp
  src/modules/intraangle/intraangle.h
  src/modules/intraangle/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

deletion of private slots
  src/modules/intraangle/gui/intraanglewidget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Set default energy and output frequencies in MD. (#1372)
  src/modules/md/md.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missing fmt placeholder. (#1374)
  src/modules/intrashake/process.cpp
  src/modules/md/process.cpp
  src/modules/molshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename system tests related to calculation modules. (#1373)
  tests/avgmol/CMakeLists.txt
  tests/avgmol/README
  tests/avgmol/bendy.124.restart
  tests/avgmol/bendy.txt
  tests/avgmol/bendy.xyz
  tests/avgmol/water.txt
  tests/dangle/CMakeLists.txt
  tests/dangle/README
  tests/dangle/dangle.txt
  tests/sdf/CMakeLists.txt
  tests/sdf/README
  tests/sdf/sdf.txt
  tests/siterdf/CMakeLists.txt
  tests/siterdf/README
  tests/siterdf/cn.txt
  tests/siterdf/dynamic.txt
  tests/siterdf/npt.txt
  tests/siterdf/rdf.73.restart.test
  tests/siterdf/rdf.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release info correctly (#1371)
  .github/workflows/release.yml
  .github/workflows/update-release-info/action.yml
Due: .azure-pipelines/pr.yml

1309 intra angle (#1329)
  src/modules/intraangle/CMakeLists.txt
  src/modules/intraangle/gui/CMakeLists.txt
  src/modules/intraangle/gui/intraanglewidget.h
  src/modules/intraangle/gui/intraanglewidget.ui
  src/modules/intraangle/gui/intraanglewidget_funcs.cpp
  src/modules/intraangle/intraangle.cpp
  src/modules/intraangle/intraangle.h
  src/modules/intraangle/process.cpp
  src/modules/registry.cpp
  src/modules/widgetproducer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update version information.
  README.md
  web/main.toml
Due: none

Add release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Update release version info.
  README.md
  web/main.toml
  web/static/include/old_releases.md
Due: none

Bump dev version to 1.2.
  CMakeLists.txt
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Copy and strip out EPSR module.
  src/module/module.cpp
  src/module/module.h
  src/modules/refine/CMakeLists.txt
  src/modules/refine/functions.cpp
  src/modules/refine/gui/CMakeLists.txt
  src/modules/refine/gui/refinewidget.h
  src/modules/refine/gui/refinewidget.ui
  src/modules/refine/gui/refinewidget_funcs.cpp
  src/modules/refine/process.cpp
  src/modules/refine/refine.cpp
  src/modules/refine/refine.h
  src/modules/registry.cpp
  src/modules/widgetproducer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
