Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build and Package
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Build docker images
  flake.nix
Due: .azure-pipelines/pr.yml

Try and produce actual packages
  .azure-pipelines/pr.yml
  .azure-pipelines/templates/build-linux.yml
  flake.nix
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix typo
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Try and figure out how azure conditions work for steps
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Properly namespace azure parameter
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Does the condition need to be a string?
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix name of threadless testing job
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Fix stupid typo
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Actually publish build artifacts
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Fix weighting of isotopologues in mix.
  src/classes/isotopologues.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Re-enable OSX and Windows builds
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

add Benchmark (googlecpp) benchmark result for a89927533f0b78bd8a1a800a7312ae49d324e5cb
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Take element in ctor.
  src/classes/atomtype.cpp
  src/classes/atomtype.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix typo.
  src/classes/isotopologues.cpp
  src/classes/isotopologues.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix comment.
  src/classes/neutronweights.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Actually modify isotopologue weights.
  src/classes/isotopologues.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add to existing isotopologue if present, Use algorithm, rename function.
  src/classes/isotopologues.cpp
  src/classes/isotopologues.h
  src/classes/isotopologueweight.cpp
  src/classes/isotopologueweight.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add NeutronWeights unit test.
  src/classes/atomtypelist.cpp
  src/classes/atomtypelist.h
  unit/classes/CMakeLists.txt
  unit/classes/neutronweights.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

2d array fixes for review
  src/math/data2d.cpp
  src/templates/arrayIndex2d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

specific pointer fix
  src/templates/arrayIndex2d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bugfix 21/10/21 Isotopologue Weights (#823)
  src/classes/atomtype.cpp
  src/classes/atomtype.h
  src/classes/atomtypelist.cpp
  src/classes/atomtypelist.h
  src/classes/isotopologues.cpp
  src/classes/isotopologues.h
  src/classes/isotopologueweight.cpp
  src/classes/isotopologueweight.h
  src/classes/neutronweights.h
  unit/classes/CMakeLists.txt
  unit/classes/neutronweights.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Bugfix 18/10/21 CN Averaging (#820)
  src/genericitems/searchers.cpp
  src/keywords/CMakeLists.txt
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/types.h
  src/keywords/vector_stringdouble.cpp
  src/keywords/vector_stringdouble.h
  src/math/histogram1d.cpp
  src/math/histogram1d.h
  src/modules/calculate_cn/init.cpp
  src/modules/datatest/init.cpp
  src/modules/datatest/process.cpp
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect1d.h
  src/procedure/nodes/process1d.cpp
  tests/calculate_cn/cn.txt
  web/content/docs/modules/tests/datatest/_index.md
  web/content/docs/reference/fileandformat/valueformat.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for e5358caaddc20314bfbf9f4e782bfa1d7fe35cd2
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 6a9b5bddaec0cfea9d0176e4ee61daef626855dc
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

adding 3D changes
  src/math/data2d.cpp
  src/math/data3d.cpp
  src/templates/arrayIndex3d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update function comments.
  src/classes/atomtypelist.cpp
  src/classes/atomtypelist.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused functions, use assertions.
  src/classes/isotopologues.cpp
  src/classes/isotopologues.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename AtomTypeList to AtomTypeMix.
  src/classes/CMakeLists.txt
  src/classes/atomtypedata.cpp
  src/classes/atomtypemix.cpp
  src/classes/atomtypemix.h
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/neutronweights.cpp
  src/classes/neutronweights.h
  src/classes/partialset.cpp
  src/classes/partialset.h
  src/classes/potentialmap.h
  src/classes/scatteringmatrix.cpp
  src/classes/species.h
  src/classes/species_atomic.cpp
  src/classes/xrayweights.cpp
  src/classes/xrayweights.h
  src/genericitems/deserialisers.cpp
  src/genericitems/producers.cpp
  src/genericitems/serialisers.cpp
  src/gui/keywordwidgets/atomtypeselection_funcs.cpp
  src/keywords/atomtypeselection.cpp
  src/keywords/atomtypeselection.h
  src/modules/bragg/functions.cpp
  src/modules/bragg/gui/modulewidget.h
  src/modules/bragg/gui/modulewidget_funcs.cpp
  src/modules/bragg/process.cpp
  src/modules/epsr/process.cpp
  src/modules/neutronsq/gui/modulewidget_funcs.cpp
  src/modules/neutronsq/neutronsq.h
  src/modules/neutronsq/process.cpp
  src/modules/rdf/functions.cpp
  src/modules/rdf/gui/modulewidget_funcs.cpp
  src/modules/sq/gui/modulewidget_funcs.cpp
  src/modules/sq/process.cpp
  src/modules/xraysq/gui/modulewidget_funcs.cpp
  src/modules/xraysq/process.cpp
  tests/restart/benzene.txt.restart.test
  unit/classes/neutronweights.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename member var and tidy.
  src/classes/configuration.cpp
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/configuration_io.cpp
  src/io/export/coordinates.cpp
  src/keywords/atomtypeselection.cpp
  src/modules/bragg/functions.cpp
  src/modules/bragg/process.cpp
  src/modules/rdf/functions.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Base keyword on vector of AtomType rather than AtomTypeMix.
  src/classes/atomtypemix.cpp
  src/classes/atomtypemix.h
  src/classes/neutronweights.cpp
  src/classes/neutronweights.h
  src/gui/keywordwidgets/CMakeLists.txt
  src/gui/keywordwidgets/atomtypeselection_funcs.cpp
  src/gui/keywordwidgets/atomtypevector.h
  src/gui/keywordwidgets/atomtypevector.ui
  src/gui/keywordwidgets/atomtypevector_funcs.cpp
  src/gui/keywordwidgets/widget_funcs.cpp
  src/gui/keywordwidgets/widgets.h
  src/gui/models/atomTypeModel.cpp
  src/gui/models/atomTypeModel.h
  src/keywords/CMakeLists.txt
  src/keywords/atomtypeselection.cpp
  src/keywords/atomtypevector.cpp
  src/keywords/atomtypevector.h
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/types.h
  src/modules/neutronsq/init.cpp
  src/modules/neutronsq/neutronsq.h
  src/modules/neutronsq/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename member var.
  src/classes/coredata.cpp
  src/classes/isotopologue.cpp
  src/classes/neutronweights.cpp
  src/classes/species.h
  src/classes/species_atomic.cpp
  src/classes/speciesatom.cpp
  src/main/simulation.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove AtomTypeRefListKeyword and replace with vector equivalent.
  src/keywords/CMakeLists.txt
  src/keywords/atomtypereflist.cpp
  src/keywords/atomtypereflist.h
  src/keywords/base.cpp
  src/keywords/base.h
  src/keywords/types.h
  src/procedure/nodes/dynamicsite.cpp
  src/procedure/nodes/dynamicsite.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Split GUI environment variables out of main derivation
  flake.nix
Due: .azure-pipelines/pr.yml

Fix formatting
  flake.nix
Due: .azure-pipelines/pr.yml

Parameterise nix version
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unneeded bison
  flake.nix
Due: .azure-pipelines/pr.yml

Get ride of attempted gui separation
  flake.nix
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
