Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Parentheses to avoid erroneous math (thought this had been fixed already?)
  src/modules/neutronSQ/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add diagnostic depth of concept issues
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for 9b27472f4b12cdff842c069c990176a3ce462c43
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Remove explicit development version from web.
  web/layouts/shortcodes/continuouslink.html
  web/layouts/shortcodes/continuousversion.html
  web/main.toml
  web/main/packages.md
Due: none

Update latest-release tagging mechanism.
  .github/workflows/_publishing.yml
  .github/workflows/latest-release-point.yml
  .github/workflows/set-latest-release-point/action.yml
  changeversion
Due: .azure-pipelines/pr.yml

Deploy main website as part of a release, rather than updating it as part of continuous.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Start modifying changeversion.
  changeversion
Due: .azure-pipelines/pr.yml

No need for releaseVersion and releaseDate to be specified in docs.toml.
  web/docs.toml
Due: none

More updates to changeversion.
  changeversion
Due: .azure-pipelines/pr.yml

Remove develop target from changeversion.
  changeversion
Due: .azure-pipelines/pr.yml

Remove list of legacy packages, fix link to develop branch.
  web/main/packages.md
Due: none

Stop generating legacy release list in CI.
  .github/workflows/update-release-info/action.yml
Due: .azure-pipelines/pr.yml

Remove pointless sed.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

More options to changeversion.
  changeversion
Due: .azure-pipelines/pr.yml

Update changeversion.
  changeversion
Due: .azure-pipelines/pr.yml

Not yet.
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Bring in the new workflows, remove the old unused.
  .github/workflows/_checkout.yml
  .github/workflows/_publishing.yml
  .github/workflows/continuous.yml
  .github/workflows/create-release/action.yml
  .github/workflows/detect_release.yml
  .github/workflows/latest-release-point.yml
  .github/workflows/prepare_release.yml
  .github/workflows/set-latest-release-point/action.yml
Due: .azure-pipelines/pr.yml

Updates.
  .github/workflows/_build_and_package.yml
  .github/workflows/_qc.yml
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Website stuff.
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/legacy.yml
  .github/workflows/pr.yml
  .github/workflows/web.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

DOn't forget cliff.
  .github/workflows/get-cliff/action.yml
Due: .azure-pipelines/pr.yml

Don't run QC in _build_and_package.yml any more.
  .github/workflows/_build_and_package.yml
Due: .azure-pipelines/pr.yml

Indent.
  .github/workflows/_build_and_package.yml
Due: .azure-pipelines/pr.yml

Rename step.
  .github/workflows/_qc.yml
Due: .azure-pipelines/pr.yml

Make website into a reusable workflow for convenience.
  .github/workflows/_website.yml
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/legacy.yml
  .github/workflows/pr.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

see directory contents
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

Start addings a Graphable concept
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/exampleGraphModel.h
  src/gui/models/nodeGraph/generatorGraphModel.h
  src/gui/models/nodeGraph/graphModel.h
  src/gui/models/nodeGraph/graphNodeContext.h
  src/gui/models/nodeGraph/graphNodeModel.h
  src/gui/models/nodeGraph/instances/all.h
  src/gui/models/nodeGraph/instances/configuration.cpp
  src/gui/models/nodeGraph/instances/configuration.h
  src/gui/models/nodeGraph/instances/generator.cpp
  src/gui/models/nodeGraph/instances/generator.h
  src/gui/models/nodeGraph/instances/generatorGraphNode.cpp
  src/gui/models/nodeGraph/instances/generatorGraphNode.h
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/models/nodeGraph/instances/generatorNode.h
  src/gui/models/nodeGraph/nodeWrapper.h
  tests/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

see path to conan, does cl work
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

Move more into Concepts
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/exampleGraphModel.h
  src/gui/models/nodeGraph/instances/all.h
  src/gui/models/nodeGraph/instances/configuration.cpp
  src/gui/models/nodeGraph/instances/configuration.h
  src/gui/models/nodeGraph/instances/generator.cpp
  src/gui/models/nodeGraph/instances/generator.h
  src/gui/models/nodeGraph/instances/generatorGraphNode.cpp
  src/gui/models/nodeGraph/instances/generatorNode.cpp
  src/gui/models/nodeGraph/instances/generatorNode.h
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

can we find conan
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

setNodeName and nodeGetValue in concept
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/exampleGraphModel.h
  src/gui/models/nodeGraph/instances/all.h
  src/gui/models/nodeGraph/instances/generatorGraphNode.cpp
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

is there even a conan
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

try with bash
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

Add connections to node concept
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/exampleGraphModel.h
  src/gui/models/nodeGraph/instances/all.h
  src/gui/models/nodeGraph/instances/configuration.h
  src/gui/models/nodeGraph/instances/generatorGraphNode.cpp
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build dissolve cli
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

Package using tar.
  .github/workflows/_build_and_package.yml
  .github/workflows/_checkout.yml
  .github/workflows/_publishing.yml
  .github/workflows/_qc.yml
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Set short has as part of _checkout.yml.
  .github/workflows/_build_and_package.yml
  .github/workflows/_checkout.yml
  .github/workflows/_publishing.yml
  .github/workflows/set-short-hash/action.yml
Due: .azure-pipelines/pr.yml

Update publish action.
  .github/workflows/publish/action.yml
Due: .azure-pipelines/pr.yml

can we get path vars directly
  .github/workflows/visual-studio/action.yml
Due: .azure-pipelines/pr.yml

Put node role names in concept
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/exampleGraphModel.h
  src/gui/models/nodeGraph/graphNodeContext.h
  src/gui/models/nodeGraph/graphNodeModel.h
  src/gui/models/nodeGraph/instances/all.h
  src/gui/models/nodeGraph/instances/generatorGraphNode.cpp
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
