Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Test some stuff.
  src/modules/refine/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Actually change index header in release version.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Add comments.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Enumeration for module types.
  src/module/layer.cpp
  src/module/layer.h
  src/module/module.cpp
  src/module/module.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use strings in GUI for clarity.
  src/gui/models/moduleLayerModel.cpp
  src/gui/models/moduleLayerModel.h
  src/gui/models/modulePaletteModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Retrofit nodes.
  src/procedure/nodes/nodereference.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Retrofit main simulation.
  src/main/io.cpp
  src/main/keywords_layer.cpp
  src/main/keywords_module.cpp
  src/main/simulation.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Retrofit GUI.
  src/gui/menu_layer.cpp
  src/gui/models/moduleLayerModel.cpp
  src/gui/models/modulePaletteModel.cpp
  src/gui/modulecontrolwidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Retrofit keywords.
  src/keywords/module.h
  src/keywords/modulevector.cpp
  src/keywords/modulevector.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Ordering.
  src/modules/widgetproducer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Retrofit IntraAngle module.
  src/module/module.cpp
  src/module/module.h
  src/modules/intraangle/intraangle.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correctly set ExponentialSpin value on defocusing events.
  src/gui/delegates/exponentialspin_funcs.cpp
  src/gui/widgets/exponentialspin.hui
  src/gui/widgets/exponentialspin_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Same for IntegerSpin.
  src/gui/delegates/integerspin_funcs.cpp
  src/gui/widgets/integerspin.hui
  src/gui/widgets/integerspin_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add missing icon to button.
  web/docs/examples/argon/step4a.md
Due: none

Rename gui-node shortcode (remove gui- prefix).
  web/docs/examples/argon/step3.md
  web/docs/examples/cu-btc/step3.md
  web/docs/examples/post-processing/step2.md
  web/docs/examples/water/step2.md
  web/docs/userguide/inputfile/configurationblock.md
  web/docs/userguide/procedures/expressions.md
  web/docs/userguide/procedures/nodes/addnode.md
  web/docs/userguide/procedures/nodes/addpairnode.md
  web/docs/userguide/procedures/nodes/calculateanglenode.md
  web/docs/userguide/procedures/nodes/calculateaxisanglenode.md
  web/docs/userguide/procedures/nodes/calculatedistancenode.md
  web/docs/userguide/procedures/nodes/calculatevectornode.md
  web/docs/userguide/procedures/nodes/collect1dnode.md
  web/docs/userguide/procedures/nodes/collect2dnode.md
  web/docs/userguide/procedures/nodes/collect3dnode.md
  web/docs/userguide/procedures/nodes/coordinatesetsnode.md
  web/docs/userguide/procedures/nodes/cylindricalregion.md
  web/docs/userguide/procedures/nodes/generalregion.md
  web/docs/userguide/procedures/nodes/integrate1d.md
  web/docs/userguide/procedures/nodes/operatenumberdensitynormalisenode.md
  web/docs/userguide/procedures/nodes/operatesitepopulationnormalisenode.md
  web/docs/userguide/procedures/nodes/process1dnode.md
  web/docs/userguide/procedures/nodes/process2dnode.md
  web/docs/userguide/procedures/nodes/process3dnode.md
  web/docs/userguide/procedures/nodes/selectnode.md
  web/docs/userguide/procedures/nodes/sum1dnode.md
  web/docs/userguide/reference/boxactionstyle.md
  web/docs/userguide/reference/positioningtype.md
  web/layouts/shortcodes/node.html
Due: none

Update scss to suit.
  web/assets/scss/_content.scss
  web/layouts/shortcodes/module.html
  web/layouts/shortcodes/node.html
Due: none

Update examples to reflect changes in GUI layout.
  web/docs/examples/_index.md
  web/docs/examples/argon/step4b.md
  web/docs/examples/benzene/step4.md
  web/docs/examples/benzene/step6.md
  web/docs/examples/cu-btc/step3.md
  web/docs/examples/cu-btc/step4.md
  web/docs/examples/emim-oac/step5.md
  web/docs/examples/silica/step4.md
  web/docs/examples/silica/step6.md
  web/docs/examples/silica/step7.md
  web/docs/examples/water/step3.md
  web/docs/examples/water/step7.md
  web/docs/examples/water/step9a.md
  web/docs/examples/water/step9b.md
  web/docs/examples/water/step9c.md
Due: none

REMOVE Ignore conan caches.
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Basic changes to OSX build.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Move to onetbb.
  conanfile.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Install conan2.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  flake.nix
Due: .azure-pipelines/pr.yml

Wilcards in conanfile options.
  conanfile.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Basic changes to Windows build.
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Remove old conan commands from Windows build.
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Move to Antlr4 4.11.0.
  conanfile.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Actually, 4.11.1...
  conanfile.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Release version setting (#1377)
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

1272 Isotopologue Ratio Setting (#1378)
  src/gui/delegates/exponentialspin_funcs.cpp
  src/gui/delegates/integerspin_funcs.cpp
  src/gui/widgets/exponentialspin.hui
  src/gui/widgets/exponentialspin_funcs.cpp
  src/gui/widgets/integerspin.hui
  src/gui/widgets/integerspin_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update custom qt to 6.4
  flake.nix
  nix/qt/patches/qtbase-tzdir.patch
  nix/qt/srcs.nix
Due: .azure-pipelines/pr.yml

Apply permissive mode as needed for Qt 6.4 on windows
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

It looks like there's a dash on the permissive flag
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
