Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Run the conformance test on the imported TOML data
  src/main/io.cpp
  tests/modules/accumulate.cpp
  tests/modules/atomShake.cpp
  tests/modules/avgMol.cpp
  tests/modules/bragg.cpp
  tests/modules/broadening.cpp
  tests/modules/dAngle.cpp
  tests/modules/energy.cpp
  tests/modules/epsr.cpp
  tests/modules/forces.cpp
  tests/modules/gr.cpp
  tests/modules/histogramCN.cpp
  tests/modules/intraDistance.cpp
  tests/modules/md.cpp
  tests/modules/neutronSQ.cpp
  tests/modules/orientedSDF.cpp
  tests/modules/qSpecies.cpp
  tests/modules/sdf.cpp
  tests/modules/siteRDF.cpp
  tests/modules/sq.cpp
  tests/modules/xRaySQ.cpp
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add setup and prepare to full toml test
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correctly serialise force charge parameter
  src/classes/serializablePairPotential.cpp
  src/classes/serializablePairPotential.h
  src/main/dissolve.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix charge handling in serialisation
  src/classes/serializablePairPotential.cpp
  src/classes/serializablePairPotential.h
  src/main/dissolve.cpp
  tests/modules/accumulate.cpp
  tests/modules/atomShake.cpp
  tests/modules/bragg.cpp
  tests/modules/broadening.cpp
  tests/modules/energy.cpp
  tests/modules/forces.cpp
  tests/modules/gr.cpp
  tests/modules/histogramCN.cpp
  tests/modules/md.cpp
  tests/modules/neutronSQ.cpp
  tests/modules/qSpecies.cpp
  tests/modules/sq.cpp
  tests/modules/xRaySQ.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

flake file adds nixGLIntel wrapper to development shell
  flake.nix
Due: .azure-pipelines/pr.yml

dockerfile to build using nix base image
  Dockerfile
Due: .azure-pipelines/pr.yml

updated developer docks
  web/docs/userguide/developers/docker.md
Due: none

update to the docker documentation
  web/docs/userguide/developers/docker.md
Due: none

Fix import of node name when deserialising (#1680)
  src/procedure/nodes/node.cpp
  tests/modules/histogramCN.cpp
  tests/modules/orientedSDF.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix whitespace
  src/classes/serializablePairPotential.cpp
  src/classes/serializablePairPotential.h
  src/main/dissolve.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't default to outputting a framework when we know we have molecular species, and grab the box from the Supercell Configuration.
  src/gui/importCIFDialogFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Set output molecular species before updating, and remember to set the flag.
  src/gui/importCIFDialogFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Correct molecular supercell generation.
  src/io/import/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remember the new 'copies' induced by the supercell.
  src/io/import/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Format.
  src/gui/importCIFDialogFuncs.cpp
  src/io/import/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

updated docs and Dockerfile
  Dockerfile
  web/docs/userguide/developers/docker.md
Due: .azure-pipelines/pr.yml

updated command in Dockerfile
  Dockerfile
Due: .azure-pipelines/pr.yml

further updates to the Dockerfile CMD statement
  Dockerfile
Due: .azure-pipelines/pr.yml

added shell script to setup dev env
  Dockerfile
  scripts/setup.sh
  web/docs/userguide/developers/docker.md
Due: .azure-pipelines/pr.yml

Docker -> docker
  web/docs/userguide/developers/docker.md
Due: none

fixed nixpkgs line
  Dockerfile
Due: .azure-pipelines/pr.yml

Windows docker setup (#1681)
  Dockerfile
  flake.nix
  scripts/setup.sh
  web/docs/userguide/developers/docker.md
Due: .azure-pipelines/pr.yml

Properly clear dummy dissolve before loading config file
  tests/modules/avgMol.cpp
  tests/modules/dAngle.cpp
  tests/modules/histogramCN.cpp
  tests/modules/intraDistance.cpp
  tests/modules/orientedSDF.cpp
  tests/modules/sdf.cpp
  tests/modules/siteRDF.cpp
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename function.
  src/classes/scatteringMatrix.cpp
  src/classes/scatteringMatrix.h
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove pointless ctor definition.
  src/classes/scatteringMatrix.cpp
  src/classes/scatteringMatrix.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

No need to pass the full Dissolve instance to the function.
  src/modules/epsr/epsr.h
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Construct ScatteringMatrix from AtomTypeMix (from Configuration) rather master Dissolve AtomTypes.
  src/classes/scatteringMatrix.cpp
  src/classes/scatteringMatrix.h
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Take atom types from scattering matrix instead of Dissolve.
  src/modules/epsr/process.cpp
  tests/modules/epsr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unnecessary functino argument.
  src/modules/epsr/epsr.h
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use scatteringMatrix_ as atom type source in other functions.
  src/modules/epsr/epsr.h
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Grab module data reference to tidy things up.
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use for_each_pair / scattering matrix atom types in GUI widget.
  src/modules/epsr/gui/epsrWidgetFuncs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused includes.
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fixup unit test.
  tests/modules/epsr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Better variable names
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Charge autoChargeSource default
  src/classes/serializablePairPotential.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Less boilerplate in TOML for pair potentials
  src/classes/serializablePairPotential.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix whitespace
  src/classes/serializablePairPotential.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
