Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Don't store unnecessary Procedure pointer in SequenceNode.
  src/keywords/nodebranch.cpp
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect2d.cpp
  src/procedure/nodes/collect3d.cpp
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/process1d.cpp
  src/procedure/nodes/process2d.cpp
  src/procedure/nodes/process3d.cpp
  src/procedure/nodes/select.cpp
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
  src/procedure/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add extra check.
  unit/gui/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove children(), use branch() instead.
  src/gui/models/procedureModel.cpp
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect1d.h
  src/procedure/nodes/collect2d.cpp
  src/procedure/nodes/collect2d.h
  src/procedure/nodes/collect3d.cpp
  src/procedure/nodes/collect3d.h
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/process1d.cpp
  src/procedure/nodes/process1d.h
  src/procedure/nodes/process2d.cpp
  src/procedure/nodes/process2d.h
  src/procedure/nodes/process3d.cpp
  src/procedure/nodes/process3d.h
  src/procedure/nodes/select.cpp
  src/procedure/nodes/select.h
  unit/classes/procedure.cpp
  unit/gui/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Refactor SequenceProcedureNode into non-node ProcedureNodeSequence class.
  src/gui/charts/procedure.cpp
  src/gui/charts/procedure.h
  src/gui/models/procedureModel.cpp
  src/keywords/nodebranch.cpp
  src/keywords/nodebranch.h
  src/modules/calculate_angle/angle.cpp
  src/modules/calculate_axisangle/axisangle.cpp
  src/modules/calculate_dangle/dangle.cpp
  src/modules/calculate_rdf/rdf.cpp
  src/modules/calculate_sdf/sdf.cpp
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect1d.h
  src/procedure/nodes/collect2d.cpp
  src/procedure/nodes/collect2d.h
  src/procedure/nodes/collect3d.cpp
  src/procedure/nodes/collect3d.h
  src/procedure/nodes/copy.h
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/process1d.cpp
  src/procedure/nodes/process1d.h
  src/procedure/nodes/process2d.cpp
  src/procedure/nodes/process2d.h
  src/procedure/nodes/process3d.cpp
  src/procedure/nodes/process3d.h
  src/procedure/nodes/select.cpp
  src/procedure/nodes/select.h
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
  src/procedure/procedure.cpp
  src/procedure/procedure.h
  unit/classes/procedure.cpp
  unit/gui/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Store (optional) reference to owner.
  src/gui/models/procedureModel.cpp
  src/procedure/nodes/collect1d.cpp
  src/procedure/nodes/collect2d.cpp
  src/procedure/nodes/collect3d.cpp
  src/procedure/nodes/node.cpp
  src/procedure/nodes/node.h
  src/procedure/nodes/process1d.cpp
  src/procedure/nodes/process2d.cpp
  src/procedure/nodes/process3d.cpp
  src/procedure/nodes/select.cpp
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
  src/procedure/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix GUI unit test.
  unit/gui/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use algorithm.
  src/modules/md/process.cpp
  src/modules/molshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add option to restrict species.
  src/modules/intrashake/intrashake.cpp
  src/modules/intrashake/intrashake.h
  src/modules/intrashake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't adjust torsions within cycles.
  src/modules/intrashake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Simplify expression.
  src/modules/intrashake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

Update docs.
  web/content/docs/run/scarf.md
Due: none

Add SCARF module installation scripts.
  scripts/README.md
  scripts/scarf-add-module
  scripts/scarf-add-module.modulefile
  scripts/scarf-add-module.runscript
Due: none

SCARF Scripts (#1231)
  scripts/README.md
  scripts/scarf-add-module
  scripts/scarf-add-module.modulefile
  scripts/scarf-add-module.runscript
  web/content/docs/run/scarf.md
Due: none

Use flag over signal block.
  src/gui/maintabswidget.hui
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move to OSX latest.
  .azure-pipelines/pr.yml
Due: .azure-pipelines/pr.yml

Better handling of unknown module type.
  src/main/keywords_layer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove defunct CalculateCN module from examples.
  examples/emim-oac/input.txt
  examples/water/input.txt
Due: none

Don't try to add license to dmg.
  ci/osx/dmgbuild-settings.py
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use flag over signal block. (#1232)
  src/gui/maintabswidget.hui
  src/gui/maintabswidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Unknown Module Types (#1234)
  examples/emim-oac/input.txt
  examples/water/input.txt
  src/main/keywords_layer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1219 IntraShake Restrict to Species (#1230)
  src/modules/intrashake/intrashake.cpp
  src/modules/intrashake/intrashake.h
  src/modules/intrashake/process.cpp
  src/modules/md/process.cpp
  src/modules/molshake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix internal move between scopes.
  src/gui/models/procedureModel.cpp
  src/gui/models/procedureModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow exclusion of specific node in search.
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
  src/procedure/procedure.cpp
  src/procedure/procedure.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update Procedure keyword data after change.
  src/gui/procedurewidget.h
  src/gui/procedurewidget_funcs.cpp
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Pass explicit invalid QModelIndex to force correct behaviour.
  src/gui/models/procedureModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update unit test.
  unit/classes/procedure.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix move of items within same scope.
  src/gui/models/procedureModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add procedure model mime data class.
  src/gui/models/CMakeLists.txt
  src/gui/models/procedureModelMimeData.cpp
  src/gui/models/procedureModelMimeData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Implement dragging of new nodes from palette.
  src/gui/models/nodePaletteModel.cpp
  src/gui/models/procedureModel.cpp
  src/gui/models/procedureModel.h
  src/gui/models/procedureNodeModel.cpp
  src/gui/procedurewidget.h
  src/gui/procedurewidget_funcs.cpp
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Implement node internal move.
  src/gui/models/procedureModel.cpp
  src/gui/models/procedureModel.h
  src/procedure/nodes/sequence.cpp
  src/procedure/nodes/sequence.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
