Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Formatting 3
  src/modules/clustering/clustering.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clean up flake
  flake.nix
Due: .azure-pipelines/pr.yml

feat: Clustering improvements (#2193)
  src/gui/render/view.cpp
  src/modules/clustering/clustering.cpp
  src/modules/clustering/clustering.h
  src/modules/clustering/gui/clusteringWidget.h
  src/modules/clustering/gui/clusteringWidget.ui
  src/modules/clustering/gui/clusteringWidgetFuncs.cpp
  src/modules/clustering/process.cpp
  web/docs/userguide/modules/analysis/clustering/_index.md
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fixup root CMakeLists.txt for conan2.
  CMakeLists.txt
  src/gui/models/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Revert to plain conanfile.txt.
  cmake/Modules/conan-dissolve.cmake
  conanfile.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update src/gui/createGrapheneSpeciesDialog.cpp
  src/gui/createGrapheneSpeciesDialog.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove chop_range function and test.
  src/modules/gr/functions.cpp
  src/nodes/gr/helpers.cpp
  src/templates/algorithms.h
  tests/algorithms/CMakeLists.txt
  tests/algorithms/aragorn.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Missed a link.
  web/docs/examples/ligpargen/_index.md
Due: none

Formatting.
  src/gui/createGrapheneSpeciesDialog.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix filename in checkout.
  .github/workflows/_checkout.yml
Due: .azure-pipelines/pr.yml

Fix the function declaration etc.
  src/gui/createGrapheneSpeciesDialog.cpp
  src/gui/createGrapheneSpeciesDialog.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Chiral nanotube and graphene sheet creator (#2195)
  src/gui/CMakeLists.txt
  src/gui/createGrapheneSpeciesDialog.cpp
  src/gui/createGrapheneSpeciesDialog.h
  src/gui/createGrapheneSpeciesDialog.ui
  src/gui/createNanotubeSpeciesDialog.cpp
  src/gui/createNanotubeSpeciesDialog.h
  src/gui/createNanotubeSpeciesDialog.ui
  src/gui/gui.h
  src/gui/gui.ui
  src/gui/menu_species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Multiple inputs to vector-type parameters (#2189)
  src/expression/value.h
  src/gui/models/nodeGraph/parameterModel.cpp
  src/nodes/atomicSpecies.cpp
  src/nodes/configuration.cpp
  src/nodes/edge.cpp
  src/nodes/edge.h
  src/nodes/gr/gr.cpp
  src/nodes/graph.cpp
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/numberNode.cpp
  src/nodes/numberNode.h
  src/nodes/parameter.cpp
  src/nodes/parameter.h
  src/nodes/registry.cpp
  src/nodes/sq/sq.cpp
  src/nodes/test.cpp
  src/nodes/test.h
  src/templates/algorithms.h
  tests/nodes/flow.cpp
  tests/nodes/parameters.cpp
  tests/nodes/subGraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

REMOVE Just Windows and OSX for now.
  .github/workflows/_build_and_package.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Try to fix setting of download cache (via global.conf).
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Single dash.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Errr, install?
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Try home.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

clean environment before running script flag
  develop.ps1
Due: .azure-pipelines/pr.yml

systemQt parameter
  develop.ps1
Due: .azure-pipelines/pr.yml

update docs again
  web/docs/userguide/developers/vs2022.md
Due: none

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
