Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *

(Release Automation) Update version info.
  README.md
  web/config.toml
Due: none

Adjust logic of release stage.
  .azure-pipelines/release.yml
Due: none

Adjust logic of release stage. (#1188)
  .azure-pipelines/release.yml
Due: none

(Release Automation) Update version info.
  web/config.toml
Due: none

Increase Testing GUI job timeout.
  .azure-pipelines/release.yml
Due: none

Change ordering of stages in create release.
  .azure-pipelines/templates/create-release.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Revert to previous revision in list-releases.
  ci/scripts/list-releases
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Push Harbor (#1190)
  .azure-pipelines/templates/create-release.yml
  ci/scripts/list-releases
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused atom-to-cell and atom-to-world force routines.
  src/classes/forcekernel.cpp
  src/classes/forcekernel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove now-unused KernelFlags.
  src/classes/CMakeLists.txt
  src/classes/kernelflags.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Increase build timeout for Testing GUI.
  .azure-pipelines/pr.yml
  .azure-pipelines/release.yml
Due: .azure-pipelines/pr.yml

Remove related includes.
  src/classes/energykernel.h
  src/classes/forcekernel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Revert release version on web.
  README.md
  web/config.toml
Due: none

1189 Push Harbor (#1190)
  .azure-pipelines/pr.yml
  .azure-pipelines/release.yml
  .azure-pipelines/templates/create-release.yml
  ci/scripts/list-releases
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Separate OptionalDoubleKeyword unit test into standard and gui components.
  unit/CMakeLists.txt
  unit/gui/CMakeLists.txt
  unit/gui/optionalDoubleKeyword.cpp
  unit/keywords/CMakeLists.txt
  unit/keywords/optionalDouble.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add optional limits to RangeKeyword.
  src/gui/keywordwidgets/range_funcs.cpp
  src/keywords/range.cpp
  src/keywords/range.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use initialiser lists.
  src/keywords/double.cpp
  src/keywords/integer.cpp
  src/keywords/vec3double.cpp
  src/keywords/vec3integer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename vars and functions to clarify intent.
  src/gui/keywordwidgets/double_funcs.cpp
  src/gui/keywordwidgets/integer_funcs.cpp
  src/gui/keywordwidgets/optionaldouble_funcs.cpp
  src/gui/keywordwidgets/optionalint_funcs.cpp
  src/gui/keywordwidgets/vec3double_funcs.cpp
  src/gui/keywordwidgets/vec3integer_funcs.cpp
  src/keywords/double.cpp
  src/keywords/double.h
  src/keywords/integer.cpp
  src/keywords/integer.h
  src/keywords/optionaldouble.cpp
  src/keywords/optionaldouble.h
  src/keywords/optionalint.cpp
  src/keywords/optionalint.h
  src/keywords/vec3double.cpp
  src/keywords/vec3double.h
  src/keywords/vec3integer.cpp
  src/keywords/vec3integer.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add unit tests for DoubleKeyword and IntegerKeyword.
  unit/keywords/CMakeLists.txt
  unit/keywords/double.cpp
  unit/keywords/integer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add unit test for RangeKeyword.
  unit/keywords/CMakeLists.txt
  unit/keywords/range.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove Redundant Force Routines (#1191)
  src/classes/CMakeLists.txt
  src/classes/energykernel.h
  src/classes/forcekernel.cpp
  src/classes/forcekernel.h
  src/classes/kernelflags.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix IntraShake (#1185)
  src/modules/intrashake/intrashake.cpp
  src/modules/intrashake/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix Add Nodes (#1186)
  src/procedure/nodes/add.cpp
  src/procedure/nodes/addpair.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add option to save original g(r).
  src/modules/rdf/process.cpp
  src/modules/rdf/rdf.cpp
  src/modules/rdf/rdf.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't store legacy data in map.
  src/genericitems/list.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  flake.nix
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

Refactor vector keywords (#1172)
  src/gui/keywordwidgets/atomtypevector.h
  src/gui/keywordwidgets/atomtypevector_funcs.cpp
  src/gui/keywordwidgets/configurationvector.h
  src/gui/keywordwidgets/configurationvector_funcs.cpp
  src/gui/keywordwidgets/dropdown.h
  src/gui/keywordwidgets/dropdown_funcs.cpp
  src/gui/keywordwidgets/function1d.h
  src/gui/keywordwidgets/function1d_funcs.cpp
  src/gui/keywordwidgets/isotopologueset.h
  src/gui/keywordwidgets/isotopologueset_funcs.cpp
  src/gui/keywordwidgets/modulevector.h
  src/gui/keywordwidgets/modulevector_funcs.cpp
  src/gui/keywordwidgets/nodevector.h
  src/gui/keywordwidgets/nodevector_funcs.cpp
  src/gui/keywordwidgets/species.h
  src/gui/keywordwidgets/species_funcs.cpp
  src/gui/keywordwidgets/speciessite.h
  src/gui/keywordwidgets/speciessite_funcs.cpp
  src/gui/keywordwidgets/speciessitevector.h
  src/gui/keywordwidgets/speciessitevector_funcs.cpp
  src/gui/keywordwidgets/speciesvector.h
  src/gui/keywordwidgets/speciesvector_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Simplify error return.
  src/io/import/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix element detection for strings with appended integers.
  src/data/elements.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Capture error.
  src/data/spacegroups.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Detect elements from site types if site symbol not present.
  src/io/import/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
