Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

feat: Better unit testing with specific TestNode (#2175)
  src/nodes/edge.cpp
  src/nodes/node.h
  src/nodes/parameter.h
  src/nodes/test.cpp
  src/nodes/test.h
  tests/nodes/CMakeLists.txt
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

feat: Optional pointer parameter (#2174)
  src/nodes/edge.cpp
  src/nodes/node.h
  src/nodes/parameter.h
  src/nodes/test.cpp
  src/nodes/test.h
  tests/nodes/CMakeLists.txt
  tests/nodes/parameters.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Fix target OS version for OSX dependent libs (#2176)
  .github/workflows/_build_and_package.yml
  .github/workflows/_checkout.yml
  .github/workflows/build/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/pr.yml
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

doc: Update docs. (#2177)
  web/docs/_index.md
  web/docs/userguide/get/packages.md
  web/main/_index.html
  web/main/packages.md
Due: none

feat: SQ Node (#2170)
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/math/windowFunction.cpp
  src/math/windowFunction.h
  src/nodes/gr/gr.cpp
  src/nodes/gr/gr.h
  src/nodes/gr/helpers.cpp
  src/nodes/gr/process.cpp
  src/nodes/md/md.h
  src/nodes/md/process.cpp
  src/nodes/sq/helpers.cpp
  src/nodes/sq/process.cpp
  src/nodes/sq/sq.cpp
  src/nodes/sq/sq.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use artifacts for Windows and OSX Qt.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/package/osx/action.yml
  .github/workflows/package/windows/action.yml
Due: .azure-pipelines/pr.yml

Fix release pipeline (maybe).
  .github/workflows/detect_release.yml
Due: .azure-pipelines/pr.yml

Get the paths right.
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Now the names.
  .github/workflows/build/windows/action.yml
  .github/workflows/package/osx/action.yml
  .github/workflows/package/windows/action.yml
Due: .azure-pipelines/pr.yml

Permissions on macdeployqt.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

All binaries.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

Why, mac, why?
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

More executables.
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

neutron sq part 1
  src/data/structureFactors.cpp
  src/data/structureFactors.h
  src/nodes/gr/gr.cpp
  src/nodes/gr/gr.h
  src/nodes/gr/process.cpp
  src/nodes/neutronSQ/helpers.cpp
  src/nodes/neutronSQ/neutronSQ.cpp
  src/nodes/neutronSQ/neutronSQ.h
  src/nodes/neutronSQ/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Fix bad syntax in release pipeline. (#2181)
  .github/workflows/detect_release.yml
Due: .azure-pipelines/pr.yml

build: Use artifacts for Windows and OSX Qt (#2180)
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/package/osx/action.yml
  .github/workflows/package/windows/action.yml
  CMakeLists.txt
  ChangeLog.md
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Revert unwanted version change in code.
  CMakeLists.txt
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

chore: Revert unwanted version change in code. (#2183)
  CMakeLists.txt
  flake.nix
  src/main/version.cpp
  web/main.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

construct window function outside args
  src/nodes/neutronSQ/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

no reference members in FileAndFormat, helper nodes for passing around objects
  src/classes/isotopologueSet.h
  src/gui/keywordWidgets/fileAndFormat.cpp
  src/io/fileAndFormat.cpp
  src/io/fileAndFormat.h
  src/io/import/data1D.cpp
  src/io/import/data1D.h
  src/nodes/data1DImportFileFormat.cpp
  src/nodes/data1DImportFileFormat.h
  src/nodes/isotopologue.cpp
  src/nodes/isotopologue.h
  src/nodes/neutronSQ/neutronSQ.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

emplace data 1d import object
  src/nodes/data1DImportFileFormat.cpp
  src/nodes/data1DImportFileFormat.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

reformat
  src/modules/neutronSQ/process.cpp
  src/modules/xRaySQ/process.cpp
  src/nodes/neutronSQ/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
