Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

remove unused filename
  src/nodes/neutronSQ/neutronSQ.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor: Argon nodes testing (#2215)
  .github/workflows/_build_and_package.yml
  develop.ps1
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/classes/potentialMap.cpp
  src/classes/potentialMap.h
  src/classes/species.h
  src/classes/species_atomic.cpp
  src/io/import/data1D.cpp
  src/kernels/base.h
  src/kernels/energy.cpp
  src/kernels/energy.h
  src/main/dissolve.h
  src/main/pairPotentials.cpp
  src/math/history.h
  src/nodes/atomicMC/atomicMC.cpp
  src/nodes/atomicMC/process.cpp
  src/nodes/atomicSpecies.cpp
  src/nodes/configuration.cpp
  src/nodes/dissolve.cpp
  src/nodes/dissolve.h
  src/nodes/energy/energy.cpp
  src/nodes/energy/process.cpp
  src/nodes/gr/helpers.cpp
  src/nodes/gr/process.cpp
  src/nodes/insert.cpp
  src/nodes/insert.h
  src/nodes/md/md.cpp
  src/nodes/md/process.cpp
  src/nodes/neutronSQ/helpers.cpp
  src/nodes/neutronSQ/neutronSQ.h
  src/nodes/neutronSQ/process.cpp
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/sq/process.cpp
  src/nodes/sq/sq.cpp
  src/nodes/sq/sq.h
  tests/nodes/graph_argon.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Derive SampledDouble from Serialisable, but pause for a second to tidy some other things.
  src/math/sampledDouble.cpp
  src/math/sampledDouble.h
  src/nodes/node.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Let's be consistent and call it Serialisation rather than I/O.
  src/classes/atomType.h
  src/classes/box.h
  src/classes/configuration.h
  src/classes/dataSource.h
  src/classes/pairPotential.cpp
  src/classes/pairPotential.h
  src/classes/pairPotentialOverride.cpp
  src/classes/pairPotentialOverride.h
  src/generator/nodeValue.h
  src/generator/parameters.cpp
  src/generator/parameters.h
  src/main/dissolve.h
  src/math/sampledDouble.h
  src/math/vector3.cpp
  src/math/vector3.h
  src/math/vector3i.cpp
  src/math/vector3i.h
  src/nodes/edge.cpp
  src/nodes/edge.h
  src/nodes/graph.cpp
  src/nodes/graph.h
  src/nodes/inputs.cpp
  src/nodes/inputs.h
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/outputs.cpp
  src/nodes/outputs.h
  src/nodes/parameter.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Sketch out basic functions, add node timing_.
  src/nodes/node.cpp
  src/nodes/node.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Start thinking about a more general way.
  src/nodes/gr/gr.cpp
  src/nodes/node.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Serialisation of SampledDouble.
  src/math/sampledDouble.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Persistent data serialisation for AtomicMC.
  src/nodes/atomicMC/atomicMC.h
  src/nodes/atomicMC/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Was working, now not.
  src/nodes/atomicMC/process.cpp
  src/nodes/gr/gr.cpp
  src/nodes/node.cpp
  src/nodes/node.h
  src/nodes/serialisableData.h
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

And we're back.
  src/nodes/gr/gr.cpp
  src/nodes/node.h
  src/nodes/serialisableData.h
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Little rename, use the functions.
  src/nodes/node.cpp
  src/nodes/node.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add missing ctor.
  src/nodes/serialisableData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Redo serialisation from AtomicMC.
  src/nodes/atomicMC/atomicMC.cpp
  src/nodes/atomicMC/atomicMC.h
  src/nodes/atomicMC/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Start on GR.
  src/nodes/gr/gr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Partial addition of toml serialisation to dependent classes of PartialSet, but pause for a problem.
  src/classes/partialSet.cpp
  src/classes/partialSet.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix: Data limits used in potential generation (#2236)
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Triangular, not half.
  src/classes/histogramSet.cpp
  src/classes/histogramSet.h
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/math/gj.cpp
  src/templates/algorithms.h
  src/templates/array2D.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update compilation.md.
  web/docs/userguide/get/compilation.md
Due: none

Add action to free up space on Linux, run on QC step.
  .github/workflows/build/linux/action.yml
  .github/workflows/linux-free-up-space/action.yml
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Remove msvcVersion parameter, don't downgrade on Windows.
  .github/workflows/_build_and_package.yml
  .github/workflows/_checkout.yml
  .github/workflows/build/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/cacheConan.yml
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/legacy.yml
  .github/workflows/pr.yml
  .github/workflows/recreate_release.yml
Due: .azure-pipelines/pr.yml

build: Don't downgrade MSVC (#2246)
  .github/workflows/_build_and_package.yml
  .github/workflows/_checkout.yml
  .github/workflows/build/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/cacheConan.yml
  .github/workflows/continuous.yml
  .github/workflows/detect_release.yml
  .github/workflows/legacy.yml
  .github/workflows/pr.yml
  .github/workflows/recreate_release.yml
Due: .azure-pipelines/pr.yml

no downgrade msvc
  .github/workflows/msvc.yml
  develop.ps1
Due: .azure-pipelines/pr.yml

build debug
  .github/workflows/msvc.yml
  develop.ps1
Due: .azure-pipelines/pr.yml

update files
  .gitignore
  develop.ps1
Due: .azure-pipelines/pr.yml

slashes
  .github/workflows/msvc.yml
Due: .azure-pipelines/pr.yml

conan option
  develop.ps1
Due: .azure-pipelines/pr.yml

conan hpme
  .github/workflows/msvc.yml
  develop.ps1
Due: .azure-pipelines/pr.yml
