Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build and Package
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux
      displayName: Ubuntu, Threads, CLI/GUI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-18.04
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Support direnv
  .envrc
  flake.nix
Due: .azure-pipelines/pr.yml

Build with and without conan
  CMakeLists.txt
  flake.nix
  src/base/CMakeLists.txt
  src/gui/models/CMakeLists.txt
  src/main/CMakeLists.txt
  src/procedure/CMakeLists.txt
  unit/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

No dash in azure parameters?
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix cmake formatting
  CMakeLists.txt
  unit/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for f7d78ab48390d412a3980fce13452455fbc9be75
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

variable name clarity
  src/templates/arrayIndex2d.h
  src/templates/arrayIndex3d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

adding array index unit test
  unit/algorithms/arrayIteration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Generate NETA from atom connectivity.
  src/neta/neta.cpp
  src/neta/neta.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add context menu.
  src/gui/speciesviewer.hui
  src/gui/speciesviewer_input.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Return shared_ptr from AtomTypeModel.
  src/gui/importspeciesdialog_funcs.cpp
  src/gui/keywordwidgets/atomtypevector_funcs.cpp
  src/gui/models/atomTypeModel.cpp
  src/gui/models/atomTypeModel.h
  src/keywords/atomtypevector.cpp
  src/keywords/atomtypevector.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add widget/dialog for selecting atom type.
  src/classes/species.h
  src/classes/species_atomic.cpp
  src/gui/CMakeLists.txt
  src/gui/selectatomtypedialog.h
  src/gui/selectatomtypedialog.ui
  src/gui/selectatomtypedialog_funcs.cpp
  src/gui/selectatomtypewidget.h
  src/gui/selectatomtypewidget.ui
  src/gui/selectatomtypewidget_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove const qualifier from SpeciesAtoms in selection vector.
  src/classes/empiricalformula.cpp
  src/classes/empiricalformula.h
  src/classes/species.h
  src/classes/species_atomic.cpp
  src/classes/speciesintra.cpp
  src/classes/speciesintra.h
  src/classes/speciessite.cpp
  src/classes/speciessite.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add atom type filter proxy for model.
  src/gui/models/CMakeLists.txt
  src/gui/models/atomTypeFilterProxy.cpp
  src/gui/models/atomTypeFilterProxy.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add menu item and tidy.
  src/gui/gui.h
  src/gui/gui.ui
  src/gui/gui_funcs.cpp
  src/gui/menu_species.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Return vector of involved atoms.
  src/classes/speciesangle.cpp
  src/classes/speciesangle.h
  src/classes/speciesbond.cpp
  src/classes/speciesbond.h
  src/classes/speciesimproper.cpp
  src/classes/speciesimproper.h
  src/classes/speciesintra.cpp
  src/classes/speciesintra.h
  src/classes/speciestorsion.cpp
  src/classes/speciestorsion.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add copy species terms dialog and menu option.
  src/gui/CMakeLists.txt
  src/gui/copyspeciestermsdialog.h
  src/gui/copyspeciestermsdialog.ui
  src/gui/copyspeciestermsdialog_funcs.cpp
  src/gui/gui.h
  src/gui/gui.ui
  src/gui/gui_funcs.cpp
  src/gui/menu_species.cpp
  src/gui/selectspeciesdialog_funcs.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Return atom index for horizontal header.
  src/gui/models/speciesAtomModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Constify storage of MasterParameters pointer.
  src/classes/speciesintra.cpp
  src/classes/speciesintra.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update unit test.
  unit/classes/neta.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Support OpenGL through software rendering on docker
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

Return shared_ptr from AtomTypeModel.
  src/classes/atomtypemix.cpp
  src/classes/atomtypemix.h
  src/classes/neutronweights.cpp
  src/classes/neutronweights.h
  src/gui/importspeciesdialog_funcs.cpp
  src/gui/keywordwidgets/atomtypevector_funcs.cpp
  src/gui/models/atomTypeModel.cpp
  src/gui/models/atomTypeModel.h
  src/keywords/atomtypevector.cpp
  src/keywords/atomtypevector.h
  src/modules/neutronsq/process.cpp
  src/procedure/nodes/dynamicsite.cpp
  src/procedure/nodes/dynamicsite.h
  unit/classes/neutronweights.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix calculation of deltaTSq.
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release notes.
  ReleaseNotes.md
Due: .azure-pipelines/pr.yml

Bump version.
  CMakeLists.txt
  README.md
  ci/windows/dissolve-gui.iss
  src/main/version.cpp
  web/config.toml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update README.md
  README.md
Due: none

NETA Strings (#834)
  src/neta/neta.cpp
  src/neta/neta.h
  unit/classes/neta.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for bec71b7d91e54278b77587d733e83af005134e0f
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for ce71343c520a45704c3556ea8252831cb7592982
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

(Release Automation) Update version info.
  README.md
  web/config.toml
  web/static/include/old_releases.md
Due: none

add Benchmark (googlecpp) benchmark result for a6a42af652a1c2510cd2f2e654f35c8c728dca9f
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

Update to nix 2.4
  .azure-pipelines/templates/build-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

AtomType Model Upgrade (#835)
  src/classes/atomtypemix.cpp
  src/classes/atomtypemix.h
  src/classes/neutronweights.cpp
  src/classes/neutronweights.h
  src/gui/importspeciesdialog_funcs.cpp
  src/gui/keywordwidgets/atomtypevector_funcs.cpp
  src/gui/models/CMakeLists.txt
  src/gui/models/atomTypeFilterProxy.cpp
  src/gui/models/atomTypeFilterProxy.h
  src/gui/models/atomTypeModel.cpp
  src/gui/models/atomTypeModel.h
  src/keywords/atomtypevector.cpp
  src/keywords/atomtypevector.h
  src/modules/neutronsq/process.cpp
  src/procedure/nodes/dynamicsite.cpp
  src/procedure/nodes/dynamicsite.h
  unit/classes/neutronweights.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

add Benchmark (googlecpp) benchmark result for b3bc16b9b8f2b6abe549c2d7f4c601619b9ce303
  dev/bench/data.js
Due: .azure-pipelines/pr.yml

fixing logical errors and expanded testing
  src/templates/arrayIndex2d.h
  src/templates/arrayIndex3d.h
  unit/algorithms/CMakeLists.txt
  unit/algorithms/arrayIteration.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reformat flake
  flake.nix
  tests/epsr/H2Ox-weighted-total.gr.broad
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update continuous build
  .azure-pipelines/continuous.yml
Due: .azure-pipelines/continuous.yml

Update releases to use Nix
  .azure-pipelines/release.yml
  .azure-pipelines/templates/package-linux.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update release creator
  .azure-pipelines/templates/create-release.yml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, but not: *
