Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Correctness testing with TOML (#1682)
  src/classes/serializablePairPotential.cpp
  src/classes/serializablePairPotential.h
  src/main/dissolve.cpp
  src/main/io.cpp
  tests/modules/epsr.cpp
  tests/modules/siteRDF.cpp
  tests/testData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Store TOML top types as list
  src/classes/atomType.cpp
  src/classes/serializablePairPotential.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Mark EPSR tests as passing
  tests/modules/epsr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename test CIF file.
  tests/data/cif/Bisphen_n_arenes_1517789.cif
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Check angles in testBox().
  tests/io/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

EPSR Prune AtomTypes mk2 (#1684)
  src/classes/scatteringMatrix.cpp
  src/classes/scatteringMatrix.h
  src/modules/epsr/epsr.h
  src/modules/epsr/functions.cpp
  src/modules/epsr/gui/epsrWidgetFuncs.cpp
  src/modules/epsr/process.cpp
  tests/modules/epsr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

changed Torsion and Improper names
  src/modules/energy/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Formatting.
  tests/io/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Reassemble molecule copies.
  src/io/import/cif.cpp
  src/io/import/cif.h
  tests/io/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Deserialise CoreData even when there are no Master terms
  src/classes/coreData.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Better solution to Master table issue
  src/classes/coreData.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix Add Forcefield Dialog (#1692)
  src/classes/coreData.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Creating action for apple silicon
  .github/workflows/build/osx/action.yml
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Creating action for apple silicon
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

updated to Dockerfile - try not using shell script
  .gitignore
  Dockerfile
Due: .azure-pipelines/pr.yml

use setup script and create .envrc
  Dockerfile
  scripts/setup.sh
Due: .azure-pipelines/pr.yml

removed setup script, ot be replaced with unix formatted script
  scripts/setup.sh
Due: none

updated docs
  web/docs/userguide/developers/docker.md
Due: none

Add package to actions
  .github/workflows/package/action.yml
Due: .azure-pipelines/pr.yml

Add build to actions
  .github/workflows/build/action.yml
  .github/workflows/package/action.yml
Due: .azure-pipelines/pr.yml

Targeting m1 chip
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Removed actions for testing
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Removed actions for testing
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

recreated scripts/setup.sh
  Dockerfile
  scripts/setup.sh
Due: .azure-pipelines/pr.yml

Specifying arch
  .github/workflows/build/action.yml
Due: .azure-pipelines/pr.yml

Avoid using large runner
  .github/workflows/build/action.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Remove automatic architecture setting, instead change it to default.
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Forgot endif
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Formatting
  CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Changed arch to armv8
  .github/workflows/build/action.yml
  .github/workflows/build/osx-silicon/action.yml
Due: .azure-pipelines/pr.yml

Energy module output graph misses torsions / impropers (#1691)
  src/modules/energy/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

preserve UNIX formatting for file eol
  .gitattributes
Due: .azure-pipelines/pr.yml

Reorganise CIF Import GUI, Molecular Supercell Generation & Configuration Outputs (#1679)
  src/gui/importCIFDialog.h
  src/gui/importCIFDialog.ui
  src/gui/importCIFDialogFuncs.cpp
  src/io/import/cif.cpp
  src/io/import/cif.h
  src/io/import/cifClasses.cpp
  src/io/import/cifClasses.h
  tests/data/cif/Bisphen_n_arenes_1517789.cif
  tests/io/cif.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Using matrix strategy and env
  .github/workflows/build/action.yml
  .github/workflows/pr.yml
Due: .azure-pipelines/pr.yml

Fixing workflow file
  .github/workflows/build/action.yml
Due: .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
