Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Tidy some functions up, fix calculation of intramolecular weighting indices for NeutronSQ.
  src/classes/atomTypeMix.cpp
  src/classes/atomTypeMix.h
  src/classes/neutronWeights.cpp
  src/classes/partialSet.cpp
  src/modules/gr/functions.cpp
  src/modules/sq/process.cpp
  tests/workflows/phantomAtoms.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Make EPSR25 xray test input consistent with pure neutron one.
  tests/data/epsr25/water1000-neutron-xray/FQ.delfit
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.d01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.erg
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.f01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.g01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.inpa
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.l01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.p01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.q01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.r01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.s01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.t01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.terg
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.u01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.v01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.w01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.x01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.y01
  tests/data/epsr25/water1000-neutron-xray/water.EPSR.z01
  tests/data/epsr25/water1000-neutron-xray/waterbox.ato
  tests/data/epsr25/water1000-neutron-xray/waterbox.pcof
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tidy and fix.
  src/classes/configuration_contents.cpp
  src/classes/speciesAtom.cpp
  src/classes/speciesAtom.h
  src/classes/species_atomic.cpp
  src/io/export/species.cpp
  tests/data/dissolve/input/water-with-phantom-atoms.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use SpeciesAtom-centric presence enum, rename to phantom atoms.
  src/classes/atom.cpp
  src/classes/atom.h
  src/classes/atomType.h
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/classes/species.h
  src/classes/speciesAtom.cpp
  src/classes/speciesAtom.h
  src/classes/species_atomic.cpp
  src/data/atomicMasses.cpp
  src/data/atomicRadii.cpp
  src/data/elements.cpp
  src/data/elements.h
  src/data/isotopes.cpp
  src/data/isotopes.h
  src/io/export/species.cpp
  src/modules/bragg/functions.cpp
  src/modules/gr/functions.cpp
  tests/data/dissolve/input/water-with-phantom-atoms.txt
  tests/data/dissolve/input/water-with-phantom-atoms.xyz
  tests/testData.h
  tests/workflows/CMakeLists.txt
  tests/workflows/phantomAtoms.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path to test coordinates.
  tests/data/dissolve/input/water-with-phantom-atoms.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Tidy some comments.
  src/classes/speciesAtom.cpp
  src/generator/add.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Make XRayWeights aware of phantom atoms, update tests.
  src/classes/xRayWeights.cpp
  tests/data/dissolve/input/water-with-phantom-atoms.txt
  tests/modules/xRaySQ.cpp
  tests/workflows/phantomAtoms.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move Hugo version to setup action and bump to latest version.
  .github/workflows/setup/action.yml
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

Update gitignore.
  web/.gitignore
Due: none

Update Docsy version.
  web/go.mod
  web/go.sum
Due: none

Remove some (breaking) chaff from our partial head override.
  web/layouts/partials/head.html
Due: none

Add RB to authors.
  web/docs/_index.md
Due: none

Put links for other doc versions in tips, and stop using shortcodes because they are maddeningly inflexible.
  .github/workflows/website/action.yml
  web/docs.toml
  web/docs/_index.md
  web/layouts/shortcodes/documentationinfo.html
Due: .azure-pipelines/pr.yml

Apply suggestions from code review
  src/classes/atomTypeMix.cpp
  src/classes/configuration_contents.cpp
  src/classes/neutronWeights.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Format.
  src/classes/configuration_contents.cpp
  src/classes/neutronWeights.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

code review and half_
  src/classes/partialSet.cpp
  src/classes/partialSet.h
  src/modules/tr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Enable naming of nodes
  src/gui-qml/qml/NodeBox.qml
  src/gui/models/nodeGraph/graphModel.h
  src/gui/models/nodeGraph/graphNodeModel.h
  src/gui/models/nodeGraph/nodeWrapper.cpp
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Finish decoupling GraphModel from specific type implementation
  src/gui-qml/qml/DissolveMain.qml
  src/gui/models/nodeGraph/CMakeLists.txt
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/exampleGraphModel.h
  src/gui/models/nodeGraph/graphModel.h
  src/gui/models/nodeGraph/nodeWrapper.cpp
  src/gui/models/nodeGraph/nodeWrapper.h
  src/gui/models/types.cpp
  tests/gui/graphModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Don't allow invalid node numbers
  src/gui-qml/qml/DissolveMain.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix stupid javascript falsity issue in GUI
  src/gui-qml/qml/GraphView.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Allow pluggable delegates in the graph view
  CMakeLists.txt
  src/gui-qml/qml/DissolveMain.qml
  src/gui-qml/qml/ExampleDelegate.qml
  src/gui-qml/qml/GraphView.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move overload visitor into its own file
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/exampleGraphModel.h
  src/gui/models/nodeGraph/graphModel.h
  src/templates/overload_visitor.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Customize node model handling per type
  src/gui-qml/qml/DissolveMain.qml
  src/gui-qml/qml/ExampleDelegate.qml
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/graphNodeModel.h
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move boiler plate back into graphNodeModel
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/graphNodeModel.h
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix naming for Hugo package.
  .github/workflows/website/action.yml
Due: .azure-pipelines/pr.yml

doc: Highlight links to other doc versions (#1983)
  .github/workflows/setup/action.yml
  .github/workflows/website/action.yml
  web/.gitignore
  web/docs.toml
  web/docs/_index.md
  web/go.mod
  web/go.sum
  web/layouts/partials/head.html
  web/layouts/shortcodes/documentationinfo.html
Due: .azure-pipelines/pr.yml

Unwrap nodes before processing
  src/gui/models/nodeGraph/exampleGraphModel.cpp
  src/gui/models/nodeGraph/graphNodeModel.h
  src/gui/models/nodeGraph/nodeWrapper.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

State making graph of genuine generator parts
  CMakeLists.txt
  src/gui-qml/qml/DissolveMain.qml
  src/gui-qml/qml/GeneratorDelegate.qml
  src/gui/models/nodeGraph/CMakeLists.txt
  src/gui/models/nodeGraph/generatorGraphModel.cpp
  src/gui/models/nodeGraph/generatorGraphModel.h
  src/gui/models/types.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Try and actually display node
  src/gui-qml/qml/GeneratorDelegate.qml
  src/gui/models/nodeGraph/generatorGraphModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Load file in new GUI
  src/dissolve-gui-qml.cpp
  src/gui-qml/qml/DissolveMain.qml
  src/gui/models/dissolveModel.cpp
  src/gui/models/dissolveModel.h
  src/gui/models/nodeGraph/generatorGraphModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Only connect to Configuration Model for now
  src/gui-qml/qml/DissolveMain.qml
  src/gui/models/nodeGraph/generatorGraphModel.cpp
  src/gui/models/nodeGraph/generatorGraphModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Display configuration info in nodes
  src/gui-qml/qml/DissolveMain.qml
  src/gui-qml/qml/GeneratorDelegate.qml
  src/gui/models/configurationModel.h
  src/gui/models/dissolveModel.cpp
  src/gui/models/nodeGraph/generatorGraphModel.cpp
  src/gui/models/nodeGraph/generatorGraphModel.h
  src/gui/models/nodeGraph/graphModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Clarify function/argument meaning, fix for_each_pair_early() range-based.
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix typo.
  src/templates/algorithms.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix name of icon for sizr factor and use labels rather than disabled tool buttons in configuration tab.
  src/gui/configurationTab.ui
  src/gui/icons/nodes/SizeFactor.svg
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Zero difference function outside of original reference data ranges.
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove code duplication and reimplement benchmark.
  benchmark/math/interpolator.cpp
  src/math/interpolator.cpp
  src/math/interpolator.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix typo.
  src/math/interpolator.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
