Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *

Remove comments referring to defunct SingleImage type.
  src/classes/box.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Simplify Box construction and creation in dependent classes.
  src/classes/box.cpp
  src/classes/box.h
  src/classes/configuration.cpp
  src/classes/configuration.h
  src/classes/configuration_box.cpp
  src/classes/species.cpp
  src/classes/species.h
  src/classes/species_intra.cpp
  src/classes/structure.cpp
  src/classes/structure.h
  src/nodes/cif/importCIFStructure.cpp
  src/nodes/detectMolecules.cpp
  src/nodes/importDLPOLYStructure.cpp
  src/nodes/importEPSRAtoStructure.cpp
  src/nodes/importMoscitoStructure.cpp
  src/nodes/setBox.cpp
  src/nodes/supercellConfiguration.cpp
  tests/classes/cells2.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix benchmarks.
  benchmark/classes/box.cpp
Due: .azure-pipelines/pr.yml

Update unit tests.
  tests/classes/box.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unused periodicity_ flag aarray.
  src/classes/box.cpp
  src/classes/box.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove unnecessary includes and fwd decls.
  src/classes/box.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor: InsertRandomNode (#2564)
  benchmark/common/problems.h
  src/classes/configuration.h
  src/classes/configuration_contents.cpp
  src/gui/addConfigurationDialog.cpp
  src/gui/qml/nodeGraph/GraphView.qml
  src/nodes/insert.cpp
  src/nodes/insert.h
  src/nodes/insertRandom.cpp
  src/nodes/insertRandom.h
  src/nodes/registry.cpp
  tests/generator/rotateFragment.cpp
  tests/nodes/cif.cpp
  tests/testGraph.cpp
  tests/testGraph.h
  tests/testing.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

refactor: Simplify box creation (#2567)
  benchmark/classes/box.cpp
  src/classes/box.cpp
  src/classes/box.h
  src/classes/configuration.cpp
  src/classes/configuration.h
  src/classes/configuration_box.cpp
  src/classes/species.cpp
  src/classes/species.h
  src/classes/species_intra.cpp
  src/classes/structure.cpp
  src/classes/structure.h
  src/nodes/cif/importCIFStructure.cpp
  src/nodes/detectMolecules.cpp
  src/nodes/importDLPOLYStructure.cpp
  src/nodes/importEPSRAtoStructure.cpp
  src/nodes/importMoscitoStructure.cpp
  src/nodes/setBox.cpp
  src/nodes/supercellConfiguration.cpp
  tests/classes/box.cpp
  tests/classes/cells2.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Temporarily disable Windows and Mac builds until aqt is available again
  .github/workflows/_build_and_package.yml
Due: .azure-pipelines/pr.yml

Remove old nix modules that we no longer need
  nix/qt/default.nix
  nix/qt/fetch.sh
  nix/qt/hooks/fix-qmake-libtool.sh
  nix/qt/hooks/fix-qt-builtin-paths.sh
  nix/qt/hooks/fix-qt-module-paths.sh
  nix/qt/hooks/move-qt-dev-tools.sh
  nix/qt/hooks/qmake-hook.sh
  nix/qt/hooks/qtbase-setup-hook.sh
  nix/qt/hooks/wrap-qt-apps-hook.sh
  nix/qt/modules/qt3d.nix
  nix/qt/modules/qt5compat.nix
  nix/qt/modules/qtbase.nix
  nix/qt/modules/qtdeclarative.nix
  nix/qt/modules/qtquick3d.nix
  nix/qt/modules/qtshadertools.nix
  nix/qt/modules/qtsvg.nix
  nix/qt/modules/qttools.nix
  nix/qt/modules/qtwayland.nix
  nix/qt/patches/cmake.patch
  nix/qt/patches/qtbase-qmake-pkg-config.patch
  nix/qt/patches/qtbase-tzdir.patch
  nix/qt/patches/qtdeclarative-default-disable-qmlcache.patch
  nix/qt/patches/qttools-paths.patch
  nix/qt/qt-env.nix
  nix/qt/qtModule.nix
  nix/qt/srcs.nix
  nix/weggli.nix
Due: .azure-pipelines/pr.yml

node registry model
  src/dissolve2-gui.cpp
  src/gui2/models/CMakeLists.txt
  src/gui2/models/nodeGraph/nodeRegistryModel.cpp
  src/gui2/models/nodeGraph/nodeRegistryModel.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

node search dialog + fixup nodes
  CMakeLists.txt
  src/gui2/CMakeLists.txt
  src/gui2/models/CMakeLists.txt
  src/gui2/models/nodeGraph/graphModel.cpp
  src/gui2/models/nodeGraph/nodeRegistryModel.cpp
  src/gui2/models/nodeGraph/nodeRegistryModel.h
  src/gui2/models/nodeGraph/nodeRegistrySortFilterModel.cpp
  src/gui2/models/nodeGraph/nodeRegistrySortFilterModel.h
  src/gui2/models/types.cpp
  src/gui2/qml/DissolveMain.qml
  src/gui2/qml/nodeGraph/GraphDelegate.qml
  src/gui2/qml/nodeGraph/GraphView.qml
  src/gui2/qml/nodeGraph/NodeBox.qml
  src/gui2/qml/nodeRegistry/CMakeLists.txt
  src/gui2/qml/nodeRegistry/NodeDisplayDelegate.qml
  src/gui2/qml/nodeRegistry/NodeSearchDialog.qml
  src/nodes/clearBonding.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

flatter gui models dir structure
  src/dissolve2-gui.cpp
  src/gui2/models/CMakeLists.txt
  src/gui2/models/enumOptionsModel.cpp
  src/gui2/models/enumOptionsModel.h
  src/gui2/models/enumRegistry.cpp
  src/gui2/models/enumRegistry.h
  src/gui2/models/graphEdgeModel.cpp
  src/gui2/models/graphEdgeModel.h
  src/gui2/models/graphModel.cpp
  src/gui2/models/graphModel.h
  src/gui2/models/graphNodeModel.cpp
  src/gui2/models/graphNodeModel.h
  src/gui2/models/legacy/simpleForcefieldModel.h
  src/gui2/models/legacy/speciesModel.cpp
  src/gui2/models/legacy/speciesModel.h
  src/gui2/models/legacy/types.cpp
  src/gui2/models/nodeRegistryModel.cpp
  src/gui2/models/nodeRegistryModel.h
  src/gui2/models/nodeRegistrySortFilterModel.cpp
  src/gui2/models/nodeRegistrySortFilterModel.h
  src/gui2/models/nodeWrapper.h
  src/gui2/models/parameterModel.cpp
  src/gui2/models/parameterModel.h
  src/gui2/models/types.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

change var name
  src/gui2/qml/nodeGraph/GraphDelegate.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

rename var
  src/gui2/qml/DissolveMain.qml
  src/gui2/qml/nodeGraph/GraphDelegate.qml
  src/gui2/qml/nodeGraph/GraphView.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Set data in scattering matrix by explicitly-provided tag, rather than relying on any (potentially empty) tag in the data.
  src/classes/scatteringMatrix.cpp
  src/classes/scatteringMatrix.h
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

fix: Scattering matrix data was not correctly updated (#2571)
  src/classes/scatteringMatrix.cpp
  src/classes/scatteringMatrix.h
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Brew install cmake3.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Pin windows-2022.
  .github/workflows/_build_and_package.yml
Due: .azure-pipelines/pr.yml

Try mirror for savannah.
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Try an action.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Do it the long way.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

build: Fix Windows and OSX CI builds (#2572)
  .github/workflows/_build_and_package.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

doc: Minor web updates jan 2026 (#2293)
  examples/water/input.txt
  web/docs/examples/argon/step2.md
  web/docs/examples/benzene/step2.md
  web/docs/examples/benzene/step6.md
  web/docs/examples/benzene/step7.md
  web/docs/examples/water/step9a.md
  web/docs/examples/water/step9c.md
  web/main/packages.md
Due: none

build: OSX packaging fixes (#2291)
  .github/workflows/build/osx/action.yml
  .github/workflows/package/osx/action.yml
Due: .azure-pipelines/pr.yml

fix: Consistent representative F(r) (#2303)
  src/modules/epsr/gui/epsrWidgetFuncs.cpp
  src/modules/epsr/process.cpp
  src/modules/neutronSQ/process.cpp
  src/modules/xRaySQ/process.cpp
  tests/modules/epsr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Add missing OSX vars to recreate_release (#2283)
  .github/workflows/recreate_release.yml
Due: .azure-pipelines/pr.yml

docs: Don't encourage supply chain attacks (#2552)
  web/layouts/partials/mathjax.html
Due: none

build: Conan windows aqt hwloc (#2317)
  .github/workflows/build/windows/action.yml
  CMakeLists.txt
  conanfile.py
  develop.ps1
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

build: Remove conan_provider.cmake on Visual Studio 2022 clean (#2295)
  develop.ps1
Due: .azure-pipelines/pr.yml

Get a bunch more compile working
  src/base/serialiser.h
  src/classes/atom.h
  src/classes/atomType.cpp
  src/classes/braggReflection.cpp
  src/classes/isotopologueSet.cpp
  src/classes/pairPotential.cpp
  src/classes/pairPotentialOverride.cpp
  src/classes/partialSet.cpp
  src/classes/species.cpp
  src/classes/speciesAtom.cpp
  src/classes/speciesIntra.h
  src/classes/speciesSite.cpp
  src/classes/speciesSites.cpp
  src/classes/speciesTorsion.cpp
  src/classes/structure.cpp
  src/expression/variable.cpp
  src/main/io.cpp
  src/math/data1D.cpp
  src/math/data2D.cpp
  src/math/data3D.cpp
  src/math/function1D.cpp
  src/math/histogram1D.cpp
  src/math/histogram2D.cpp
  src/math/histogram3D.cpp
  src/math/history.h
  src/math/integerHistogram1D.cpp
  src/nodes/parameter.h
  src/nodes/serialisableData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Get atom.h to compile serialisation
  src/base/serialiser.h
  src/classes/atom.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Create serialiser and deserialisers for base types
  src/base/CMakeLists.txt
  src/base/serialiser.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

More minor fixes
  src/base/serialiser.h
  src/classes/braggReflection.cpp
  src/classes/species.cpp
  src/classes/speciesSite.cpp
  src/classes/structure.cpp
  src/main.cpp
  src/main/io.cpp
  src/math/function1D.cpp
  src/math/history.h
  src/nodes/dissolve.cpp
  src/nodes/epsrHelpers.cpp
  src/nodes/graph.cpp
  src/nodes/node.cpp
  src/nodes/parameter.h
  src/nodes/serialisableData.h
  tests/nodes/graph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix some type issues with SerialisableClass
  src/nodes/node.h
  src/nodes/parameter.h
  src/nodes/serialisableData.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml
