Repository disorderedmaterials/dissolve: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml, .azure-pipelines/web.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: osx
      displayName: OSX, Threads, CLI/GUI
      timeoutInMinutes: 120
      pool:
        vmImage: macOS-10.15
      steps:
      - checkout: self
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - template: templates/build-linux-releases.yml
    - job: test_linux_mpi
      displayName: Testing MPI, CLI
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
  ...

.azure-pipelines/web.yml:
  stages:
  - stage: web
    displayName: Website
    jobs:
    - job: buildweb
      displayName: Update Web
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-web.yml
        parameters:
          ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
            deploy: true

Add continuous pipeline.
  .github/workflows/continuous.yml
Due: .azure-pipelines/pr.yml

Add release pipeline.
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Fix sif names in upload.
  .github/workflows/publish/action.yml
Due: .azure-pipelines/pr.yml

Fix continuous triggers.
  .github/workflows/continuous.yml
Due: .azure-pipelines/pr.yml

Update src/templates/array3d.h
  src/templates/array3d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use simplified math for both operator[] overloads
  src/templates/array3d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

1295 Continuous and Release (#1317)
  .github/workflows/continuous.yml
  .github/workflows/publish/action.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

1092 - set parameters to correct size when setForm (#1310)
  src/classes/interactionpotential.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Include scaled energy for intramolecular terms. (#1315)
  src/classes/energykernel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Implement legacy module name conversion.
  src/main/keywords_layer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename RDF module to GR.
  benchmark/calculate_gr/calculate_gr_benchmark.cpp
  benchmark/common/problems.h
  src/gui/menu_layer.cpp
  src/modules/benchmark/process.cpp
  src/modules/epsr/gui/epsrwidget_funcs.cpp
  src/modules/epsr/process.cpp
  src/modules/gr/CMakeLists.txt
  src/modules/gr/functions.cpp
  src/modules/gr/gr.cpp
  src/modules/gr/gr.h
  src/modules/gr/gui/CMakeLists.txt
  src/modules/gr/gui/grwidget.h
  src/modules/gr/gui/grwidget.ui
  src/modules/gr/gui/grwidget_funcs.cpp
  src/modules/gr/process.cpp
  src/modules/neutronsq/functions.cpp
  src/modules/neutronsq/neutronsq.h
  src/modules/neutronsq/process.cpp
  src/modules/rdf/CMakeLists.txt
  src/modules/rdf/gui/CMakeLists.txt
  src/modules/registry.cpp
  src/modules/sq/process.cpp
  src/modules/sq/sq.cpp
  src/modules/sq/sq.h
  src/modules/widgetproducer.cpp
  src/modules/xraysq/functions.cpp
  src/modules/xraysq/process.cpp
  src/modules/xraysq/xraysq.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename CalculateRDF module to SiteRDF.
  src/gui/menu_layer.cpp
  src/modules/calculate_rdf/CMakeLists.txt
  src/modules/calculate_rdf/gui/CMakeLists.txt
  src/modules/registry.cpp
  src/modules/siterdf/CMakeLists.txt
  src/modules/siterdf/functions.cpp
  src/modules/siterdf/gui/CMakeLists.txt
  src/modules/siterdf/gui/siterdfwidget.h
  src/modules/siterdf/gui/siterdfwidget.ui
  src/modules/siterdf/gui/siterdfwidget_funcs.cpp
  src/modules/siterdf/process.cpp
  src/modules/siterdf/siterdf.cpp
  src/modules/siterdf/siterdf.h
  src/modules/widgetproducer.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Change module names in system tests.
  tests/accumulate/README
  tests/accumulate/accumulate.txt
  tests/bragg/mgo.txt
  tests/broadening/argon_dep0.1indep0.2.txt
  tests/broadening/argon_dep0.2indep0.1.txt
  tests/broadening/argon_qdep0.1.txt
  tests/broadening/argon_qdep0.2.txt
  tests/broadening/argon_qindep0.1.txt
  tests/broadening/argon_qindep0.2.txt
  tests/calculate_avgmol/bendy.124.restart
  tests/calculate_avgmol/bendy.txt
  tests/calculate_avgmol/water.txt
  tests/calculate_dangle/dangle.txt
  tests/calculate_rdf/README
  tests/calculate_rdf/cn.txt
  tests/calculate_rdf/dynamic.txt
  tests/calculate_rdf/npt.txt
  tests/calculate_rdf/rdf.txt
  tests/calculate_sdf/sdf.txt
  tests/correlations/sq.txt
  tests/epsr/benzene.txt
  tests/epsr/pcof.txt
  tests/epsr/water-neutron-xray.txt
  tests/epsr/water-poisson.txt
  tests/exchangeable/watermeth.txt
  tests/restart/README
  tests/restart/benzene.txt
  tests/restart/rdf.txt
  tests/xray/water.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix targets in Accumulate module.
  src/modules/accumulate/accumulate.cpp
  src/modules/accumulate/process.cpp
  tests/accumulate/accumulate.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update examples with new module naming.
  examples/argon/input.txt
  examples/benzene/input.txt
  examples/cu-btc/input.txt
  examples/emim-oac/input.txt
  examples/post-processing/input.txt
  examples/silica_bulk/input.txt
  examples/water/input.txt
Due: none

Clang 13 format
  src/modules/epsr/process.cpp
  src/templates/array3d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fluctuation smoothing off by default. (#1318)
  src/modules/epsr/epsr.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Inxlude math header for Windows benefit.
  unit/math/expression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Cache nix stuff in build stage, removing dissolve-related artifacts from store.
  .github/workflows/build/linux/action.yml
  .github/workflows/get-nix/action.yml
Due: .azure-pipelines/pr.yml

1268 two element overload (#1316)
  src/modules/epsr/process.cpp
  src/templates/array3d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Cache nix stuff in build stage, removing dissolve-related artifacts from store. (#1312)
  .github/workflows/build/linux/action.yml
  .github/workflows/get-nix/action.yml
Due: .azure-pipelines/pr.yml

Inxlude math header for Windows benefit. (#1321)
  unit/math/expression.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use optionals in GR module.
  src/modules/gr/gr.cpp
  src/modules/gr/gr.h
  src/modules/gr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use optionals in MD module.
  src/modules/md/md.cpp
  src/modules/md/md.h
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added optional keywork to EPSR and fixed md module
  src/modules/epsr/epsr.cpp
  src/modules/epsr/epsr.h
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
  src/modules/md/md.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

format corrections
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added textWhenNull to optionals
  src/modules/epsr/epsr.cpp
  src/modules/epsr/epsr.h
  src/modules/md/md.h
  src/modules/md/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

missed format change
  src/modules/epsr/epsr.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

added more suggested changes
  src/modules/epsr/functions.cpp
  src/modules/epsr/process.cpp
  src/modules/gr/gr.cpp
  src/modules/gr/gr.h
  src/modules/gr/process.cpp
  src/modules/md/md.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

missed format change
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

nCoeffP fix
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

format fit
  src/modules/epsr/process.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Stop creating restartable keywords twice.
  src/keywords/store.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use parameter names for bond terms.
  src/data/ff/bondterm.cpp
  src/data/ff/bondterm.h
  src/data/ff/ff.cpp
  src/data/ff/ff.h
  src/data/ff/kulmala2010/kulmala2010.cpp
  src/data/ff/ludwig/ntf2.cpp
  src/data/ff/ludwig/py4oh.cpp
  src/data/ff/ludwig/py5.cpp
  src/data/ff/oplsaa2005/intramolecular.cpp
  src/data/ff/pcl2019/intramolecular.cpp
  src/data/ff/spcfw/spcfw.cpp
  src/data/ff/strader2002/dmso.cpp
  src/data/ff/zhang2013/zhang2013.cpp
  src/data/ff/zhao2010/zhao2010.cpp
  src/gui/models/xmlBondModel.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update FFs.
  src/data/ff/oplsaa2005/atomtypes.cpp
  src/data/ff/uff/uff.cpp
  src/data/ff/zhang2013/zhang2013.cpp
  src/data/ff/zhao2010/zhao2010.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, icon, tests, unit, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, .cmake-format.json, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml, scripts
  .azure-pipelines/pr.yml: any file but: examples, scripts, web, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
  .azure-pipelines/web.yml: any of: web, .azure-pipelines/templates/build-web.yml, but not: *
